target
.idea
.vscode
.sts4-cache
*.iml
.DS_Store
netrunner.db
test.db
staticcopy/content
staticcopy/node_modules
src/main/resources/static/img/cards/*
src/main/resources/static/img/ids/*
ktm*
selenium-*
reports
staticcopy/cards.json
src/main/resources/static/img/ids
!.gitkeep
know-the-meta.*
staticcopy/nightwatch/bin
.settings
.classpath
.factorypath
.project
