<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title th:text="${pageTitle}">Know the Meta - Android: Netrunner</title>
    <meta name="description" content="Know the Meta - providing statistical information on the metagame of Android: Netrunner cardgame." />
    <meta name="keywords" content="Netrunner, Android, meta, cardgame, decks, cards, identities, factions, winning, top" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/apple-touch-icon-57x57.png}" />
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/apple-touch-icon-60x60.png}" />
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/apple-touch-icon-72x72.png}" />
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/apple-touch-icon-76x76.png}" />
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/apple-touch-icon-114x114.png}" />
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/apple-touch-icon-120x120.png}" />
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/apple-touch-icon-144x144.png}" />
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/apple-touch-icon-152x152.png}" />
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/apple-touch-icon-180x180.png}" />
    <link rel="icon" type="image/png" th:href="@{/favicon-32x32.png}" sizes="32x32" />
    <link rel="icon" type="image/png" th:href="@{/android-chrome-192x192.png}" sizes="192x192" />
    <link rel="icon" type="image/png" th:href="@{/favicon-96x96.png}" sizes="96x96" />
    <link rel="icon" type="image/png" th:href="@{/favicon-16x16.png}" sizes="16x16" />
    <link rel="manifest" th:href="@{/manifest.json}" />
    <link rel="mask-icon" th:href="@{/safari-pinned-tab.svg}" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#603cba" />
    <meta name="msapplication-TileImage" th:content="@{/mstile-144x144.png}" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="/static/css/ktm3.concat.min.css" />
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
        window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-bottom"};
    </script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->
</head>
<body th:fragment="scripts">
        <script type="text/javascript" src="/static/js/ktm3.concat.min.js"></script>
</body>
</html>