<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

    <div th:fragment="cardpool">
        <button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#infopanel">Help</button>
        <div class="panel panel-default collapse top-buffer" id="infopanel">
            <div class="panel-heading">Cardpool</div>
            <div class="panel-body">
                <p>This section gives you information on which cardpools we have information on.</p>
                <ul>
                    <li><strong>Tournaments:</strong> the number of tournaments we have information on.</li>
                    <li><strong>Decks:</strong> the number of decks we have information on.</li>
                    <li><strong>Rankings:</strong> the number of tournaments rankings we have information on.
                        This consists of the identity information about a certain rank (i.e third place
                        played Andromeda at the tournament).</li>
                </ul>
                <p>We gather information from <a href="http://acoo.net" target="_blank">Acoo</a> and
                    <a href="http://stimhack.com" target="_blank">Stimhack</a> in an automated way.</p>
            </div>
        </div>
    </div>

    <div th:fragment="mds">
        <button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#infopanel">Help</button>
        <div class="panel panel-default collapse top-buffer" id="infopanel">
            <div class="panel-heading">Deck similarity / Average card usage</div>
            <div class="panel-body">
                <p>The chart gives you information on <strong>similarity of decks</strong> being played with a
                    certain identity. The information is also filtered for tournaments with deck pool up to a particular
                    data pack / expansion.</p>
                <p>Similar decks are placed close to each other on the chart, decks with a lot of differencies
                    are spread out far apart.</p>
                <p>Click a point on the chart and select <em>See decklisk</em> to get the list of cards of the deck.</p>
                <p><span class="glyphicon glyphicon-one-fine-star"></span> top deck<br />
                    <span class="glyphicon glyphicon-one-fine-dot"></span> non-top deck</p>
                <p>Top decks are considered to be the decks played by the top 30% ranking players on each tournament.</p>
                <p><strong>Average card usage</strong> gives you information on which cards are being played.</p>
            </div>
        </div>
    </div>
</body>
</html>