<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:fragment="navbar">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/#}"><img th:src="@{/static/img/knowthemeta20x20.png}" /></a>
                <a class="navbar-brand" th:href="@{/#}">Know the Meta - Netrunner</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/#}">Cardpools</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data Packs / Expansions <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="pooldrop"></ul>
                    </li>
                    <li><a href="/Info.html">Info</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>