<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:fragment="navbar">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/#top}"><img th:src="@{/static/img/knowthemeta20x20.png}" /></a>
                <a class="navbar-brand" th:href="@{/#top}">Know the Meta - Netrunner</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/#top}">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tournament Drilldown<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="@{/DPStats/Last 3 aggregated/}"><em>last 3 aggregated</em></a>
                            </li>
                            <li th:each="cardpool : ${cardpools}">
                                <a th:text="${cardpool}" th:href="@{/DPStats/__${cardpool}__/}"></a>
                            </li>
                        </ul>
                    </li>
                    <li><a th:href="@{/Cards}">Cards</a></li>
                    <li><a th:href="@{/Buyers-Guide}">Buyers Guide</a></li>
                    <li><a th:href="@{/Blog}">Blog</a></li>
                    <li><a th:href="@{/Info}">Info</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>