<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <!-- social -->
    <div th:fragment="icons" class="pull-right">
        <div class="pull-right">
            <a href="https://www.facebook.com/netrunnerknowthemeta/"><img src="/static/img/social-fb.png" /></a>
            <a href="https://twitter.com/knowthemeta"><img src="/static/img/social-twitter.png" /></a>
            <a href="http://forum.stimhack.com/t/know-the-meta/6306"><img src="/static/img/social-stimhack.png" /></a>
        </div>
    </div>
</body>
</html>