

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.top-buffer { margin-top: 20px; }
.top-buffer-big { margin-top: 30px; }
.more-padding { padding: 5px 15px 0px; }

.italic {
    font-style: italic;
}

.shrink {
    white-space: nowrap;
}
.expand {
    width: 100%;
}

.table-nonfluid {
    width: auto !important;
}

.blog-text {
    text-align: justify;
}

.blog-text > h5 {
    margin-top: 20px;
}

.blog-big-picture {
    max-width: 100%;
    height: auto;
}
.card-small {
    width: 143px;
    height: 200px;
}

.card-medium {
    width: 207px;
    height: 290px;
}

.card-big {
    width: 300px;
    height: 418px;
}

.my-popover {
    cursor: pointer
}

.info-box {
    border-radius: 5px;
    margin: 20px 0px;
    padding: 10px 15px;
    text-align: center;
}

.teaser-col {
    text-align: justify;
    vertical-align: middle;
    display: table-cell;
    float: none;
}

.blog-image {
    margin: 20px 5px 10px 5px;
    text-align: center;
}

.blog-image > div {
    text-align: center;
    margin: 0px 0px 5px 0px;
}

.link-card {
    text-decoration: underline;
    color: #333;
    /*font-weight: 500;*/
}

.link-card-broken {
    color: red;
}

.glyphicon.glyphicon-one-fine-dot:before {
    content: "\25cf";
    font-size: 1.5em;
}

.glyphicon.glyphicon-one-fine-star:before {
    content: "\2605";
    font-size: 1.0em;
}

/* influence bullet colors */
.influence { font-size: 1.0em; }
.inf-shaper { color: limegreen; }
.inf-criminal { color: royalblue; }
.inf-anarch { color: orangered; }
.inf-jinteki { color: crimson; }
.inf-haas-bioroid { color: blueviolet; }
.inf-weyland-consortium { color: darkgreen; }
.inf-nbn { color: darkorange; }
.inf-neutral { color: gray; }
.inf-apex { color: darkred; }
.inf-sunny-lebeau { color: black; }
.inf-adam { color: darkgoldenrod; }

.stat-col {
    width: 13%;
}

/* CSS loader spinner by Stephan Wagner */
@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
    min-width: 24px;
    min-height: 48px;
    position: relative;
}

.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    margin-left: -10px;
}

.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #03ade0;
    border-bottom-color: #03ade0;
    animation: spinner .8s ease infinite;
    -webkit-animation: spinner .8s ease infinite;
}

.chart-responsive {
    min-height: 300px;
    width: 100%;
}

.mds-chart {
    min-height: 300px;
}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

/* navbar */
.navbar-inverse {
    background-color: #2c3653;
    background-image: linear-gradient(to bottom, #2c3653, #1e2438 100%);
    border-color: #E7E7E7;
}
.navbar-inverse .navbar-brand {
    color: #CCC;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #FFF;
}
.navbar-inverse .navbar-nav > li > a {
    color: #CCC;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #FFF;
    background-color: #3894b7;
    background-image: linear-gradient(to bottom, #3894b7, #317f9e 100%);
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #1f263b;
    background-image: linear-gradient(to bottom, #1f263b, #121521 100%);
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #FFF;
    background-color: #1f263b;
    background-image: linear-gradient(to bottom, #1f263b, #121521 100%);
}
/* caret */
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #CCC;
    border-bottom-color: #CCC;
}












