<div class="blog-image"><img src="/static/img/blog/netrunner-andromeda.png" alt="Netrunner Andromeda" class="card-small"/></div>
<p>In this article I'm analyzing the card pool of tournament winning Andromeda runner decks. To do this, I'm using the
    deck lists provided by <a href="http://stimhack.com" target="_blank" rel="nofollow">Stimhack.</a></p>
<p>I'm limiting the decks to the <strong>Double Time</strong> and <strong>Fear and Loathing</strong> time period. It
    still gives a relatively big amount of data, and the cards of the last data pack didn't really make it into the
    most popular builds. (If you ask me Andromeda builds haven't really changed much since <strong>Opening Moves</strong>.)</p>
<p>Andromeda decks are quite uniform, usually they don't show as much variance as other identities, so they are ideal
    for statistical analysis. There is only one build that differs  from the standard Andromeda deck, that is the
    <a href="http://netrunnerdb.com/en/card/04085" target="_blank" rel="nofollow">Blackguard</a> build. I will filter
    these out, and it still leaves us with 44 decks out of the 47 in total.</p>
<p>I'm providing two data after each card in brackets. Average number and percentage of being used in decks. For all
    the cards, see the <a href="#summarytable">summary table</a> at the end of this article. So, let's see the most
    popular cards broken down by type!</p>
<hr />
<h4>Events</h4>
<p>This includes burst economy and awesome criminal events.</p>
<div class="row blog-image">
    <div class="col-md-4 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/01018" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-account-siphon.png" alt="Netrunner Account Siphon" class="card-small"/></a>
    </div>
    <div class="col-md-4 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/03052" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-dirty-laundry.png" alt="Netrunner Dirty Laundry" class="card-small"/></a>
    </div>
    <div class="col-md-4 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/01050" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-sure-gamble.png" alt="Netrunner Sure Gamble" class="card-small"/></a>
    </div>
</div>
<p>We have <a href="http://netrunnerdb.com/en/card/01018" target="_blank" rel="nofollow">Account Siphon</a> [2.93; 100%],
    <a href="http://netrunnerdb.com/en/card/03052" target="_blank" rel="nofollow">Dirty Laundry</a> [2.93; 100%] and
    <a href="http://netrunnerdb.com/en/card/01050" target="_blank" rel="nofollow">Sure Gamble</a> [2.93; 98%] as the
    top money making cards. Usually Account Siphon by itself convinces people to play criminal and makes corporations
    grind their teeth. It's one of the best cards ever, many players consider it overpowered.</p>
<div class="row blog-image">
    <div class="col-md-4 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/01022" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-special-order.png" alt="Netrunner Special Order" class="card-small"/></a>
    </div>
    <div class="col-md-4 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/02043" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-emergency-shutdown.png" alt="Netrunner Emergency Shutdown" class="card-small"/></a>
    </div>
    <div class="col-md-4 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/01021" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-inside-job.png" alt="Netrunner Inside Job" class="card-small"/></a>
    </div>
</div>
<div class="row blog-image">
    <div class="col-md-6 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/04004" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-hostage.png" alt="Netrunner Hostage" class="card-small"/></a>
    </div>
    <div class="col-md-6 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/01019" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-easy_mark.png" alt="Netrunner Easy Mard" class="card-small"/></a>
    </div>
</div>
<p>Other awesome criminal events include
    <a href="http://netrunnerdb.com/en/card/01022" target="_blank" rel="nofollow">Special Order</a> [2.77; 100%],
    <a href="http://netrunnerdb.com/en/card/02043" target="_blank" rel="nofollow">Emergency Shutdown</a> [2.36; 98%],
    <a href="http://netrunnerdb.com/en/card/01021" target="_blank" rel="nofollow">Inside Job</a> [2.22; 95%],
    <a href="http://netrunnerdb.com/en/card/04004" target="_blank" rel="nofollow">Hostage</a> [1.09; 57%] and
    <a href="http://netrunnerdb.com/en/card/01019" target="_blank" rel="nofollow">Easy Mark</a> [0.98; 39%].
    Tutoring for the right breaker or contact helps criminals a lot.</p>
<p><a href="http://netrunnerdb.com/en/card/01020" target="_blank" rel="nofollow">Forged Activation Order</a> [0.62; 32%] and
    <a href="http://netrunnerdb.com/en/card/01049" target="_blank" rel="nofollow">Infiltration</a> [0.53; 30%]
    do not see as much play as they used to.</p>
<hr />
<h4>Hardware</h4>
<div class="row blog-image">
    <div class="col-md-4 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/01024" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-desperado.png" alt="Netrunner Desperado" class="card-small" /></a>
    </div>
    <div class="col-md-4 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/02009" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-plascrete-carapace.png" alt="Netrunner Plascrete Carapace" class="card-small"/></a>
    </div>
    <div class="col-md-4 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/02107" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-RD-interface.png" alt="Netrunner R&amp;D Interface" class="card-small"/></a>
    </div>
</div>
<p><a href="http://netrunnerdb.com/en/card/01024" target="_blank" rel="nofollow">Desperado</a> [2.80; 100%] is a
    must have and sadly, you better have three of it. In my experience, this is the card that nets you the most credits.
    I often mulligan if I cannot see it in my opening hand.
    <a href="http://netrunnerdb.com/en/card/02009" target="_blank" rel="nofollow">Plascrete Carapace</a> [2.36; 95%] is
    also an auto-include because of
    <a href="http://netrunnerdb.com/en/card/01099" target="_blank" rel="nofollow">Scorched Earths</a> and
    <a href="http://netrunnerdb.com/en/card/04079" target="_blank" rel="nofollow">Punitive Counterstrikes</a>.
    Usually two is enough because of Andromeda's ability.
    <a href="http://netrunnerdb.com/en/card/02107" target="_blank" rel="nofollow">R&amp;D Interface</a> [1.84; 84%] is
    needed to maintain a lock on R&amp;D, which is quite important when playing against a fast advance corporation.
    Other hardware are rarely ever used. </p>
<hr/>
<h4>Resources</h4>
<div class="row blog-image">
    <div class="col-md-3 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/02091" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-kati-jones.png" alt="Netrunner Kati Jones" class="card-small" /></a>
    </div>
    <div class="col-md-3 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/04009" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-john-masanori.png" alt="Netrunner John Masanori" class="card-small"/></a>
    </div>
    <div class="col-md-3 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/03049" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-professional-contacts.png" alt="Netrunner Professional Contacts" class="card-small"/></a>
    </div>
    <div class="col-md-3 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/02105" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-mr-li.png" alt="Netrunner Mr Li" class="card-small"/></a>
    </div>
</div>
<p>Andromeda decks usually have a couple of Connection type resources.
    <a href="http://netrunnerdb.com/en/card/02091" target="_blank" rel="nofollow">Kati Jones</a> [1.66; 89%]
    provides the runner with credits. As for additional card draw, players tend to use one of the following:
    <a href="http://netrunnerdb.com/en/card/04009" target="_blank" rel="nofollow">John Masanori</a> [0.34; 30%],
    <a href="http://netrunnerdb.com/en/card/03049" target="_blank" rel="nofollow">Professional Contacts</a> [0.34; 34%] or
    <a href="http://netrunnerdb.com/en/card/02105" target="_blank" rel="nofollow">Mr. Li</a> [0.27; 20%].</p>
<div class="row blog-image">
    <div class="col-md-6 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/03054" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-same-old-thing.png" alt="Netrunner Same Old Thing" class="card-small" /></a>
    </div>
    <div class="col-md-6 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/03053" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-daily-casts.png" alt="Netrunner Daily Casts" class="card-small"/></a>
    </div>
</div>
<p><a href="http://netrunnerdb.com/en/card/03054" target="_blank" rel="nofollow">Same Old Thing</a> [1.55; 64%]
    adds some event recursion (Account Siphon, Emergency Shutdown, Inside Job, Special Order) and
    <a href="http://netrunnerdb.com/en/card/03053" target="_blank" rel="nofollow">Daily Cards</a> [1.09; 41%]
    can be used for getting ever more credits. </p>
<hr/>
<h4>ICE breakers</h4>
<div class="row blog-image">
    <div class="col-md-3 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/02104" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-faerie.png" alt="Netrunner Faerie" class="card-small" /></a>
    </div>
    <div class="col-md-3 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/01007" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-corroder.png" alt="Netrunner Corroder" class="card-small"/></a>
    </div>
    <div class="col-md-3 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/01014" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-yog.0.png" alt="Netrunner Yog.0" class="card-small"/></a>
    </div>
    <div class="col-md-3 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/01011" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-mimic.png" alt="Netrunner Mimic" class="card-small"/></a>
    </div>
</div>
<p>Since sentries can be dangerous these days,
    <a href="http://netrunnerdb.com/en/card/02104" target="_blank" rel="nofollow">Faerie</a> [2.07; 84%] sees quite
    some play. Other cheap breakers come from the anarch suite:
    <a href="http://netrunnerdb.com/en/card/01007" target="_blank" rel="nofollow">Corroder</a> [1.80, 100%],
    <a href="http://netrunnerdb.com/en/card/01014" target="_blank" rel="nofollow">Yog.0</a> [1.07, 86%] and
    <a href="http://netrunnerdb.com/en/card/01011" target="_blank" rel="nofollow">Mimic</a> [0.95; 84%].
    Please note that these breakers depend highly on Datasuckers. </p>
<div class="row blog-image">
    <div class="col-md-6 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/01026" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-femme-fatale.png" alt="Netrunner Femme Fatale" class="card-small" /></a>
    </div>
    <div class="col-md-6 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/01051" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-crypsis.png" alt="Netrunner Crypsis" class="card-small"/></a>
    </div>
</div>
<p><a href="http://netrunnerdb.com/en/card/01026" target="_blank" rel="nofollow">Femme Fatale</a> [0.77; 70%]
    is there to handle troublesome ICE (i.e. Tollbooth) and can also break sentries if needed (do not forget!).
    <a href="http://netrunnerdb.com/en/card/01051" target="_blank" rel="nofollow">Crypsis</a> [0.75; 61%]
    is usually a quick access through any ice (even Chimera), but consumes a lot of credits and clicks.
    These two programs might help you out if other breakers have been trashed or discarded due to damage.
    Power Shutdown can be a real pain to the criminals, since they have no program recursion on their own
    (Clone Chip, Test Run, Scavange). </p>
<hr/>
<h4>Other programs</h4>
<div class="blog-image"><a href="http://netrunnerdb.com/en/card/01008" target="_blank" rel="nofollow">
    <img src="/static/img/blog/netrunner-datasucker.png" alt="Netrunner Datasucker" class="card-small"/></a></div>
<p>The only program worth mentioning here is
    <a href="http://netrunnerdb.com/en/card/01008" target="_blank" rel="nofollow">Datasucker</a>(2.61; 89%).
        It's just essential if you are running Yog.0 or Mimic, and it also cuts down the cost of breaking ICE.
        It works well with the expensive-to-strenghten breakers: Femme Fatale and Crypsis. Any other programs are marginal.
</p>
<hr/>
<a name="summarytable"></a>
<table class="table table-bordered">
    <thead>
        <tr><th>title</th><th>set</th><th>used</th><th>average</th><th>AIU <sup>1</sup></th></tr>
    </thead>
    <tbody>
    <tr><td class="warning" colspan="5">Events</td></tr>
    <tr><td><strong>Account Siphon</strong></td><td class="italic">Core</td><td class="text-right">100%</td><td class="text-center">2.93</td><td class="centered">2.93</td></tr>
    <tr><td><strong>Dirty Laundry</strong></td><td class="italic">Creation and Control</td><td class="text-right">100%</td><td class="text-center">2.93</td><td class="centered">2.93</td></tr>
    <tr><td><strong>Special Order</strong></td><td class="italic">Core</td><td class="text-right">100%</td><td class="text-center">2.77</td><td class="centered">2.77</td></tr>
    <tr><td><strong>Sure Gamble</strong></td><td class="italic">Core</td><td class="text-right">98%</td><td class="text-center">2.93</td><td class="centered">2.99</td></tr>
    <tr><td><strong>Emergency Shutdown</strong></td><td class="italic">Cyber Exodus</td><td class="text-right">98%</td><td class="text-center">2.34</td><td class="centered">2.39</td></tr>
    <tr><td><strong>Inside Job</strong></td><td class="italic">Core</td><td class="text-right">95%</td><td class="text-center">2.27</td><td class="centered">2.39</td></tr>
    <tr><td><strong>Hostage</strong></td><td class="italic">Opening Moves</td><td class="text-right">57%</td><td class="text-center">1.11</td><td class="centered">1.95</td></tr>
    <tr><td><strong>Easy Mark</strong></td><td class="italic">Core</td><td class="text-right">39%</td><td class="text-center">0.95</td><td class="centered">2.44</td></tr>
    <tr><td>Forged Activation Orders</td><td class="italic">Core</td><td class="text-right">32%</td><td class="text-center">0.64</td><td class="centered">2.00</td></tr>
    <tr><td>Infiltration</td><td class="italic">Core</td><td class="text-right">30%</td><td class="text-center">0.50</td><td class="centered">1.67</td></tr>
    <tr><td>Lawyer Up&nbsp;</td><td class="italic">True Colors</td><td class="text-right">16%</td><td class="text-center">0.34</td><td class="centered">2.13</td></tr>
    <tr><td>Blackmail</td><td class="italic">Fear and Loathing</td><td class="text-right">11%</td><td class="text-center">0.18</td><td class="centered">1.64</td></tr>
    <tr><td>Quality Time</td><td class="italic">Humanity's Shadow</td><td class="text-right">11%</td><td class="text-center">0.20</td><td class="centered">1.82</td></tr>
    <tr><td>Levy AR Lab Access</td><td class="italic">Creation and Control</td><td class="text-right">7%</td><td class="text-center">0.07</td><td class="centered">1.00</td></tr>
    <tr><td>Stimhack</td><td class="italic">Core</td><td class="text-right">7%</td><td class="text-center">0.07</td><td class="centered">1.00</td></tr>
    <tr><td>Déjà Vu</td><td class="italic">Core</td><td class="text-right">2%</td><td class="text-center">0.05</td><td class="centered">2.00</td></tr>
    <tr><td>Satellite Uplink</td><td class="italic">Trace Amount</td><td class="text-right">2%</td><td class="text-center">0.05</td><td class="centered">2.00</td></tr>
    <tr><td>Test Run</td><td class="italic">Cyber Exodus</td><td class="text-right">2%</td><td class="text-center">0.05</td><td class="centered">2.00</td></tr>
    <tr><td>The Maker's Eye</td><td class="italic">Core</td><td class="text-right">2%</td><td class="text-center">0.05</td><td class="centered">2.00</td></tr>
    <tr><td>Diesel</td><td class="italic">Core</td><td class="text-right">2%</td><td class="text-center">0.02</td><td class="centered">1.00</td></tr>
    <tr><td class="warning" colspan="5">Hardware</td></tr>
    <tr><td><strong>Desperado</strong></td><td class="italic">Core</td><td class="text-right">100%</td><td class="text-center">2.80</td><td class="centered">2.80</td></tr>
    <tr><td><strong>Plascrete Carapace</strong></td><td class="italic">What Lies Ahead</td><td class="text-right">95%</td><td class="text-center">2.36</td><td class="centered">2.48</td></tr>
    <tr><td><strong>R&amp;D Interface</strong></td><td class="italic">Future Proof</td><td class="text-right">84%</td><td class="text-center">1.84</td><td class="centered">2.19</td></tr>
    <tr><td>HQ Interface</td><td class="italic">Humanity's Shadow</td><td class="text-right">9%</td><td class="text-center">0.11</td><td class="centered">1.22</td></tr>
    <tr><td>Clone Chip</td><td class="italic">Creation and Control</td><td class="text-right">7%</td><td class="text-center">0.11</td><td class="centered">1.57</td></tr>
    <tr><td>Dyson Mem Chip</td><td class="italic">Trace Amount</td><td class="text-right">7%</td><td class="text-center">0.09</td><td class="centered">1.29</td></tr>
    <tr><td>e3 Feedback Implants</td><td class="italic">Trace Amount</td><td class="text-right">5%</td><td class="text-center">0.07</td><td class="centered">1.50</td></tr>
    <tr><td>Lemuria Codecracker</td><td class="italic">Core</td><td class="text-right">2%</td><td class="text-center">0.07</td><td class="centered">3.00</td></tr>
    <tr><td>Akamatsu Mem Chip</td><td class="italic">Core</td><td class="text-right">2%</td><td class="text-center">0.05</td><td class="centered">2.00</td></tr>
    <tr><td>Silencer <span class="superscript">2</span></td><td class="italic">Double Time</td><td class="text-right">2%</td><td class="text-center">0.05</td><td class="centered">2.00</td></tr>
    <tr><td>Doppelgänger</td><td class="italic">A Study in Static</td><td class="text-right">2%</td><td class="text-center">0.02</td><td class="centered">1.00</td></tr>
    <tr><td class="warning" colspan="5">Resources</td></tr>
    <tr><td><strong>Kati Jones</strong></td><td class="italic">Humanity's Shadow</td><td class="text-right">89%</td><td class="text-center">1.66</td><td class="centered">1.87</td></tr>
    <tr><td><strong>Same Old Thing</strong></td><td class="italic">Creation and Control</td><td class="text-right">64%</td><td class="text-center">1.55</td><td class="centered">2.42</td></tr>
    <tr><td><strong>Daily Casts</strong></td><td class="italic">Creation and Control</td><td class="text-right">41%</td><td class="text-center">1.09</td><td class="centered">2.66</td></tr>
    <tr><td><strong>Professional Contacts</strong></td><td class="italic">Creation and Control</td><td class="text-right">34%</td><td class="text-center">0.34</td><td class="centered">1.00</td></tr>
    <tr><td><strong>John Masanori</strong></td><td class="italic">Opening Moves</td><td class="text-right">30%</td><td class="text-center">0.34</td><td class="centered">1.13</td></tr>
    <tr><td><strong>Mr. Li</strong></td><td class="italic">Future Proof</td><td class="text-right">20%</td><td class="text-center">0.27</td><td class="centered">1.35</td></tr>
    <tr><td>Armitage Codebusting</td><td class="italic">Core</td><td class="text-right">11%</td><td class="text-center">0.23</td><td class="centered">2.09</td></tr>
    <tr><td>Decoy</td><td class="italic">Core</td><td class="text-right">7%</td><td class="text-center">0.11</td><td class="centered">1.57</td></tr>
    <tr><td>Compromised Employee</td><td class="italic">Trace Amount</td><td class="text-right">5%</td><td class="text-center">0.14</td><td class="centered">3.00</td></tr>
    <tr><td>Bank Job</td><td class="italic">Core</td><td class="text-right">5%</td><td class="text-center">0.07</td><td class="centered">1.50</td></tr>
    <tr><td>New Angeles City Hall</td><td class="italic">Future Proof</td><td class="text-right">2%</td><td class="text-center">0.05</td><td class="centered">2.00</td></tr>
    <tr><td>Access to Globalsec</td><td class="italic">Core</td><td class="text-right">2%</td><td class="text-center">0.02</td><td class="centered">1.00</td></tr>
    <tr><td>Raymond Flint</td><td class="italic">Mala Tempora</td><td class="text-right">2%</td><td class="text-center">0.02</td><td class="centered">1.00</td></tr>
    <tr><td>Scrubber</td><td class="italic">A Study in Static</td><td class="text-right">2%</td><td class="text-center">0.02</td><td class="centered">1.00</td></tr>
    <tr><td>The Helpful AI</td><td class="italic">What Lies Ahead</td><td class="text-right">2%</td><td class="text-center">0.02</td><td class="centered">1.00</td></tr>
    <tr><td>The Source</td><td class="italic">Creation and Control</td><td class="text-right">2%</td><td class="text-center">0.02</td><td class="centered">1.00</td></tr>
    <tr><td>Underworld Contact</td><td class="italic">A Study in Static</td><td class="text-right">2%</td><td class="text-center">0.02</td><td class="centered">1.00</td></tr>
    <tr><td class="warning" colspan="5">ICE Breakers</td></tr>
    <tr><td><strong>Corroder</strong></td><td class="italic">Core</td><td class="text-right">100%</td><td class="text-center">1.80</td><td class="centered">1.80</td></tr>
    <tr><td><strong>Yog.0</strong></td><td class="italic">Core</td><td class="text-right">86%</td><td class="text-center">1.07</td><td class="centered">1.24</td></tr>
    <tr><td><strong>Faerie</strong></td><td class="italic">Future Proof</td><td class="text-right">84%</td><td class="text-center">2.07</td><td class="centered">2.46</td></tr>
    <tr><td><strong>Mimic</strong></td><td class="italic">Core</td><td class="text-right">84%</td><td class="text-center">0.95</td><td class="centered">1.13</td></tr>
    <tr><td><strong>Femme Fatale</strong></td><td class="italic">Core</td><td class="text-right">70%</td><td class="text-center">0.77</td><td class="centered">1.10</td></tr>
    <tr><td><strong>Crypsis</strong></td><td class="italic">Core</td><td class="text-right">61%</td><td class="text-center">0.75</td><td class="centered">1.23</td></tr>
    <tr><td>Ninja</td><td class="italic">Core</td><td class="text-right">20%</td><td class="text-center">0.20</td><td class="centered">1.00</td></tr>
    <tr><td>Knight</td><td class="italic">Mala Tempora</td><td class="text-right">7%</td><td class="text-center">0.14</td><td class="centered">2.00</td></tr>
    <tr><td>Gordian Blade</td><td class="italic">Core</td><td class="text-right">7%</td><td class="text-center">0.07</td><td class="centered">1.00</td></tr>
    <tr><td>ZU.13 Key Master</td><td class="italic">What Lies Ahead</td><td class="text-right">5%</td><td class="text-center">0.07</td><td class="centered">1.50</td></tr>
    <tr><td>Deus X</td><td class="italic">A Study in Static</td><td class="text-right">2%</td><td class="text-center">0.05</td><td class="centered">2.00</td></tr>
    <tr><td>Torch</td><td class="italic">Mala Tempora</td><td class="text-right">2%</td><td class="text-center">0.02</td><td class="centered">1.00</td></tr>
    <tr><td class="warning" colspan="5">Other Programs</td></tr>
    <tr><td><strong>Datasucker</strong></td><td class="italic">Core</td><td class="text-right">89%</td><td class="text-center">2.61</td><td class="centered">2.93</td></tr>
    <tr><td>Sneakdoor Beta</td><td class="italic">Core</td><td class="text-right">9%</td><td class="text-center">0.16</td><td class="centered">1.78</td></tr>
    <tr><td>Crescentus</td><td class="italic">A Study in Static</td><td class="text-right">5%</td><td class="text-center">0.07</td><td class="centered">1.50</td></tr>
    <tr><td>Savoir-faire <span class="superscript">2</span></td><td class="italic">Double Time</td><td class="text-right">2%</td><td class="text-center">0.07</td><td class="centered">3.00</td></tr>
    <tr><td>Magnum Opus</td><td class="italic">Core</td><td class="text-right">2%</td><td class="text-center">0.05</td><td class="centered">2.00</td></tr>
    <tr><td>Parasite</td><td class="italic">Core</td><td class="text-right">2%</td><td class="text-center">0.05</td><td class="centered">2.00</td></tr>
    <tr><td>Djinn</td><td class="italic">Core</td><td class="text-right">2%</td><td class="text-center">0.02</td><td class="centered">1.00</td></tr>
    <tr><td>Keyhole</td><td class="italic">True Colors</td><td class="text-right">2%</td><td class="text-center">0.02</td><td class="centered">1.00</td></tr>
    <tr><td>Self-modifying Code</td><td class="italic">Creation and Control</td><td class="text-right">2%</td><td class="text-center">0.02</td><td class="centered">1.00</td></tr>
    </tbody>
</table>
<p><sup>1</sup> - average if used<br />
    <sup>2</sup> - card of Double Time, actual usage could be higher</p>