<hr/>
<h4>Summary - MWL changes, card errata</h4>
<ul>
    <li>
        The following cards have been added to the NAPD Most Wanted list <em>(effective from: 2016. August 1st)</em>
        <ul>
            <li><ktm:card title="D4v1d"/></li>
            <li><ktm:card title="Faust"/></li>
            <li><ktm:card title="Wyldside"/></li>
            <li><ktm:card title="Breaking News"/></li>
            <li><ktm:card title="Mumba Temple"/></li>
        </ul>
    </li>
    <li>
        The following cards have been errata'd <em>(effective from: 2016. July 18th)</em>
        <ul>
            <li><ktm:card title="Astroscript Pilot Program"/>: "Limit 1 per deck"</li>
            <li><ktm:card title="Museum of History"/>: "Unique"</li>
        </ul>
    </li>
</ul>
<p>
    You can check out the
    <a href="https://www.fantasyflightgames.com/en/news/2016/7/12/2016-july-rules-update/" target="_blank">official
        announcement</a>.
</p>
<hr/>
<h4>Runners cards of MWL</h4>
<div class="blog-image">
    <img src="/static/img/blog/MWL2-runner.png" alt="Netrunner NAPD Most Wanted runner" class="blog-big-picture"/>
</div>
<p>
    As you can see, Anarchs have been running "wyld" for some time. They have been the most successful runner
    faction for a year.
</p>
<p>
    <strong>Important:</strong>
    <ul>
        <li>The general interest for Anarchs has been dropping since the last two data packs.</li>
        <li>I strongly advise you to compare numbers on all decks (dashed lines) versus the top 30% (solid lines).
            If the "top 30%" is above the "all" that usually means something powerful.</li>
        <li>My current deck data on <em>Fear the Masses</em> is scarce.</li>
    </ul>
    Keep these in mind when evaluating the charts.
</p>
<p>
    My main problem with Anarchs is that they have an answer for all the ICE <strong>in faction</strong>. You add
    a nice draw-engine, IDs with relevant powers (see <ktm:card title="Whizzard: Master Gamer"/> and
    <ktm:card title="Noise: Hacker Extraordinaire"/>) and you have pretty much everything a corporation need to fear.
    Cool flatline protection (<ktm:card title="I've Had Worse"/>) is also helpful.
    You can figure out that Anarchs ruled cyberspace. Yeah, they totally needed a nerf.
</p>
<h5><ktm:card title="D4v1d"/></h5>
<div class="row blog-image">
    <div class="col-xs-6 col-md-3">
        <ktm:img title="D4v1d" size="small"/>
    </div>
    <div class="col-xs-6 col-md-9 blog-image">
        <a href="/Cards/D4v1d/">
            <img src="/static/img/blog/MWL2-d4v1d.png" alt="Netrunner MWL D4v1d" class="blog-big-picture"/>
        </a>
    </div>
</div>
<p>
    This is why big ICE is not good enough. It makes Weyland players cry. It is the nightmare of glacier corporations.
    It laughs at your <ktm:card title="Assassin"/>, <ktm:card title="Archangel"/> and solves
    <ktm:card title="Wraparound"/> without bothering to play a <ktm:card title="Corroder"/>. Come on, half of the decks
    were not playing any fracters (barrier breakers) because of this and <ktm:card title="Faust"/>. Even some cheeky
    Sharpers included it because it is great with recursion.
</p>
<p>
    Personally, I considered <ktm:card title="D4v1d"/> as the root of the problem, not <ktm:card title="Faust"/>. It's
    the ultimate protection against nasty, big ICE and makes you fearless. You should be sweating when the corp rezzes
    a huge sentry. Anarchs should have a high-risk-high-reward play style, not a low-risk-high-reward one. I craved with
    all my heart that it would be on the new MWL list. I am happier person now. If you are an Anarch player, you should still
    include one or two copies. This card is a powerhouse.
</p>
<h5><ktm:card title="Faust"/></h5>
<div class="row blog-image">
    <div class="col-xs-6 col-md-3">
        <ktm:img title="Faust" size="small"/>
    </div>
    <div class="col-xs-6 col-md-9 blog-image">
        <a href="/Cards/Faust/">
            <img src="/static/img/blog/MWL2-faust.png" alt="Netrunner MWL Faust" class="blog-big-picture"/>
        </a>
    </div>
</div>
<p>
    People were outraged. If you played corp, you had felt powerless because of this card. If you look at all the other
    AI breakers (<ktm:card title="Atman"/>, <ktm:card title="Crypsis"/>, <ktm:card title="Knight"/>,
    <ktm:card title="Eater"/>, etc.) you will see that they all come with a huge downside. The problem with
    <ktm:card title="Faust"/> was that it had no downside. Yes, it needed cards as fuel, but
    <ktm:card title="Wyldside"/>+<ktm:card title="Adjusted Chronotype"/> solves that like a charm. An early
    <ktm:card title="Swordsman"/> is a good silver bullet, but it is easily countered by <ktm:card title="Mimic"/>.
</p>
<p>
    You just cannot break every ICE with it. But for big ICE, there's <ktm:card title="D4v1d"/>. For low-strength,
    multi-sub ICE (i.e <ktm:card title="Komainu"/>), there's <ktm:card title="Parasite"/>. It was hard to play corporation
    in that environment. The meta needs this change.
</p>
<h5><ktm:card title="Wyldside"/></h5>
<div class="row blog-image">
    <div class="col-xs-6 col-md-3">
        <ktm:img title="Wyldside" size="small"/>
    </div>
    <div class="col-xs-6 col-md-9 blog-image">
        <a href="/Cards/Wyldside/">
            <img src="/static/img/blog/MWL2-wyldside.png" alt="Netrunner MWL Faust" class="blog-big-picture"/>
        </a>
    </div>
</div>
<p>
    This is just another step needed to tune <ktm:card title="Faust"/> down. Since the common template was 3x
    <ktm:card title="Wyldside"/> + 2x <ktm:card title="Adjusted Chronotype"/>, this is a major 3 influence blow to the
    builds in question. I'm a bit surprised that it's not <ktm:card title="Adjusted Chronotype"/> that is on the MWL.
    Maybe they want to keep the design space open for more click burning cards in the future.
</p>
<h5>The future of Anarch</h5>
<p>
    As we have seen with the previous MWL, it does not make cards disappear from the meta. It only kills previous
    archetypes (i.e. Prepaid Kate) and makes room for other archetypes from the same faction. This is not the last time
    we see <ktm:card title="Faust"/> or <ktm:card title="D4v1d"/>. Maybe they will return as one-offs in some weird
    Shaper or Criminal build. <ktm:card title="D4v1d"/> is still a valuable card in any Anarch deck. But the
    <ktm:card title="Faust"/>+<ktm:card title="Wyldside"/>+<ktm:card title="D4v1d"/>
    era in Anarch should be over. I'm pretty sure Anarch players will return to their beloved fixed-strength breakers +
    <ktm:card title="Datasucker"/>. Maybe it's time for <ktm:card title="Valencia Estevez: The Angel of Cayambe"/> to
    shine. If not, <ktm:card title="Whizzard: Master Gamer"/> and
    <ktm:card title="Noise: Hacker Extraordinaire"/> will always be a good option.
</p>
<hr/>
<h4>Corporation cards of MWL</h4>
<div class="blog-image">
    <img src="/static/img/blog/MWL2-corp.png" alt="Netrunner NAPD Most Wanted corp" class="blog-big-picture"/>
</div>
<p>
    NBN is just nuts.
</p>
<h5><ktm:card title="Breaking News"/></h5>
<div class="row blog-image">
    <div class="col-xs-6 col-md-3">
        <ktm:img title="Breaking News" size="small"/>
    </div>
    <div class="col-xs-6 col-md-9 blog-image">
        <a href="/Cards/Breaking News/">
            <img src="/static/img/blog/MWL2-breaking-news.png" alt="Netrunner MWL Breaking News" class="blog-big-picture"/>
        </a>
    </div>
</div>
<p>
    <a href="/MDSFaction/The%20Liberated%20Mind/nbn">Last time I checked</a>, 81.3% of NBN decks contained this card.
    It's an agenda for fast advancing and enabler for tag-and-bag or <ktm:card title="Exchange of Information"/> decks.
    I guess the problem was not with the fast advance part. The old-school NBN FA deck only contains 1
    <ktm:card title="Breaking News"/> and 1 <ktm:card title="15 Minutes"/>. There are some serious tag punishment cards
    (i.e. Boom!, Observe and Destroy) lurking around the corner. There's no need for all hell breaking lose in the future.
</p>
<h5><ktm:card title="Mumba Temple"/></h5>
<div class="row blog-image">
    <div class="col-xs-6 col-md-3">
        <ktm:img title="Mumba Temple" size="small"/>
    </div>
    <div class="col-xs-6 col-md-9 blog-image">
        <a href="/Cards/Mumba Temple/">
            <img src="/static/img/blog/MWL2-mumba-temple.png" alt="Netrunner MWL Mumba Temple" class="blog-big-picture"/>
        </a>
    </div>
</div>
<p>
    I like to think about it as a harder-to-trash, humbler <ktm:card title="Sundew"/>. Though it is not a constant flow
    of credits, you can maximize its benefits by rezzing assets at the end of the runner's turn. Did the runner think
    you hadn't had the credits to rez that nasty piece of ICE? Well, surprise. Also it is great against
    <ktm:card title="Account Siphon"/>.
</p>
<p>
    Now you can say goodbye to your <a href="http://stimhack.com/regional-guf-brisbane-qld-australia-33-players/">Temple-FA NBN</a>
    decks. <ktm:card title="Mumba Temple"/> is a vital part of many horizontal
    <ktm:card title="Industrial Genomics: Growing Solutions"/> and <ktm:card title="Gagarin Deep Space: Expanding the Horizon"/>
    builds. The kind of decks which players always bitch about. Being strong and annoying is usually enough to get you
    on the MWL list.
</p>
<h5><ktm:card title="Museum of History"/>: unique</h5>
<div class="row blog-image">
    <div class="col-xs-6 col-md-3">
        <ktm:img title="Museum of History" size="small"/>
    </div>
    <div class="col-xs-6 col-md-9 blog-image">
        <a href="/Cards/Museum of History/">
            <img src="/static/img/blog/MWL2-museum-of-history.png" alt="Netrunner MWL Museum of History" class="blog-big-picture"/>
        </a>
    </div>
</div>
<p>
    Again, it's in <ktm:card title="Industrial Genomics: Growing Solutions"/> and
    <ktm:card title="Gagarin Deep Space: Expanding the Horizon"/> decks that scares and infuriates people. I like the
    whole concept of corporation recursion, but it usually boils down to constant shuffling and timed-out matches. I
    believe these decks can be handled and beaten by a good runner. Unfortunately these are the decks that might nudge
    players in the direction of abandoning Netrunner.
</p>
<p>
    Since <ktm:card title="Museum of History"/> is not old enough (6 months) to be on the MWL, some other measures
    were implemented. The same thing worked for <ktm:card title="Wireless Net Pavilion"/> previously. Will this and
    the <ktm:card title="Mumba Temple"/> nerf enough to remove the IG prison decks from the meta? <strong>No</strong>,
    but they will be a bit easier to play against.
</p>
<h5><ktm:card title="AstroScript Pilot Program"/>: limit 1 per deck</h5>
<div class="row blog-image">
    <div class="col-xs-6 col-md-3">
        <ktm:img title="AstroScript Pilot Program" size="small"/>
    </div>
    <div class="col-xs-6 col-md-9 blog-image">
        <a href="/Cards/AstroScript Pilot Program/">
            <img src="/static/img/blog/MWL2-astroscript-pilot-program.png" alt="Netrunner MWL AstroScript Pilot Program" class="blog-big-picture"/>
        </a>
    </div>
</div>
<p>
    This might be final nail in the coffin of NBN fast advance. More on that in the next paragraph. Keep in mind that there
    are already a significant amount (~20%) of NBN decks without <ktm:card title="AstroScript Pilot Program"/>.
</p>
<h5>The future of NBN, in defense of NBN FA</h5>
<p>
    NBN is currently overpowered. The previous MWL added 6 extra influence to the common NBN FA build, but it was not enough.
    This time the burden should be enough to dethrone NBN.
</p>
<p>
    On the other hand, I want to keep NBN fast advance in the meta. <strong>It just needs to be weaker and a bit slower.</strong>
    If you don't
    have fast advance in the meta, runner decks will lose the need to do pressure in the early game. Janky decks are
    fun, but FA is there as a reality check. If you have no chance of beating FA, your deck is slow and
    your concept is probably overcomplicated. Without FA, you might end up with the runner equivalent of IG prison decks.
</p>
<p>
    Playing against FA is not easy, I know. The runner must be aggressive. A well timed HQ multi-access and an R&amp;D lock
    are essential. There's also bluffing going on with remotes which is stressful. Yes, there's luck involved, but you
    are there to mitigate risks. Beating FA also relied on <ktm:card title="Clot"/> AND it's recursion/tutoring.
    This is where Criminals fell short, they require precious influence for both. Will they be good again with the fall
    of NBN FA?
</p>
<p>
    With the introduction of <ktm:card title="Jeeves Model Bioroids"/> and <ktm:card title="Lateral Growth"/>, HB
    might become the most able faction for fast advancing. This is a sudden change in the faction flavor of NBN. Maybe
    Damon wants to redefine NBN as "tagging and tag punishment".
</p>
<hr/>
<h4>Cards that I wish were on the list</h4>
<p>
    I am content with this list. Originally I wanted <ktm:card title="Levy AR Lab Access"/> to be included. It was in
    2/3 of the decks not so long ago. It's default in Shaper, is a must have in Anarch (to keep
    <ktm:card title="Wyldside"/> going) and various Criminal builds
    (<a href="http://stimhack.com/regional-london-77-players/">Gheist</a>,
    <a href="https://netrunnerdb.com/en/decklist/33321/drugs-andy-1st-place-at-pandemonium-sc">Drugs Andy</a>,
    <a href="https://netrunnerdb.com/en/decklist/35053/express-elevator-to-hell-party-edition-ffgc-regionals-1st-">Party Ken</a>)
    were using it. If the <ktm:card title="Faust"/>+<ktm:card title="Wyldside"/> thing becomes irrelevant, then
    <ktm:card title="Levy AR Lab Access"/> should be fine.
</p>
<hr/>
<h4>Other important FAQ updates</h4>
<p>
    <ul>
        <li>
            The deck is shuffled after each card search. The weird <ktm:card title="Mumbad City Hall"/>+<ktm:card title="Heritage Committee"/>
            combo does not work anymore.
        </li>
        <li>
            <ktm:card title="Punitive Counterstrike"/> does damage based on the <strong>printed</strong> agenda points.
        </li>
        <li>
            <ktm:card title="Targeted Marketing"/> does not trigger if it is trashed by a named runner current.
        </li>
        <li>
            <ktm:card title="Hostile Infrastructure"/> does 1 damage for each other simultaneously trashed card.
        </li>
        <li>
            The requirement of <ktm:card title="Always be Running"/> is not fulfilled by programs that make a run.
        </li>
        <li>
            <ktm:card title="Jeeves Model Bioroids"/> must be rezzed before spending the 3 clicks. Additional click
            costs also trigger the card.
        </li>
    </ul>
</p>
<hr/>
<h4>Other tournament rule changes</h4>
<p>
    <ul>
        <li>
            <strong>Tournament scoring</strong>: Winning = 3 points, Modified win (timed win) = 2 points, Draw = 1 point
        </li>
        <li>
            More time for top cut matches (40 min) and finals (60 min)
        </li>
        <li>
            Third-party tokens are officially allowed if they do not obscure the play area.
        </li>
        <li>
            New rules for cards lost and damaged during tournaments. You can proxy.
        </li>
    </ul>
</p>
<hr/>
<a name="tldr" class="anchor">&nbsp;</a>
<h4>My opinion on the new MWL and card errata - TL;DR</h4>
<ul>
    <li>
        <strong>Anarchs</strong>, <strong>NBN FA</strong> and <strong>IG</strong> are nerfed. Strong and annoying decks
        will lose power. It is well deserved.
    </li>
    <li>
        Cards on the MWL list will not disappear from the meta. Cards are on the MWL because they are overpowered. Will
        players stop playing strong cards? Absolutely no. Usually they will cut corners on less powerful parts of their
        deck.
    </li>
    <li>
        The Most Wanted List will make certain archetypes extinct, leaving space for new builds.
    </li>
    <li>
        Criminals will be played more due to less fast advance corporations.
    </li>
    <li>
        Anarchs will likely to return to fixed-strength breakers + <ktm:card title="Datasucker"/>.
        Some influence will be spared for <ktm:card title="D4v1d"/>, I'm sure.
    </li>
    <li>
        Since asset spam decks are weakened, <ktm:card title="Whizzard: Master Gamer"/> will see even less play.
    </li>
    <li>
        NBN FA should be weakened but I hope it will stay in the meta. It is the flavor of the faction and also a
        barrier against overly slow runner decks.
    </li>
    <li>
        NBN is likely to move towards being a tag-punisher faction.
    </li>
</ul>
<hr/>
<p>
    I would love to see your comments below.
</p>