<div class="blog-image">
    <img src="/static/img/blog/NAPD-most-wanted.png" alt="Netrunner NAPD Most Wanted" class="blog-big-picture"/>
</div>
<hr/>
<h4>1 less influence, Wireless Net Pavillion errata</h4>
<p>
    Please note that this is not the same as a +1 influence on these cards. This is a penalty that also applies
    to <strong>in-faction</strong> cards as well. Check out the
    <a href="https://www.fantasyflightgames.com/en/news/2015/12/31/napd-security-upgrades/" target="_blank">official
        announcement</a>
    and the <a href="https://images-cdn.fantasyflightgames.com/filer_public/de/bb/debb8a85-d0db-40d7-8b62-be12260f2fa7/adn_tournament_rules_v302.pdf" target="_blank">
        new Tournament Rules</a>.
</p>
<div class="blog-image">
    <ktm:img title="Wireless Net Pavilion" size="small"/>
</div>
<p class="text-center">
    <ktm:card title="Wireless Net Pavilion"/> was also nerfed in the
    <a href="https://images-cdn.fantasyflightgames.com/filer_public/c9/e5/c9e522d2-d9f6-4053-9a80-684198c25fa5/adn_faq_v301.pdf" target="_blank" rel="nofollow">new FAQ</a>,
    this card is now <strong>unique</strong>.
</p>
<hr/>
<h4>Runners</h4>
<p>The affected runner cards:</p>
<div class="row blog-image">
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Cerberus &quot;Lady&quot; H1" size="small"/>
    </div>
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Clone Chip" size="small"/>
    </div>
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Desperado" size="small"/>
    </div>
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Parasite" size="small"/>
    </div>
</div>
<div class="row blog-image">
    <div class="col-md-3 hidden-xs"></div>
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Prepaid VoicePAD" size="small"/>
    </div>
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Yog.0" size="small"/>
    </div>
    <div class="col-md-3 hidden-xs"></div>
</div>
<h5>Prepaid Kate</h5>
<p>
    This whole stuff smells like Prepaid Kate. The popular archetype
    (<a href="http://www.acoo.net/deck/14859" rel="nofollow" target="_blank">example</a>)
    is being used by a lot of players. These decks show
    <a href="/MDSIdentity/Data%20and%20Destiny/Kate%20%22Mac%22%20McCaffrey:%20Digital%20Tinker/" target="_blank">very little variance</a>.
    This deck is tweaked as it can be and Kate is the
    <a href="/DPStats/Data%20and%20Destiny/#top" target="_blank">most popular top 30%</a>
    runner identity in the meta.
</p>
<p>
    After the nerf, this archetype would lose 9 influence, which is devastating. You can drop the whole "prepaid"
    concept and go with other economy sources,
    <ktm:card title="Professional Contacts"/> and <ktm:card title="Technical Writer"/> seems nice.
    You can try other Kate variants, for example:
    <a href="http://netrunnerdb.com/en/decklist/29419/nexus-kate-v2-0" target="_blank" rel="nofollow">Nexus Kate</a>.
</p>
<p>
    If you are sticking with the
    <ktm:card title="Prepaid VoicePAD"/>s you will have to cut cards hard. You can exchange some of the
    <ktm:card title="Clone Chip"/>s with <ktm:card title="Scavenge"/>. This enables you to use one
    <ktm:card title="Cerberus &quot;Lady&quot; H1"/> less and also opens up play with <ktm:card title="D4v1d"/>.
    You can even throw in a <ktm:card title="Test Run"/> for good measure.
    Try taking some <ktm:card title="Lucky Find"/> out which is sad, but times are hard. If your gamble
    is that fast advance will not be relevant, <ktm:card title="Clot"/> can be left out as well.
</p>
<h5>Other Shapers</h5>
<p>
    The vast majority of Shapers were relying on <ktm:card title="Clone Chip"/> heavily and using
    <ktm:card title="Cerberus &quot;Lady&quot; H1"/>. I guess they can handle the situation they way I just
    outlined.
    <ktm:card title="Hayley Kaplan: Universal Scholar"/> or <ktm:card title="Chaos Theory: Wünderkind"/>
    can be next big thing if Kate falls. Kate still has a very powerful ability which is hard to compete against.
    Poor Rielle "Kit" Peddler will have a hard time with her original 10 influence limit, but I wager the players
    can make some stealth variation work.
</p>
<div class="blog-image">
    <img src="/static/img/blog/silly-professor.png" class="card-small"/>
</div>
<p>
    This guy. Since an ID's influence cannot be reduced below 1, <ktm:card title="The Professor: Keeper of Knowledge"/>
    is not affected by these new rules at all.
    I'm not sure that he becomes tournament-viable, but he has gained some power compared to the other
    identities.
</p>
<h5>Anarchs</h5>
<p>
    All successful non-DLR Anarch decks were using <ktm:card title="Parasite"/> and <ktm:card title="Clone Chip"/>.
    Look at <a href="http://www.acoo.net/deck/14889" target="_blank" rel="nofollow">Faust Noise</a>. Archetypes like
    <a href="http://www.acoo.net/deck/14963" target="_blank" rel="nofollow">RegAss Valencia</a>,
    <a href="http://www.acoo.net/deck/15208" target="_blank" rel="nofollow">L4J Whizzard</a>,
    <a href="http://www.acoo.net/deck/14838" target="_blank" rel="nofollow">RegAss Maxx</a> even used
    <ktm:card title="Yog.0"/> as well. This is a massive hit. They will probably ditch most of the
    <ktm:card title="Clone Chip"/>s and rely more on <ktm:card title="Déjà Vu"/>, <ktm:card title="Trope"/>,
    <ktm:card title="Same Old Thing"/> and <ktm:card title="Retrieval Run"/>. Without <ktm:card title="Clone Chip"/>,
    playing <ktm:card title="Parasite"/> is less effective, but they will probably  hold onto them. The "cutlery" events
    are a substitute option, also <ktm:card title="Immolation Script"/> is nice for Noise.
    They will splash less <ktm:card title="Account Siphon"/> and <ktm:card title="Desperado"/> for sure.
    Maybe <ktm:card title="Quetzal: Free Spirit"/> will become stronger as other identities weaken.
</p>
<p>
    As for the Data Leak Reversal (DLR) <a href="http://www.acoo.net/deck/14790" target="_blank" rel="nofollow">decks</a>,
    I'm puzzled. They are not using the cards on the list, so they receive no influence penalty.
    The fact that you can only have one <ktm:card title="Wireless Net Pavilion"/> on the table is harsh.
    The key to DLR play was to put economic pressure on the corp, so it cannot trash key resources. Now this becomes
    much cheaper. Maybe DLR will fade or move toward Criminals.
</p>
<h5>Criminals</h5>
<p>
    They were kicked in the face less than the other factions, but sapping <ktm:card title="Desperado"/>
    hurts. It might be the best console ever, so I understand that FFG tries to push players towards other Criminal
    consoles. Influence is quite tight in this faction, it usually pays for breakers. Perhaps Criminals will use their
    central breaker suite and <ktm:card title="Faust"/> for remotes.
</p>
<p>
    I'm having my doubts that this nerf will do Criminals any good. With less <ktm:card title="Clone Chip"/> being played,
    breaker destruction will be a valid play style for the corporation. If this happens, Criminals are f*cked. All other
    factions have access to program recursion in some way, but they don't.
</p>
<hr/>
<h4>Corporations</h4>
<p>The affected corporation cards:</p>
<div class="row blog-image">
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Architect" size="small"/>
    </div>
    <div class="col-md-3 col-xs-6">
        <ktm:img title="AstroScript Pilot Program" size="small"/>
    </div>
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Eli 1.0" size="small"/>
    </div>
    <div class="col-md-3 col-xs-6">
        <ktm:img title="NAPD Contract" size="small"/>
    </div>
</div>
<div class="blog-image">
    <ktm:img title="SanSan City Grid" size="small"/>
</div>
<h5>NBN</h5>
<p>
    So if you look at your average
    <a href="http://www.acoo.net/deck/14870" target="_blank" rel="nofollow">NBN astrobiotics deck</a>, this means a
    whopping 11 penalty in influence. Clearly Damon (current designer of Netrunner at FFG) had enough of this archetype.
    Somewhat comforting, <ktm:card title="Near-Earth Hub: Broadcast Center"/> starts at the unreasonable 17 influence.
    You will probably keep the
    <ktm:card title="AstroScript Pilot Program"/>s, the <ktm:card title="SanSan City Grid"/>s, with the option of using
    <ktm:card title="Explode-a-Palooza"/> instead of <ktm:card title="NAPD Contract"/>. The place where you will probably
    cut your losses is the ICE. NBN lacks good end-the-run ICE, so the chance that the runner will just steamroll you
    will be greater than before. You can try going with the tags using <ktm:card title="Data Raven"/>,
    <ktm:card title="Gutenberg"/>, <ktm:card title="Resistor"/>, maybe <ktm:card title="Turnpike"/>. Just be sure to
    punish the tags somehow. <ktm:card title="Psychographics"/> is a fast-advance solution,
    <ktm:card title="Closed Accounts"/> and <ktm:card title="The All-Seeing I"/> can yield some painful in-faction
    moments.
</p>
<div class="blog-image">
    <img src="/static/img/blog/silly-astro.png" class="card-small"/>
</div>
<p>
    What about the <a href="http://www.acoo.net/deck/14206" target="_blank" rel="nofollow">butcher shop</a>?
    Still possible, but the influence becomes really scarce. These decks used to have a fast-advance "plan B"
    if the murder fails which was also a nice pressure option for the runner. Now this is almost impossible. Maybe if
    you are willing to sacrifice <ktm:card title="Traffic Accident"/>s. Bottom line is this archetype also loses power.
</p>
<p>
    The other NBN identities will face the same problem. They either sacrifice the fast-advance option or the good
    end-the-run ICE. The default agenda composition is stirred. If NBN players lean toward the glacier style,
    <ktm:card title="AstroScript Pilot Program"/> will be left out and we will see
    <ktm:card title="Global Food Initiative"/> more often. <ktm:card title="Project Beale"/>+<ktm:card title="Psychographics"/>,
    <ktm:card title="Quantum Predictive Model"/> and maybe even <ktm:card title="Market Research"/> will be played if
    you can tag the runner effectively. Glaciers need a lot of money for big ICE. The new identities like
    <ktm:card title="Spark Agency: Worldswide Reach"/> and <ktm:card title="New Angeles Sol: Your News"/>
    (with <ktm:card title="Paywall Implementation"/>)
    might be able to pull that off while protecting their servers with <ktm:card title="Tollbooth"/>,
    <ktm:card title="Archangel"/> and <ktm:card title="Ash 2X3ZB9CY"/>.
</p>
<h5>Haas-Bioroid</h5>
<p>
    <a href="http://www.acoo.net/deck/14789" target="_blank" rel="nofollow">Foodcoats</a> is in bad shape also,
    <ktm:card title="Eli 1.0"/>, <ktm:card title="Architect"/> and <ktm:card title="NAPD Contract"/> are nerfed.
    I find <ktm:card title="Architect"/> the easiest to rid, the Ichies, <ktm:card title="Rototurret"/> and
    <ktm:card title="Assassin"/> can take its place. <ktm:card title="Eli 1.0"/> is such a wonderful taxer, you
    either still keep it, or you can replace it with <ktm:card title="Viper"/>, <ktm:card title="Enigma"/>,
    perhaps <ktm:card title="Markus 1.0"/>. Dropping <ktm:card title="NAPD Contract"/>
    would leave a gaping hole, you might fill some with <ktm:card title="Project Vitruvius"/>. Reducing
    <ktm:card title="Caprice Nisei"/> to regain some influence is an option, but a grievous one.
</p>
<p>
    <a href="http://netrunnerdb.com/en/decklist/26845/" target="_blank" rel="nofollow">NEXT decks</a> might be a good
    thing again, provided that people will play less <ktm:card title="Parasite"/> and <ktm:card title="Clone Chip"/>.
    In that case, <ktm:card title="Marcus Batty"/> and <ktm:card title="NEXT Gold"/> become heavy hitters. I'm
    skeptic about other HB identities.
</p>
<h5>Jinteki</h5>
<p>
    Jinteki has some awesome multi-sub ICE like <ktm:card title="Komainu"/> and <ktm:card title="Tsurugi"/>. The problem
    was that they have low strength and were vulnerable to <ktm:card title="Parasite"/>. Now they will become more
    playable and thus offer a taxing solution against the much abused <ktm:card title="Faust"/>.
</p>
<p>
    <a href="http://www.acoo.net/deck/14868" target="_blank" rel="nofollow">Replicating Perfection decks</a> were
    having problems playing against <ktm:card title="Noise: Hacker Extraordinaire"/>, this becomes less relevant.
    It will probably become a top-tier archetype again.
    <ktm:card title="Jinteki: Personal Evolution"/>
    (<a href="http://www.acoo.net/deck/14868" target="_blank" rel="nofollow">example</a>)
    and <ktm:card title="Industrial Genomics: Growing Solutions"/>
    (<a href="http://www.acoo.net/deck/14862" target="_blank" rel="nofollow">example</a>) can be successful as well.
    These decks need to cut some <ktm:card title="Eli 1.0"/>s and they should be fine.
</p>
<h5>Weyland</h5>
<p>
    Weyland is the king of barriers, less <ktm:card title="Cerberus &quot;Lady&quot; H1"/> and
    <ktm:card title="Parasite"/> will help it. This is the faction is least affected by the NAPD Most
    Wanted list,
    only <ktm:card title="NAPD Contract"/> comes into mind. I'm sure players will manage to squeeze
    something else in or find the required influence.
    The changes overall will surely make Weyland more relevant
    than before.
</p>
<p>
    Less <ktm:card title="Clone Chip"/> means that program trashing is more viable. This faction is very good at this
    using <ktm:card title="Power Shutdown"/> and <ktm:card title="Archer"/>. <ktm:card title="Assassin"/>,
    <ktm:card title="Grim"/> and <ktm:card title="Will-o'-the-Wisp"/> also helps.
</p>
<p>
    My predictions is that the top identities will be <ktm:card title="Blue Sun: Powering the Future"/> and maybe
    <ktm:card title="Gagarin Deep Space: Expanding the Horizon"/>. There is a recent article on Gagarin
    <a href="http://stimhack.com/a-horizontal-approach-to-the-weyland-problem-by-brian-williams/" target="_blank" rel="nofollow">here</a>.
</p>
<hr/>
<h4>Cards that a lot of people wish were on the list</h4>
<ul>
    <li>
        <strong><ktm:card title="Jackson Howard"/></strong>: This card solves the unlucky agenda flood problem for the
        corporations. Everybody needs it to get the corp play less random. It's so nice for NBN that Jackson does
        not cost influence, now they got taxed with the NAPD Most Wanted list hard. Consider it balanced.
    </li>
    <li>
        <strong><ktm:card title="Caprice Nisei"/></strong>: She is a pain in the ass, but she and
        <ktm:card title="Ash 2X3ZB9CY"/> are keeping the late game glacier play alive. They will be thwarted by the upcoming
        <a href="http://ancur.wikia.com/wiki/Councilman" target="_blank" rel="nofollow">Councilman</a> and
        <a href="http://ancur.wikia.com/wiki/Political_Operative" target="_blank" rel="nofollow">Political Operative</a>
        anyway.
        <a name="tldr"></a>
    </li>
    <li>
        <strong><ktm:card title="Faust"/></strong>: If the new meta enables multi-sub ICE more Faust won't be that
        much of a problem. Also by weakening Anarchs this could be a balanced, very thematic breaker for the faction.
    </li>
</ul>
<hr/>
<h4>Why these cards were selected? My guesses - TL;DR</h4>
<ul>
    <li>
        <strong><ktm:card title="Parasite"/> + <ktm:card title="Clone Chip"/></strong>:
            This combination totally wrecks low strength ICE.
        Adding <ktm:card title="Datasucker"/> it allows flexible mid-run ice destruction which was probably too
        good. Low strength, multi-sub ICE can't be successful in the current meta. Also less <ktm:card title="Clone Chip"/>
        enables breaker trashing strategies more which makes Weyland happy.
    </li>
    <li>
        <strong><ktm:card title="Cerberus &quot;Lady&quot; H1"/></strong>: Combined with recursion (Shapers have plenty),
        this is the strongest barrier breaker out there. Breaking <ktm:card title="Eli 1.0"/> with this was sooo easy
        compared to other programs. Anarch should have the best fracters
        (<ktm:card title="Corroder"/> is the current favorite), so Lady got weakened. I think Shapers will still play
        one Lady backed by <ktm:card title="Scavenge"/>, so this does not make a big difference.
    </li>
    <li>
        <strong><ktm:card title="Yog.0"/></strong>: Breaking code gates efficiently is a Shaper territory, so this was
        tuned down a little. A lot of players are puzzled why this is on the list because this card was not over-abused.
        My guess is that they would like to open the meta up to multi-sub, low strength code gates in the near future.
    </li>
    <li>
        <strong><ktm:card title="Prepaid VoicePAD"/></strong>: Prepaid Kate was deemed too powerful, there was very little
        variance in successful Kate decks.
    </li>
    <li>
        <strong><ktm:card title="Desperado"/></strong>: Choosing a Criminal console is often a no-brainer. They want to
        make other Criminal consoles more viable.
    </li>
    <li>
        <strong><ktm:card title="AstroScript Pilot Program"/></strong>: This is the most powerful 3/2 agenda. You have
        to look really hard to find an NBN deck which is not playing with 3. Some deck design space needs to open up.
        Alternatively you can look at this as a
        balancer for <ktm:card title="Jackson Howard"/>'s influence. Every corp is using him, now NBN is also paying 3
        influence.
    </li>
    <li>
        <strong><ktm:card title="SanSan City Grid"/></strong>: NBN fast advance is weakened even further. This enables
        slower runners to be successful. Also it limits the alternative fast advance option for butcher shop decks.
    </li>
    <li>
        <strong><ktm:card title="NAPD Contract"/></strong>: A neutral agenda that fits in a lot of decks and makes
        runners miserable effectively. If <ktm:card title="Global Food Initiative"/> costs one influence then this
        should as well.
    </li>
    <li>
        <strong><ktm:card title="Eli 1.0"/></strong>: Even if you click through it taxes so much for a mere 3 credit.
        Only one influence? This was an easy choice, now it is harder.
    </li>
    <li>
        <strong><ktm:card title="Architect"/></strong>: While easily mitigated by <ktm:card title="Mimic"/>, this was
        a cruel punishment for face-checking ICE. Also a pain if using Anarch ICE-destruction or
        <ktm:card title="Apocalypse"/>.
    </li>
</ul>
<hr/>
<h4>My thoughts on NAPD Most Wanted list - TL;DR</h4>
<ul>
    <li>
        The meta is currently unbalanced. Just look at the charts on my <a href="http://www.knowthemeta.com">Home page</a>.
        Something had to be done.
    </li>
    <li>
        I wish the meta was adjusted via new cards. Not via silver bullets (i.e. <ktm:card title="Clot"/>,
        <ktm:card title="Film Critic"/>, <ktm:card title="Cyberdex Virus Suite"/>, etc.). But via cards that make previously
        strong cards weaker and remain somewhat functional even if you are not playing against a specific deck.
    </li>
    <li>
        I'm OK with this negative influence system, it's probably the next best thing.
        I'm a bit surprised that these cards are deemed too powerful even for
        their own factions, so they are penalized. They are design mistakes from the past that have to be fixed.
        The penalty is subtle, but enough to tweak the meta. Let's hope that
        the list will not grow substantially in the future and these rules will not get more complex.
    </li>
    <li>
        I don't mind that this will create a new meta. I find this exciting. The cards that are being nerfed were
        preventing alternative approaches to be successful on tournaments.
    </li>
    <li>
        This is for official tournaments. You can skip these rules if playing casually.
    </li>
    <li>
        With all the optimism, I doubt that the new top-tier meta will open up to less used identities.
        <ktm:card title="Kate &quot;Mac&quot; McCaffrey: Digital Tinker"/>,
        <ktm:card title="Haas-Bioroid: Engineering the Future"/>, <ktm:card title="Near-Earth Hub: Broadcast Center"/> and
        <ktm:card title="Blue Sun: Powering the Future"/> will still remain the most popular ID in their faction.
    </li>
    <li>
        It's okay if you disagree with me :) I'm all ears.
    </li>
</ul>
<hr/>
<p>
    <strong>Edit:</strong> Check out the Winning Agenda podcast interview with Damon Stone
    <a href="http://thewinningagenda.com/2016/01/04/episode-64-exclusive-interview-with-damon-stone-on-the-most-wanted-list/"
       target="_blank" rel="nofollow">here</a>.
</p>