<hr/>
<h4>The recent success, statistics</h4>
<div class="row blog-image">
    <div class="col-xs-6 col-md-3 text-center">
        <ktm:img title="Cerebral Imaging: Infinite Frontiers" size="small"/>
        <div>all: 8% - top: 14.7%</div>
    </div>
    <div class="col-xs-6 col-md-9 blog-image">
        <a href="/Cards/Cerebral%20Imaging:%20Infinite%20Frontiers/">
            <img src="/static/img/blog/ci-overtime.png" alt="Netrunner Cerebral Imaging" class="blog-big-picture"/>
        </a>
    </div>
</div>
<p>
    As you can see on the chart, CI skyrocketed recently. Also, if you look under
    <a href="/DPStats/Quorum/#spotlight">Quorum's spotlight section</a>, you will see that it holds the
    <strong>most impressive</strong>
    title among corporation IDs. This is awarded for having the biggest presence in the top-30% tournament ranks compared to overall
    presence in the meta. <em>(I use the "top-30%" metric because not all tournaments have a top-cut.)</em>
</p>
<div class="blog-big-picture text-center">
    <img src="/static/img/blog/ci-impressiveness.png"/>
</div>
<p>
So you can measure "success" this way,
right? Well, it is a pretty good indicator. There are two reasons why an ID can end up high in this metric:
    <ul>
        <li>
            <strong>The ID is strong</strong> with the current cardpool.
            You are more likely to win if you are playing with this ID. This could be
            general strength or strength in a particular meta.
        </li>
        <li>
            <strong>It is mostly played by good, experienced players.</strong> Maybe it got popular among skilled contestants
            who are naturally winning more matches than rookies. Maybe new players are shying away from it because its
            complexity.
        </li>
    </ul>
</p>
<p>
    What's the deal with CI? Both reasons hold true for <strong>Cerebral Imaging</strong>. The decks involved are the
    very definition of complex, solitaire play. It is usually adept players who are fielding CI on tournaments.
</p>
<br/>
<h4>Quorum meta</h4>
<p>
    Nowadays the classic way of scoring agendas in a well-defended remote is hard. The runners have more
    credits and more efficient breakers than they used to. <ktm:card title="Rumor Mill"/> can nullify defensive upgrades
    used in glacier corporations. Kill-decks, fast-advancing and "degenerate" decks are getting popular as ever.
    (check out <a href="https://youtu.be/fiqcc9jSBp8?t=17m1s">beyoken's video</a> on "litmus test for degeneracy")
</p>
<p>
    Also there has been a great surge in asset-spam corporations. <ktm:card title="NBN: Controlling the Message"/>,
    <ktm:card title="Near-Earth Hub: Broadcast Center"/>, <ktm:card title="Industrial Genomics: Growing Solutions"/> and
    <ktm:card title="Haas-Bioroid: Engineering the Future"/> all feature a large number of expensive-to-trash assets.
    The existence of <ktm:card title="Friends in High Places"/> just makes things worse.
</p>
<div class="row blog-image">
    <div class="col-xs-6 col-md-3 text-center">
        <ktm:img title="Whizzard: Master Gamer" size="small"/>
        <div>all: 20.3% - top: 31.7%</div>
    </div>
    <div class="col-xs-6 col-md-9 blog-image">
        <a href="/Cards/Whizzard:%20Master%20Gamer/">
            <img src="/static/img/blog/ci-whizzard.png" alt="Netrunner Whizzard" class="blog-big-picture"/>
        </a>
    </div>
</div>
<p>
    This environment makes the anti-asset ID <ktm:card title="Whizzard: Master Gamer"/> (just look at those stats)
    and cards like <ktm:card title="Salsette Slums"/> flourish. The strong burst-economy of Criminals also helps.
</p>
<p>
    Since everybody is teching against assets, surprising the playing field with something totally different pays off.
    How about no remotes, no assets at all? Well, that certainly invalidates some cards in the runner's deck. (Having
    unprotected remotes helps <ktm:card title="Temüjin Contract"/> and <ktm:card title="Dirty Laundry"/>.)
</p>
<p>
    <div class="blog-big-picture text-center">
        <ktm:img title="Violet Level Clearance" size="medium"/>
    </div>
</p>
<p>
    Let us not forget that <ktm:card title="Violet Level Clearance"/> just came out with Quorum. This card is a huge
    enabler for CI. It is all that the ID needs: credits and draws.
</p>
<p>
    Quorum also delivers a decent blow to the previously dominating tagging-NBN decks with <ktm:card title="Aaron Marrón"/>.
    Glacier corporations struggle with <ktm:card title="Şifr"/>. As its competition weakened and everybody prepared
    for assets, <strong>the time became right for Cerebral Imaging</strong>.
</p>
<br/>
<h4>Three flavors of CI</h4>
<div class="row blog-image">
    <div class="col-xs-12 col-md-8 col-md-offset-2 blog-image">
        <a href="/MDSIdentity/Quorum/Cerebral%20Imaging:%20Infinite%20Frontiers/">
            <img src="/static/img/blog/ci-archetypes.png" alt="Netrunner Cerebral Imaging archetypes" class="blog-big-picture"/>
        </a>
    </div>
</div>
<p>
    Have a good look at the <strong>deck similarity matrix</strong> on
    <a href="/MDSIdentity/Quorum/Cerebral%20Imaging:%20Infinite%20Frontiers/">Deck Drilldown page of CI (Quorum)</a>.
    It is easy to identify the three clusters of decks which are the current archetypes for Cerebral Imaging.
    <em>(There are also two decks with <ktm:card title="BOOM!"/>, but I will skip those in this article.)</em>
</p>
<ul>
    <div class="row blog-image">
        <div class="col-xs-6 col-md-3 text-center">
            <ktm:img title="Accelerated Diagnostics" size="small"/>
        </div>
        <div class="col-xs-6 col-md-9 blog-image">
            <a href="/Cards/Accelerated%20Diagnostics/">
                <img src="/static/img/blog/ci-accelerated.png" alt="Netrunner Accelerated Diagnostics" class="blog-big-picture"/>
            </a>
        </div>
    </div>
    <li>
        <strong>CI7</strong> (Cerebral Imaging 7-point shutdown) has been around for a while. It aims to <strong>score 7 points in
        one turn </strong> using the <ktm:card title="Accelerated Diagnostics"/> + <ktm:card title="Power Shutdown"/> +
        <ktm:card title="Jackson Howard"/> combo. It is quite the brain-twister. If you want to learn more about it, I
        heartily recommend reading
        <a href="http://www.anrnz.com/2016/07/the-cookbook-to-ci7-part-1-introduction.html">miek's The Cookbook to CI7</a>
        article.<br/>
        <em>example deck: <a href="https://netrunnerdb.com/en/decklist/40157">podoboyz99: CI7 - Dont Try This At Home</a></em>
    </li>
    <div class="row blog-image">
        <div class="col-xs-6 col-md-3 text-center">
            <ktm:img title="Hasty Relocation" size="small"/>
        </div>
        <div class="col-xs-6 col-md-9 blog-image">
            <a href="/Cards/Hasty%20Relocation/">
                <img src="/static/img/blog/ci-hasty.png" alt="Netrunner Hasty Relocation" class="blog-big-picture"/>
            </a>
        </div>
    </div>
    <li>
        <strong>Hasty CI</strong> uses the evident synergy between <ktm:card title="Hasty Relocation"/> and
        <ktm:card title="Accelerated Diagnostics"/>. You don't need to burn your whole deck with
        <ktm:card title="Power Shutdown"/>, you are just firing from the top of R&amp;D. You can start scoring earlier and
        you don't need the a run from the previous round to start the combo. Though CI7 can solve more of the
        problematic situations, this build is invulnerable to <ktm:card title="Hades Shard"/>.<br/>
        <em>example deck: <a href="https://netrunnerdb.com/en/decklist/40623">mcbeast: Purple Dark CI</a></em>
    </li>
    <br/>
    <div class="blog-big-picture text-center">
        <ktm:img title="Lakshmi Smartfabrics" size="small"/>
    </div>
    <li>
        <strong>Fashion CI</strong> also utilizes Cerebral Imaging's large handsize. It is really an oddball compared to
        the other two archetypes. It runs
        only big agendas and scores them out in two turns using <ktm:card title="Mushin No Shin"/> and protecting the
        agenda in a naked remote with <ktm:card title="Lakshmi Smartfabrics"/>. This is very different compared to the
        previous two archetypes as it utilizes remotes and does not fast-advance in one turn.<br/>
        <em>example deck: <a href="https://netrunnerdb.com/en/decklist/40580">MrHuds0n: Fashion CI (Calvin Klein approved)</a></em>
        <br/>
        <br/>
        <em>
            (good-to-know <a href="http://ancur.wikia.com/wiki/Business_First_UFAQ">rulings</a>:
            When you rez <ktm:card title="Lakshmi Smartfabrics"/>, it gains a power counter. Also its
            effect continues to work even after the card is trashed.)
        </em>
    </li>
</ul>
<br/>
<h4>Deck composition</h4>
<table class="deck-compare">
    <tbody>
        <tr>
            <td>
                <em>CI7 example</em><br/>
                <strong><a href="https://netrunnerdb.com/en/decklist/40157">podoboyz99: CI7 - Dont Try This At Home</a></strong>
            </td>
            <td>
                <em>Hasty CI example</em><br/>
                <strong><a href="https://netrunnerdb.com/en/decklist/40623">mcbeast: Purple Dark CI</a></strong>
            </td>
            <td>
                <em>Fashion CI example</em><br/>
                <strong><a href="https://netrunnerdb.com/en/decklist/40580">MrHuds0n: Fashion CI (Calvin Klein approved)</a></strong>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="text-center">
                <strong><em>agendas</em></strong>
            </td>
        </tr>
        <tr>
            <td>
                3x <ktm:card title="Efficiency Committee"/><br/>
                3x <ktm:card title="Project Vitruvius"/><br/>
                1x <ktm:card title="Accelerated Beta Test"/><br/>
                2x <ktm:card title="Global Food Initiative"/> <span class="influence inf-neutral">••</span>
            </td>
            <td>
                3x <ktm:card title="Efficiency Committee"/><br/>
                3x <ktm:card title="Project Vitruvius"/><br/>
                1x <ktm:card title="Accelerated Beta Test"/><br/>
                2x <ktm:card title="Global Food Initiative"/> <span class="influence inf-neutral">••</span>
            </td>
            <td>
                3x <ktm:card title="Vanity Project"/> <span class="influence inf-neutral">•••</span><br/>
                3x <ktm:card title="Global Food Initiative"/> <span class="influence inf-neutral">•••</span>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="text-center">
                <strong><em>assets</em></strong>
            </td>
        </tr>
        <tr>
            <td>
                3x <ktm:card title="Jackson Howard"/> <span class="influence inf-nbn">•••</span>
            </td>
            <td>
            </td>
            <td>
                3x <ktm:card title="Jackson Howard"/> <span class="influence inf-nbn">•••</span><br/>
                3x <ktm:card title="Advanced Assembly Lines"/><br/>
                1x <ktm:card title="Clone Suffrage Movement"/><br/>
                2x <ktm:card title="Jeeves Model Bioroids"/><br/>
                3x <ktm:card title="Lakshmi Smartfabrics"/><br/>
                1x <ktm:card title="Project Junebug"/> <span class="influence inf-jinteki">•</span>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="text-center">
                <strong><em>upgrades</em></strong>
            </td>
        </tr>
        <tr>
            <td>
                1x <ktm:card title="Cyberdex Virus Suite"/>
            </td>
            <td>
            </td>
            <td>
                1x <ktm:card title="Crisium Grid"/> <span class="influence inf-weyland-consortium">•</span>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="text-center">
                <strong><em>operations</em></strong>
            </td>
        </tr>
        <tr>
            <td>
                3x <ktm:card title="Violet Level Clearance"/><br/>
                2x <ktm:card title="Blue Level Clearance"/><br/>
                3x <ktm:card title="Hedge Fund"/><br/>
                1x <ktm:card title="Reuse"/> <span class="influence inf-weyland-consortium">•</span>
            </td>
            <td>
                3x <ktm:card title="Violet Level Clearance"/><br/>
                3x <ktm:card title="Blue Level Clearance"/><br/>
                2x <ktm:card title="Green Level Clearance"/><br/>
                3x <ktm:card title="Lateral Growth"/><br/>
                1x <ktm:card title="Reuse"/> <span class="influence inf-weyland-consortium">•</span>
            </td>
            <td>
                3x <ktm:card title="Violet Level Clearance"/><br/>
                3x <ktm:card title="Blue Level Clearance"/><br/>
                3x <ktm:card title="Hedge Fund"/><br/>
            </td>
        </tr>
        <tr>
            <td>
                3x <ktm:card title="Accelerated Diagnostics"/><br/>
                2x <ktm:card title="Power Shutdown"/> <span class="influence inf-weyland-consortium">••</span><br/>
                2x <ktm:card title="Biotic Labor"/><br/>
                1x <ktm:card title="Subliminal Messaging"/><br/>
                2x <ktm:card title="Shipment from SanSan"/> <span class="influence inf-nbn">••</span><br/>
                2x <ktm:card title="Shipment from MirrorMorph"/><br/>
                3x <ktm:card title="Shipment from Kaguya"/> <span class="influence inf-weyland-consortium">•••</span><br/>
            </td>
            <td>
                3x <ktm:card title="Accelerated Diagnostics"/><br/>
                3x <ktm:card title="Hasty Relocation"/> <span class="influence inf-jinteki">••••• •</span><br/>
                3x <ktm:card title="Shipment from SanSan"/> <span class="influence inf-nbn">•••</span><br/>
                2x <ktm:card title="Biotic Labor"/><br/>
                1x <ktm:card title="Localized Product Line"/> <span class="influence inf-neutral">•••</span>
            </td>
            <td>
                2x <ktm:card title="Mushin No Shin"/> <span class="influence inf-jinteki">••••</span><br/>
                2x <ktm:card title="Shipment from MirrorMorph"/><br/>
                1x <ktm:card title="Fast Track"/><br/>
                3x <ktm:card title="Biotic Labor"/><br/>
            </td>
        </tr>
        <tr>
            <td>
                1x <ktm:card title="Interns"/><br/>
                1x <ktm:card title="Archived Memories"/><br/>
                1x <ktm:card title="Reclamation Order"/>
            </td>
            <td>
                1x <ktm:card title="Archived Memories"/><br/>
                2x <ktm:card title="Reclamation Order"/><br/>
                2x <ktm:card title="Preemptive Action"/>
            </td>
            <td>
                2x <ktm:card title="Archived Memories"/><br/>
                1x <ktm:card title="Friends in High Places"/>
            </td>
        </tr>
        <tr>
            <td>
                2x <ktm:card title="Scarcity of Resources"/>
            </td>
            <td>
                1x <ktm:card title="Enhanced Login Protocol"/><br/>
                1x <ktm:card title="Ark Lockdown"/>
            </td>
            <td>
                1x <ktm:card title="Enhanced Login Protocol"/>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="text-center">
                <strong><em>ICE</em></strong>
            </td>
        </tr>
        <tr>
            <td>
                <strong>barrier</strong><br/>
                2x <ktm:card title="Paper Wall"/><br/>
                <br/>
                <strong>code gate</strong><br/>
                1x <ktm:card title="Quandary"/><br/>
                <br/>
                <strong>mythic</strong><br/>
                1x <ktm:card title="Excalibur"/><br/>
                3x <ktm:card title="Mother Goddess"/>
            </td>
            <td>
                <strong>barrier</strong><br/>
                2x <ktm:card title="Vanilla"/><br/>
                <br/>
                <strong>code gate</strong><br/>
                1x <ktm:card title="Fairchild 2.0"/><br/>
                3x <ktm:card title="Fairchild 3.0"/><br/>
                <br/>
                <strong>sentry</strong><br/>
                1x <ktm:card title="Ichi 1.0"/><br/>
                2x <ktm:card title="Rototurret"/>
            </td>
            <td>
                <strong>barrier</strong><br/>
                3x <ktm:card title="Vanilla"/><br/>
                <br/>
                <strong>code gate</strong><br/>
                3x <ktm:card title="Fairchild 3.0"/><br/>
                <br/>
                <strong>sentry</strong><br/>
                1x <ktm:card title="Rototurret"/><br/>
                <br/>
                <strong>mythic</strong><br/>
                1x <ktm:card title="Mother Goddess"/>
            </td>
        </tr>
    </tbody>
</table>
<h5><u>Agendas</u></h5>
<div class="row blog-image">
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Efficiency Committee" size="small"/>
    </div>
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Project Vitruvius" size="small"/>
    </div>
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Global Food Initiative" size="small"/>
    </div>
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Accelerated Beta Test" size="small"/>
    </div>
</div>
<p>
    Most <strong>CI7</strong> and <strong>Hasty CI</strong> use a pretty standard agenda suite with
    <ktm:card title="Efficiency Committee"/> being the main enabler of the combo. <ktm:card title="Project Vitruvius"/> can
    help a lot when over-advanced (2x <ktm:card title="Shipment from SanSan"/>). <ktm:card title="Global Food Initiative"/>
    is the standard 3-pointer, making it hard for the runner to score 7 points.
</p>
<p>
    <strong>Fashion CI</strong> goes "all in" with agenda-density, using only huge agendas:
    <ktm:card title="Vanity Project"/> and <ktm:card title="Global Food Initiative"/>. These decks have a two-turn
    score plan. You have to be lucky to find an agenda in HQ or R&amp;D.
</p>
<h5><u>Assets and upgrades</u></h5>
<div class="row blog-image">
    <div class="col-md-3 col-md-offset-3 col-xs-6">
        <ktm:img title="Jackson Howard" size="small"/>
    </div>
    <div class="col-md-3 col-md-offset-3 col-xs-6">
        <ktm:img title="Cyberdex Virus Suite" size="small"/>
    </div>
</div>
<p>
    <strong>CI7</strong> relys on <ktm:card title="Jackson Howard"/> for the combo and uses a single
    <ktm:card title="Cyberdex Virus Suite"/> to deal with <ktm:card title="Clot"/>.
</p>
<p>
    Usually <strong>Hasty CI</strong> does not contain any assets and upgrades.
</p>
<p>
    As <strong>Fashion CI</strong> relies on <ktm:card title="Lakshmi Smartfabrics"/> and rezzing assets like
    <ktm:card title="Advanced Assembly Lines"/> and <ktm:card title="Jeeves Model Bioroids"/>.
    <ktm:card title="Jackson Howard"/> also helps a lot.
</p>
<h5><u>Operations</u></h5>
<div class="row blog-image">
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Violet Level Clearance" size="small"/>
    </div>
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Biotic Labor" size="small"/>
    </div>
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Shipment from SanSan" size="small"/>
    </div>
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Reclamation Order" size="small"/>
    </div>
</div>
<p>
    Cerebral Imaging requires a good <strong><em>economy</em></strong>, so decks feature <em>Transaction</em> operations:
    <ktm:card title="Violet Level Clearance"/>, <ktm:card title="Blue Level Clearance"/>,
    <ktm:card title="Green Level Clearance"/> and <ktm:card title="Hedge Fund"/>. Sometimes <ktm:card title="Reuse"/>
    is included for making emergency funds and to defend against <ktm:card title="Account Siphon"/>.
    <ktm:card title="Lateral Growth"/> works well for <strong>Hasty CI</strong>.
</p>
<p>
    All decks have <ktm:card title="Biotic Labor"/> for <strong><em>extra clicks</em></strong>. <strong>CI7</strong> also
    utilizes <ktm:card title="Subliminal Messaging"/> for the same reason. (firing from
    <ktm:card title="Accelerated Diagnostics"/>)
</p>
<strong><em>Scoring:</em></strong>
<ul>
    <li>
        <strong>CI7</strong> relies on the <ktm:card title="Accelerated Diagnostics"/> + <ktm:card title="Power Shutdown"/>
        combo. The three different <em>Shipments</em> are great for efficient installs and advancements.
    </li>
    <li>
        <strong>Hasty CI</strong> scores with <ktm:card title="Accelerated Diagnostics"/> +
        <ktm:card title="Hasty Relocation"/> firing <ktm:card title="Shipment from SanSan"/> and recursion cards. There's
        usually a single <ktm:card title="Localized Product Line"/> to speed things up or get the essential <em>Shipments</em>.
    </li>
    <li>
        <strong>Fashion CI</strong> accelerates advancing with <ktm:card title="Mushin No Shin"/>. To get the critical number
        of assets it uses <ktm:card title="Shipment from MirrorMorph"/>. <ktm:card title="Fast Track"/> helps with the use of
        <ktm:card title="Lakshmi Smartfabrics"/>.
    </li>
</ul>
<p>
    <strong><em>Recursion</em></strong> is essential, <ktm:card title="Archived Memories"/>,
    <ktm:card title="Reclamation Order"/> and
    <ktm:card title="Preemptive Action"/> are the main cards here. <strong>CI7</strong> uses a single
    <ktm:card title="Interns"/> for chaining multiple <ktm:card title="Jackson Howard"/>s in the 7-point combo.
    <ktm:card title="Friends in High Places"/> might also come in handy, especially for <strong>Fashion CI</strong>,
    since it needs assets to operate.
</p>
<p>
    Having currents deals with <ktm:card title="Employee Strike"/>. <ktm:card title="Ark Lockdown"/> is a nice way to throw
    a wrench in the runners' plan.
</p>
<h5>ICE</h5>
<div class="row blog-image">
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Vanilla" size="small"/>
    </div>
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Fairchild 3.0" size="small"/>
    </div>
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Mother Goddess" size="small"/>
    </div>
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Macrophage" size="small"/>
    </div>
</div>
<p>
    Cheap, end-the-run ICE is important for early protection, <ktm:card title="Vanilla"/> and <ktm:card title="Quandary"/> are
    often used.
</p>
<p>
    <ktm:card title="Fairchild 3.0"/> is the ultimate taxing ice in HB, <strong>non-CI7</strong> decks usually have three of them. Since
    <ktm:card title="Medium"/> is really popular, corps tend to have <ktm:card title="Macrophage"/> against it.
    <ktm:card title="Rototurret"/> punishes face-cheking. Sometimes <ktm:card title="Turing"/> is there to mess with
    Anarchs' <ktm:card title="Faust"/>.
</p>
<p>
    <ktm:card title="Mother Goddess"/> is a nice way to block a single server, especially HQ from Criminals
    (they started including <ktm:card title="Vamadeva"/> to handle this). <strong>CI7</strong> even uses
    <ktm:card title="Paper Wall"/> instead of <ktm:card title="Vanilla"/> to keep <ktm:card title="Mother Goddess"/>
    a problem until they have the 7-point combo ready.
</p>
<br/>
<h4>Cards against CI</h4>
<div class="row blog-image">
    <div class="col-xs-6 col-md-3 text-center">
        <ktm:img title="Employee Strike" size="small"/>
    </div>
    <div class="col-xs-6 col-md-9 blog-image">
        <a href="/Cards/Employee%20Strike/">
            <img src="/static/img/blog/ci-employee.png" alt="Netrunner Employee Strike" class="blog-big-picture"/>
        </a>
    </div>
</div>
<p>
    Every action spawns a reaction. The popularity of CI caused the runners to tech against the ID. The most obvious
    counter is <ktm:card title="Employee Strike"/>. It is just mind-blowing that how popular that card got despite its
    influence cost. It can be painful to a wide variety of corporation IDs, so you will see it often on tournaments.
    Thus you should always have some currents in your CI deck.
</p>
<div class="row blog-image">
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Account Siphon" size="small"/>
    </div>
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Clot" size="small"/>
    </div>
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Rumor Mill" size="small"/>
    </div>
    <div class="col-md-3 col-xs-6">
        <ktm:img title="Hades Shard" size="small"/>
    </div>
</div>
<p>
    Defending against <ktm:card title="Account Siphon"/> and <ktm:card title="Vamp"/> is also critical.
    A reduced credits could mean an agenda-flood
    in your hand which the runners will exploit happily. <ktm:card title="Crisium Grid"/> and <ktm:card title="Targeted Marketing"/> might help.
    <ktm:card title="Reuse"/> can recover you from nasty financial situations.
</p>
<p>
    <ktm:card title="Clot"/> is a problem for both <strong>CI7</strong> and <strong>Hasty CI</strong>. It is not as
    popular as it used to be, but still a standard tool against fast-advancing in Shaper decks. Your redeeming options
    are <ktm:card title="Cyberdex Virus Suite"/> and <ktm:card title="Cyberdex Trial"/>, they are also good for resetting
    <ktm:card title="Medium"/> digs.
</p>
<p>
    <ktm:card title="Rumor Mill"/> and <ktm:card title="Hades Shard"/> are making <strong>CI7</strong>'s life hard.
    Keep and eye on them, because they are also good against the popular NEH Railgun decks (good read:
    <a href="http://netrunners.co.uk/canadian-destroyer-railgun-primer/">The Canadian Destroyer – A Railgun Primer</a>).
    Check out <a href="http://www.anrnz.com/2016/07/the-cookbook-to-ci7-how-to-combo.html">How to combo through hate</a>
    section in previously mentioned <em>The Cookbook to CI7</em>.
</p>
<p>
    <strong>Fashion CI</strong> is totally different. Its most effective hate card is <ktm:card title="Film Critic"/>.
    Start sweating if you see it on the board. You can try to mushin a trap.
</p>
<br/>
<h4>Which CI am I playing against?</h4>
<p><em>courtesy of <strong>percomis</strong></em></p>
<p>
    So you are playing against Cerebral Imaging. How to know which archetype you are facing before they start scoring?
</p>
<ul>
    <li>
        <strong>CI7</strong>: You bump into a <ktm:card title="Paper Wall"/>. You see combo pieces in the Archives such
        as <em>Shipments</em>, <ktm:card title="Interns"/>, <ktm:card title="Reclamation Order"/>, maybe
        <ktm:card title="Jackson Howard"/> even. You access a <ktm:card title="Power Shutdown"/>,
        <ktm:card title="Shipment from Kaguya"/> or <ktm:card title="Interns"/> from HQ or R&amp;D.
    </li>
    <li>
        <strong>Hasty CI</strong>: You access a <ktm:card title="Hasty Relocation"/> or <ktm:card title="Localized Product line"/> from HQ or R&amp;D.
        Opponent plays a <ktm:card title="Localized Product line"/>.
    </li>
    <li>
        <strong>Fashion CI</strong>: You access assets other than <ktm:card title="Jackson Howard"/> from HQ or R&amp;D.
        There are remotes on the table. You are lucky enough to steal a
        <ktm:card title="Vanity Project"/>. You access a <ktm:card title="Mushin No Shin"/> from HQ or R&amp;D.
    </li>
</ul>
<br/>
<h4>Conclusion</h4>
<p>
    You have seen three different scoring strategies and their three archetype built around a single identity.
    Cerebral Imaging deck are as non-conventional and "degenerate" as you can get. Their solitaire play style and
    having the match unexpectedly over makes some players grind their teeth. I recommend playing a couple of games
    with these decks and also against them. You will understand where to put pressure on these decks and how to manage
    incoming runner threats with them. That knowledge will be valuable because Cerebral Imaging is likely to stay with us
    for a while.
</p>
<p>
    <em>Thank you <strong>miek</strong> for your insights on CI.</em>
</p>
<br/>
<hr/>
<h4>Support me</h4>
<p>
    Did you like this article? Are you using
    <img src="https://alwaysberunning.net/favicon-96x96.png" class="img-inline"/><a href="https://alwaysberunning.net">AlwaysBeRunning.net</a> or
    <img src="http://www.knowthemeta.com/favicon-96x96.png" class="img-inline"/><a href="http://www.knowthemeta">KnowTheMeta</a>?
</p>
<p>
    If so, please check out the ways you can support me and my sites:<br/>
    <br/>
    <div class="text-center">
        <a href="https://alwaysberunning.net/support-me" class="btn btn-warning">Support Me</a>
    </div>
</p>