<hr/>
<h5>Table of contents</h5>
<ul style="font-size: 80%">
    <li>
        <a href="#changes">Changes</a>
        <ul>
            <li>
                <a href="#rotation">Rotation</a>
            </li>
            <li>
                <a href="#revised-core">Revised Core Set</a>
            </li>
            <li>
                <a href="#losing-saving">The effect of the Revised Core Set</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#cards-lost">Cards lost, breakdown</a>
        <ul>
            <li>
                <a href="#jackson">Our Lord and Saviour</a>
            </li>
            <li>
                <a href="#econ-denial">Econ denial</a>
            </li>
            <li>
                <a href="#identities">Identities</a>
            </li>
            <li>
                <a href="#economy">Economy</a>
            </li>
            <li>
                <a href="#multi-access">Multi-access</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#new-mwl">New MWL?</a>
    </li>
    <li>
        <a href="#alternate-winning">Alternate winning conditions</a>
    </li>
    <li>
        <a href="#meta">Meta predictions</a>
    </li>
    <li>
        <a href="#tl-dr">TL;DR</a>
    </li>
</ul>
<hr/>
<p style="font-size: 80%">
    <em>
        I'm providing card usage statistics in brackets. This shows the percentage of all decks using at
        least one copy of the card from tournaments with the last three cardpool (Crimson Dust, Free Mars, Blood and Water).
        These numbers are coming from 79 tournaments and 282 runner + 282 corporation decks collected from
        <a href="https://alwaysberunning.net">AlwaysBeRunnin.net</a>. You can click on the card names to get more
        detailed information.
    </em>
</p>
<hr/>
<!--Changes-->
<h4>
    Changes, changes, changes
    <a name="changes" class="anchor">&nbsp;</a>
</h4>
<!--Rotation-->
<h5>
    Rotation
    <a name="rotation" class="anchor">&nbsp;</a>
</h5>
<p class="text-center">
    <img src="/static/img/blog/rotation.png" style="max-width: 30%"/>
</p>
<p>
    As previously announced, the first rotation in Netrunner will happen October 1st 2017. This means that the cards of the
    first two cycles (<strong>Genesis</strong> and <strong>Spin</strong>) will not be legal for tournament play.
    More on that: <a href="https://www.fantasyflightgames.com/en/news/2017/9/11/system-refresh/">FFG "System Refresh" article</a>
</p>
<!--Revised Core Set-->
<h5>
    Revised Core Set
    <a name="revised-core" class="anchor">&nbsp;</a>
</h5>
<p class="text-center">
    <img src="/static/img/blog/core_revised.png" style="max-width: 30%"/>
</p>
<p>
    Surprise! <strong>Revised Core Set</strong> (AKA Core 2.0) was just
    <a href="https://www.fantasyflightgames.com/en/news/2017/9/11/boot-up-and-run/">announced by FFG</a>. It will not
    include any new cards
    (<a th:href="@{'https://images-cdn.fantasyflightgames.com/filer_public/00/9c/009c2fa5-a0c2-402a-acf3-6e051613e4ca/adn49_cardlist.pdf'(fref='gc',dti='505519816175373')}">card list</a>).
    Although some cards have been removed from the core set and some have been added from the rotating cycles.
    This means some of the original Core set will not be tournament legal. Also some of the cards
    are saved from the rotation by becoming part of the big box <strong>Revised Core Set</strong> release.
</p>
<p>
    At the time of writing this article there were no official information on when these changes take effect.
    Although <a href="https://twitter.com/FFGOP/status/907363777020092418">FFG Oranized Play tweet</a> confirms that
    Revised Core Set will be released later, but the changes in brings legal on the 2017 Netrunner Worlds tournament.
</p>
<!--Losing, saving-->
<h5>
    What we lose and what we save with the Revised Core Set
    <a name="losing-saving" class="anchor">&nbsp;</a>
</h5>
<table class="table table-bordered table-small">
    <thead>
        <tr>
            <th class="text-right">cards lost</th>
            <th>cards saved</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="warning text-center" colspan="2">
                <span class="icon-anarch"></span>
                Anarch
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Noise: Hacker Extraordinaire"/> <em>[3%]</em>
            </td>
            <td>
                <ktm:card title="Reina Roja: Freedom Fighter"/> <em>[1%]</em>
            </td>
        </tr>
        <tr>
            <td class="text-right text-danger">
                <strong><ktm:card title="Déjà Vu"/> <em>[37%]</em></strong>
            </td>
            <td>
                <ktm:card title="Retrieval Run"/> <em>[7%]</em>
            </td>
        </tr>
        <tr>
            <td class="text-right text-danger">
                <strong><ktm:card title="Parasite"/> <em>[22%]</em></strong>
            </td>
            <td>
                <ktm:card title="Singularity"/> <em>[0%]</em>
            </td>
        </tr>
        <tr>
            <td class="text-right text-danger">
                <strong><ktm:card title="Yog.0"/> <em>[16%]</em></strong>
            </td>
            <td>
                <ktm:card title="Force of Nature"/> <em>[0%]</em>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Grimoire"/> <em>[3%]</em>
            </td>
            <td>
                <ktm:card title="Spinal Modem"/> <em>[0%]</em>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Corroder"/> <em>[4%]</em>
            </td>
            <td>
                <ktm:card title="Morning Star"/> <em>[0%]</em>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Wyrm"/> <em>[0%]</em>
            </td>
            <td>
                <ktm:card title="Darwin"/> <em>[1%]</em>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <span class="text-danger">
                    <strong><ktm:card title="Medium"/> <em>[39%]</em></strong>
                </span><br/>
                <ktm:card title="Wyldside"/> <em>[5%]</em><br/>
                <ktm:card title="Djinn"/> <em>[1%]</em>
            </td>
            <td>
                <span class="text-danger">
                    <strong><ktm:card title="Liberated Account"/> <em>[25%]</em></strong>
                </span><br/>
                <ktm:card title="Scrubber"/> <em>[8%]</em><br/>
                <ktm:card title="Imp"/> <em>[3%]</em><br/>
                <ktm:card title="Singularity"/> <em>[0%]</em><br/>
                <ktm:card title="Hemorrhage"/> <em>[0%]</em><br/>
                <ktm:card title="Xanadu"/> <em>[0%]</em>
            </td>
        </tr>
        <tr>
            <td class="warning text-center" colspan="2">
                <span class="icon-criminal"></span>
                Criminal
            </td>
        </tr>
        <tr>
            <td class="text-right text-danger">
                <strong><ktm:card title="Desperado"/> <em>[26%]</em></strong>
            </td>
            <td>
                <ktm:card title="Doppelgänger"/> <em>[1%]</em>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Ninja"/> <em>[0%]</em>
            </td>
            <td>
                <ktm:card title="Faerie"/> <em>[1%]</em>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <span class="text-danger">
                    <strong><ktm:card title="Account Siphon"/> <em>[41%]</em></strong>
                </span><br/>
                <ktm:card title="Data Dealer"/> <em>[1%]</em><br/>
                <ktm:card title="Lemuria Codecracker"/> <em>[0%]</em><br/>
                <ktm:card title="Decoy"/> <em>[0%]</em>
            </td>
            <td>
                <ktm:card title="HQ Interface"/> <em>[5%]</em><br/>
                <ktm:card title="Fall Guy"/> <em>[5%]</em><br/>
                <ktm:card title="Emergency Shutdown"/> <em>[2%]</em><br/>
                <ktm:card title="Peacock"/> <em>[0%]</em><br/>
                <ktm:card title="Pheromones"/> <em>[0%]</em><br/>
                <ktm:card title="Mr. Li"/> <em>[0%]</em>
            </td>
        </tr>
        <tr>
            <td class="warning text-center" colspan="2">
                <span class="icon-shaper"></span>
                Shaper
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Kate &quot;Mac&quot; McCaffrey: Digital Tinker"/> <em>[8%]</em>
            </td>
            <td>
                <ktm:card title="Chaos Theory: Wünderkind"/> <em>[0%]</em>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="The Toolbox"/> <em>[0%]</em>
            </td>
            <td>
                <ktm:card title="Dinosaurus"/> <em>[0%]</em>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Net Shield"/> <em>[3%]</em><br/>
                <ktm:card title="Akamatsu Mem Chip"/> <em>[2%]</em>
            </td>
            <td>
                <ktm:card title="Indexing"/> <em>[6%]</em><br/>
                <ktm:card title="Notoriety"/> <em>[4%]</em><br/>
                <ktm:card title="Test Run"/> <em>[4%]</em><br/>
                <ktm:card title="All-nighter"/> <em>[0%]</em>
            </td>
        </tr>
        <tr>
            <td class="warning text-center" colspan="2">
                <span class="icon-neutral"></span>
                neutral runner
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Access to Globalsec"/> <em>[1%]</em>
            </td>
            <td>
                <ktm:card title="Underworld Contact"/> <em>[3%]</em><br/>
                <ktm:card title="Dyson Mem Chip"/> <em>[0%]</em>
            </td>
        </tr>
        <tr>
            <td class="warning text-center" colspan="2">
                <span class="icon-haas-bioroid"></span>
                Haas-Bioroid
            </td>
        </tr>
        <tr>
            <td class="text-right text-danger">
                <strong><ktm:card title="Haas-Bioroid: Engineering the Future"/> <em>[27%]</em></strong>
            </td>
            <td>
                <ktm:card title="Haas-Bioroid: Stronger Together"/> <em>[0%]</em>
            </td>
        </tr>
        <tr>
            <td class="text-right text-danger">
                <strong><ktm:card title="Accelerated Beta Test"/> <em>[23%]</em></strong>
            </td>
            <td class="text-danger">
                <strong><ktm:card title="Project Vitruvius"/> <em>[36%]</em></strong>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Corporate Troubleshooter"/> <em>[1%]</em><br/>
                <ktm:card title="Experiential Data"/> <em>[0%]</em>
            </td>
            <td>
                <ktm:card title="Ash 2X3ZB9CY"/> <em>[3%]</em><br/>
                <ktm:card title="Green Level Clearance"/> <em>[1%]</em><br/>
                <ktm:card title="Project Ares"/> <em>[0%]</em><br/>
                <ktm:card title="Hudson 1.0"/> <em>[0%]</em><br/>
                <ktm:card title="Strongbox"/> <em>[0%]</em>
            </td>
        </tr>
        <tr>
            <td class="warning text-center" colspan="2">
                <span class="icon-jinteki"></span>
                Jinteki
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Cell Portal"/> <em>[0%]</em>
            </td>
            <td>
                <ktm:card title="Whirlpool"/> <em>[0%]</em>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Data Mine"/> <em>[1%]</em><br/>
                <ktm:card title="Zaibatsu Loyalty"/> <em>[0%]</em><br/>
                <ktm:card title="Chum"/> <em>[0%]</em><br/>
                <ktm:card title="Akitaro Watanabe"/> <em>[0%]</em><br/>
                <ktm:card title="Precognition"/> <em>[0%]</em>
            </td>
            <td>
                <strong><ktm:card title="Celebrity Gift"/> <em class="text-danger">[17%]</em></strong><br/>
                <strong><ktm:card title="Swordsman"/> <em class="text-danger">[11%]</em></strong><br/>
                <ktm:card title="Braintrust"/> <em>[8%]</em><br/>
                <ktm:card title="Trick of Light"/> <em>[6%]</em><br/>
                <ktm:card title="Ronin"/> <em>[2%]</em><br/>
                <ktm:card title="Yagura"/> <em>[2%]</em><br/>
                <ktm:card title="Hokusai Grid"/> <em>[1%]</em><br/>
                <ktm:card title="Himitsu-Bako"/> <em>[0%]</em>
            </td>
        </tr>
        <tr>
            <td class="warning text-center" colspan="2">
                <span class="icon-nbn"></span>
                NBN
            </td>
        </tr>
        <tr>
            <td class="text-right text-danger">
                <strong><ktm:card title="Breaking News"/> <em>[16%]</em></strong>
            </td>
            <td>
                <ktm:card title="TGTBT"/> <em>[0%]</em>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Astroscript Pilot Program"/> <em>[9%]</em>
            </td>
            <td>
                <ktm:card title="Project Beale"/> <em>[7%]</em>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <strong><ktm:card title="SanSan City Grid"/> <em class="text-danger">[11%]</em></strong><br/>
                <ktm:card title="Matrix Analyzer"/> <em>[0%]</em>
            </td>
            <td>
                <strong><ktm:card title="Wraparound"/> <em class="text-danger">[12%]</em></strong><br/>
                <strong><ktm:card title="Pop-up Window"/> <em class="text-danger">[11%]</em></strong><br/>
                <ktm:card title="Bernice Mai"/> <em>[0%]</em><br/>
                <ktm:card title="Flare"/> <em>[0%]</em>
            </td>
        </tr>
        <tr>
            <td class="warning text-center" colspan="2">
                <span class="icon-weyland-consortium"></span>
                Weyland Consortium
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Posted Bounty"/> <em>[0%]</em>
            </td>
            <td>
                <strong><ktm:card title="Project Atlas"/> <em class="text-danger">[12%]</em></strong><br/>
                <ktm:card title="The Cleaners"/> <em>[1%]</em>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Scorched Earth"/> <em>[5%]</em>
            </td>
            <td>
                <ktm:card title="Punitive Counterstrike"/> <em>[4%]</em>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Security Subcontract"/> <em>[0%]</em><br/>
                <ktm:card title="Aggressive Negotiation"/> <em>[0%]</em><br/>
                <ktm:card title="Research Station"/> <em>[0%]</em>
            </td>
            <td>
                <ktm:card title="Hive"/> <em>[2%]</em><br/>
                <ktm:card title="Dedicated Response Team"/> <em>[0%]</em><br/>
                <ktm:card title="Elizabeth Mills"/> <em>[0%]</em><br/>
                <ktm:card title="GRNDL Refinery"/> <em>[0%]</em><br/>
                <ktm:card title="Caduceus"/> <em>[0%]</em>
            </td>
        </tr>
        <tr>
            <td class="warning text-center" colspan="2">
                <span class="icon-neutral"></span>
                neutral corporation
            </td>
        </tr>
        <tr>
            <td class="text-right">
            </td>
            <td>
                <ktm:card title="False Lead"/> <em>[0%]</em>
            </td>
        </tr>
    </tbody>
</table>
<hr/>
<!--Cards lost-->
<h4>
    Cards lost, breakdown
    <a name="cards-lost" class="anchor">&nbsp;</a>
</h4>
<p>
    What do we lose when the rotation and the new core hit?
</p>
<!--Jackson-->
<h5>
    Our Lord and Saviour
    <a name="jackson" class="anchor">&nbsp;</a>
</h5>
<div class="blog-image">
    <img src="/static/img/blog/our-lord.jpg" class="blog-big-picture"/>
</div>
<p>
    <strong><span class="text-danger">This is the biggest impact.</span></strong>
    <ktm:card title="Jackson Howard"/> has been the most used corporation card by far.
    It's a 3x auto-include in almost all decks. Jackson not only
    <strong>avoids agenda-flood</strong> but also speeds up corps by <strong>drawing fast</strong>. These two functions
    synergise well as drawing increases the risk of agenda-flooding. He offers <strong>recursion</strong>, although
    it is uncertain when you will see those cards again in your HQ. Besides he <strong>protects from decking out</strong>
    by adding a few more cards to draw.
</p>
<div class="row blog-image">
    <div class="col-xs-6 col-md-3">
        <ktm:img title="Jackson Howard" size="small"/><br/>
        <ktm:card title="Jackson Howard"/> <em>[95%]</em>
    </div>
    <div class="col-xs-6 col-md-9 blog-image">
        <a href="/Cards/Jackson Howard/">
            <img src="/static/img/blog/rotation-jackson.png" alt="Netrunner rotation Jackson Howard" class="blog-big-picture"/>
        </a>
    </div>
</div>
<p>
    Living without JHow will be hard. You already know this if you have ever played <em>cache refresh</em> or
    the <em>Terminal Directive campaign</em>. Spending a click to draw becomes a risk. Digging for a specific card
    transforms into playing Russian roulette. So can we replace Mr Jackson? Short answer is we can not.
    <strong>There is no single card which does all the things Jackson Howard does.</strong>
</p>
<p>
    You can mitigate <strong>agenda-flooding and draw more</strong>
    by playing <ktm:card title="Daily Business Show"/> <em>[21%]</em>
    or <ktm:card title="Special Report"/> <em>[1%]</em>.
    <ktm:card title="Sensie Actors Union"/> <em>[1%]</em> is an option with insane draw,
    if you can make room for the current 3-point MWL penalty.
</p>
<p>
    <ktm:card title="Disposable HQ"/> <em>[0%]</em> might save you from <strong>too much agendas in HQ</strong>,
    provided you play it right. Whip out some binder-fodder by showing off your
    <ktm:card title="Whampoa Reclamation"/> <em>[0%]</em> or
    <ktm:card title="Shannon Claire"/> <em>[0%]</em> (<ktm:card title="Showing Off"/>, get it?).
</p>
<p>
    I recommend <ktm:card title="Estelle Moon"/> <em>[29%]</em>
    and the various colors of HB Clearances for <strong>drawing</strong> a lot of cards at once. But this time it is more
    risky! (Don't say I didn't warn you.)
</p>
<p>
    <ktm:card title="Preemptive Action"/> <em>[11%]</em> is a good <strong>recursion</strong> option, you might also
    sneak some agendas into Archives for a round and reduce pressure on HQ with it. Same goes for
    <ktm:card title="Museum of History"/> <em>[2%]</em>.
    Use <ktm:card title="Friends in High Places"/> <em>[50%]</em> if you want to recur stuff into play.
    <ktm:card title="Team Sponsorship"/> <em>[8%]</em> can work in the right decks.
    An over-advanced <ktm:card title="Project Vitruvius"/> <em>[36%]</em> (thanks Core 2.0) or
    <ktm:card title="Archived Memories"/> <em>[23%]</em> do the trick if you want
    cards right back to HQ.
</p>
<hr/>
<!--Econ denial-->
<h5>
    Econ denial
    <a name="econ-denial" class="anchor">&nbsp;</a>
</h5>
<div class="row blog-image">
    <div class="col-xs-6 col-md-3">
        <ktm:img title="Account Siphon" size="small"/><br/>
        <ktm:card title="Account Siphon"/> <em>[41%]</em>
    </div>
    <div class="col-xs-6 col-md-9 blog-image">
        <a href="/Cards/Account Siphon/">
            <img src="/static/img/blog/rotation-siphon.png" alt="Netrunner rotation Account Siphon" class="blog-big-picture"/>
        </a>
    </div>
</div>
    <p>
        <strong>This is the most used runner card leaving the tournament legal pool.</strong>
        Removing this run event has huge implications. It weakens the runner economy while strengthening the
        corporation's. It's a double win for the suits.
        Anarchs' similar card <ktm:card title="Vamp"/> <em>[5%]</em> is also rotating.
    </p>
<blockquote class="opinion">
    <h5>
        Faction without its fangs<br/>
        <em>rant of a Criminal player</em>
    </h5>
    <p>
        Dear FFG,
    </p>
    <p>
        You are removing the main flavour of a faction. It's hard to name a more authentic Criminal card than
        <em>Account Siphon</em>. It does the very thematic thing a "Criminal" would do. By terminating this card,
        you completely alter how this faction plays as a runner.
    </p>
    <p>
        It was not about landing successful Siphons. The threat itself was much more important.
        The corporation player saw that you were playing a blue ID and thought: "Oh, I have to ice up HQ on turn one".
        Your turn haven't even started but you were forcing the opponent's moves. The faction's aggressiveness did't
        come from face-checking ICE. It came from the fact that corporations had to keep unrezzed ICE on HQ in the
        early- to midgame. They didn't rezz even if their agendas in hand were at stake. Just to keep future Siphons
        uncertain in outcome.
    </p>
    <p>
        This early pressure and sense of dangerousness was unique to the faction. One could do really clever things.
        As a corporation you had to be on your toes and learn how to play against Criminals.
        I understand that this makes the learning curve steeper. It seems you want to protect new players from
        frustrating experiences, but you are making the game bleaker. You are neutering a whole faction. I don't
        want to play "the people who derezz and bypass stuff". I want to play Criminals.
    </p>
    <p>
        - Necro
    </p>
</blockquote>
<div class="row blog-image">
    <div class="col-xs-12 col-md-8 col-md-offset-2 blog-image">
        <a href="/Cards/Account Siphon/">
            <img src="/static/img/blog/rotation-siphon-usage.png" alt="Netrunner rotation Account Siphon" class="blog-big-picture"/>
        </a>
    </div>
</div>
<p>
    Yes, this card was powerful and over-abused. It's natural that <em>Criminal</em> players packed 3 copies.
    Third of <em>Anarch</em> runners were also slotting 2. The problem came from recurring this event with
    <ktm:card title="Same Old Thing"/> <em>[44%]</em> three more times. To make things graver, the orange faction
    also facilitated <ktm:card title="Déjà Vu"/> <em>[37%]</em> (which is rotating) for draining even more credits.
</p>
<p>
    I wish this card stayed, econ denial was a valid strategy. Many times it was needed to keep fast-advance,
    Jinteki traps and psi-games in check. I believe the power problem and off-faction abuse could have been
    adjusted by putting <ktm:card title="Same Old Thing"/> <em>[44%]</em> on MWL level 1.
</p>
<hr/>
<!--Identities-->
<h5>
    Identities
    <a name="identities" class="anchor">&nbsp;</a>
</h5>
<br/>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group btn-group-xs" role="group" aria-label="data timeline">
            <button id="faction-anarch" type="button" class="btn btn-default active"
                    onclick="clickFilter('anarch', selectedData);">Anarch</button>
            <button id="faction-criminal" type="button" class="btn btn-default"
                    onclick="clickFilter('criminal', selectedData);">Criminal</button>
            <button id="faction-shaper" type="button" class="btn btn-default"
                    onclick="clickFilter('shaper', selectedData);">Shaper</button>
            <button id="faction-haas-bioroid" type="button" class="btn btn-default"
                    onclick="clickFilter('haas-bioroid', selectedData);">Haas-Bioroid</button>
            <button id="faction-jinteki" type="button" class="btn btn-default"
                    onclick="clickFilter('jinteki', selectedData);">Jinteki</button>
            <button id="faction-nbn" type="button" class="btn btn-default"
                    onclick="clickFilter('nbn', selectedData);">NBN</button>
            <button id="faction-weyland-consortium" type="button" class="btn btn-default"
                    onclick="clickFilter('weyland-consortium', selectedData);">Weyland Consortium</button>
        </div>
        <div class="btn-group btn-group-xs pull-right" role="group" aria-label="data timeline">
            <button id="data-top" type="button" class="btn btn-default"
                    onclick="clickFilter(selectedFaction, 'top');">Top 30%</button>
            <button id="data-all" type="button" class="btn btn-default active"
                    onclick="clickFilter(selectedFaction, 'all');">All</button>
        </div>
        <div id="chart-ids" class="spinner" style="padding-top: 1em"></div>
    </div>
</div>
<br/>
<p>
    <em>Anarchs</em>, <em>Criminals</em> and <em>HB</em> are loosing their most played and most successful identities.
    Players will have a hard time filling in those voids.
    I understand the decision on leaving out <ktm:card title="Haas-Bioroid: Engineering the Future"/> <em>[27%]</em> and
    <ktm:card title="Kate &quot;Mac&quot; McCaffrey: Digital Tinker"/> <em>[8%]</em> from the Revised Core set.
    Getting rid of the "1 free credit per turn" IDs open up a lot of design space for other cards.

</p>
<div class="row blog-image">
    <div class="col-xs-6 col-md-3">
        <ktm:img title="Whizzard: Master Gamer" size="small"/><br/>
        <ktm:card title="Whizzard: Master Gamer"/> <em>[20%]</em>
    </div>
    <div class="col-xs-6 col-md-9 blog-image">
        <a href="/Cards/Whizzard: Master Gamer/">
            <img src="/static/img/blog/rotation-whizzard.png" alt="Netrunner rotation Whizzard" class="blog-big-picture"/>
        </a>
    </div>
</div>
<p>
    <ktm:card title="Whizzard: Master Gamer"/> <em>[20%]</em> has been the top runner for quite some time. He was ideal
    for the meta, which was dominated by asset-spam for years.
    Luckily <ktm:card title="Scrubber"/> <em>[8%]</em> and <ktm:card title="Imp"/> <em>[3%]</em> are staying and
    will help taming such corporations. I really hope <ktm:card title="Friends in High Places"/> <em>[50%]</em> and
    <ktm:card title="Estelle Moon"/> <em>[29%]</em> find a cosy spot on the next MWL, otherwise runners will be in big
    trouble.
</p>
<p>
    Possible <am>Anarch</am> usurpers for Whizzards' throne include:
    <ul>
        <li>
            <ktm:card title="MaxX: Maximum Punk Rock"/> <em>[5%]</em>
        </li>
        <li>
            <ktm:card title="Alice Merchant: Clan Agitator"/> <em>[3%]</em>
        </li>
        <li>
            <ktm:card title="Valencia Estevez: The Angel of Cayambe"/> <em>[4%]</em>
            (though <ktm:card title="Blackmail"/> <em>[3%]</em> rotates)
        </li>
    </ul>
</p>
<div class="row blog-image">
    <div class="col-xs-6 col-md-3">
        <ktm:img title="Andromeda: Dispossessed Ristie" size="small"/><br/>
        <ktm:card title="Andromeda: Dispossessed Ristie"/> <em>[21%]</em>
    </div>
    <div class="col-xs-6 col-md-9 blog-image">
        <a href="/Cards/Andromeda: Dispossessed Ristie/">
            <img src="/static/img/blog/rotation-andromeda.png" alt="Netrunner rotation Andromeda" class="blog-big-picture"/>
        </a>
    </div>
</div>
<p>
    <ktm:card title="Andromeda: Dispossessed Ristie"/> <em>[21%]</em> was a great <em>Criminal</em> choice. She has
    the stable performance required for big tournaments and can deliver a nice credit-lead from turn 1. After that
    she is basically blank, which makes her a great <ktm:card title="Rebirth"/> <em>[16%]</em> target. It's surprising
    how far her start-of-the-game ability took her.
</p>
<p>
    Give these IDs a try:
    <ul>
        <li>
            <ktm:card title="Leela Patel: Trained Pragmatist"/> <em>[4%]</em>
        </li>
        <li>
            <ktm:card title="Los: Data Hijacker"/> <em>[1%]</em>
            (He is pretty successful in <em>cache refresh</em>)
        </li>
        <li>
            <ktm:card title="Armand &quot;Geist&quot; Walker: Tech Lord"/> <em>[1%]</em>
            (<ktm:card title="Fall Guy"/> <em>[5%]</em> stays!)
        </li>
        <li>
            Wait, Jackson is gone, how about <ktm:card title="Laramy Fisk: Savvy Investor"/> <em>[1%]</em>?
        </li>
    </ul>
</p>
<div class="row blog-image">
    <div class="col-xs-6 col-md-3">
        <ktm:img title="Haas-Bioroid: Engineering the Future" size="small"/><br/>
        <ktm:card title="Haas-Bioroid: Engineering the Future"/> <em>[38%]</em>
    </div>
    <div class="col-xs-6 col-md-9 blog-image">
        <a href="/Cards/Haas-Bioroid: Engineering the Future/">
            <img src="/static/img/blog/rotation-hbetf.png" alt="Netrunner rotation haas-bioroid engineering the future etf" class="blog-big-picture"/>
        </a>
    </div>
</div>
<p>
    Huh, this is a biggie. <em>Haas-Bioroid</em> is losing its flagship identity which was the strongest corporation
    recently. It was easy to get that free credit
    almost each turn. Sometimes even on the runner's turn. We are left with mediocre and bad IDs. You can try
    playing the cards of a popular
    <a href="https://netrunnerdb.com/en/decklist/44844/moons-1st-place-na-champs">Moonies deck</a> with another ID,
    but I doubt if <ktm:card title="Estelle Moon"/> <em>[29%]</em> works well without Jackson. The fast-advancement plan
    is hindered by the lack of <ktm:card title="SanSan City Grid"/> <em>[11%]</em> and
    <ktm:card title="Shipment from SanSan"/> <em>[9%]</em> (was great with
    <ktm:card title="Jeeves Model Bioroids"/> <em>[25%]</em>).
</p>
<p>
    I'm completely puzzled about what to do with HB. EtF just outshined all others (except CI).
    Let me give you a couple of bad ideas:
    <ul>
        <li>
            <ktm:card title="Seidr Laboratories: Destiny Defined"/> <em>[0%]</em>
            (was OK in the <em>Terminal Directive campaign</em>, my bet is on this ID)
        </li>
        <li>
            <ktm:card title="Cerebral Imaging: Infinite Frontiers"/> <em>[7%]</em>
            (be aware that we are losing <ktm:card title="Accelerated Diagnostics"/> <em>[6%]</em>)
        </li>
        <li>
            <ktm:card title="The Foundry: Refining the Process"/> <em>[0%]</em> or
            <ktm:card title="NEXT Design: Guarding the Net"/> <em>[2%]</em> with NEXT ICE perhaps?
            (darn,  <ktm:card title="NEXT Bronze"/> <em>[4%]</em> rotates)
        </li>
        <li>
            <ktm:card title="Custom Biotics: Engineered for Success"/> <em>[0%]</em>,
            <ktm:card title="Cybernetics Division: Humanity Upgraded"/> <em>[0%]</em>,
            <ktm:card title="Haas-Bioroid: Architects of Tomorrow"/> <em>[0%]</em>,
            <ktm:card title="Haas-Bioroid: Stronger Together"/> <em>[0%]</em>: Please prove me wrong, but I don't
            see them working in a competitive environment.
        </li>
    </ul>
</p>
<div class="row blog-image">
    <div class="col-xs-6 col-md-3">
        <ktm:img title="Kate &quot;Mac&quot; McCaffrey: Digital Tinker" size="small"/><br/>
        <ktm:card title="Kate &quot;Mac&quot; McCaffrey: Digital Tinker"/> <em>[8%]</em>
    </div>
    <div class="col-xs-6 col-md-9 blog-image">
        <a href="/Cards/Kate%20&quot;Mac&quot;%20McCaffrey:%20Digital%20Tinker/">
            <img src="/static/img/blog/rotation-kate.png" alt="Netrunner rotation kate" class="blog-big-picture"/>
        </a>
    </div>
</div>
<p>
    At least the <em>Shaper</em> scene is diverse, you have some working alternatives.
    I'm a bit underwhelmed by her substitute, <ktm:card title="Chaos Theory: Wünderkind"/> <em>[0%]</em>.
    I just don't find that +1 MU so impressive.
    <ktm:card title="Ele &quot;Smoke&quot; Scovak: Cynosure of the Net"/> <em>[5%]</em> seems better,
    she is also 40-cards-min and 1 free (stealth) credit each turn looks more tempting.
</p>
<p>
    Try these wonderful runners after rotation:
    <ul>
        <li>
            <ktm:card title="Hayley Kaplan: Universal Scholar"/> <em>[9%]</em>: queen of Shaper bullshit&trade;
        </li>
        <li>
            <ktm:card title="Ele &quot;Smoke&quot; Scovak: Cynosure of the Net"/> <em>[5%]</em>: What not to like?
        </li>
        <li>
            <ktm:card title="Rielle &quot;Kit&quot; Peddler: Transhuman"/> <em>[6%]</em>:
            <ktm:card title="Inversificator"/> <em>[19%]</em> works wonders
        </li>
    </ul>
</p>
<hr/>
<!--Economy-->
<h5>
    Economy
    <a name="economy" class="anchor">&nbsp;</a>
</h5>
<div class="row blog-image">
    <div class="col-xs-12 col-md-3">
        <ktm:img title="Desperado" size="small"/><br/>
        <ktm:card title="Desperado"/> <em>[26%]</em>
    </div>
    <div class="col-xs-12 col-md-3">
        <ktm:img title="Kati Jones" size="small"/><br/>
        <ktm:card title="Kati Jones"/> <em>[14%]</em>
    </div>
    <div class="col-xs-12 col-md-3">
        <ktm:img title="Sweeps Week" size="small"/><br/>
        <ktm:card title="Sweeps Week"/> <em>[20%]</em>
    </div>
    <div class="col-xs-12 col-md-3">
        <ktm:img title="Restructure" size="small"/><br/>
        <ktm:card title="Restructure"/> <em>[18%]</em>
    </div>
</div>
<p>
    Losing <ktm:card title="Desperado"/> <em>[26%]</em> is another great hit for the <em>Criminals</em>.
    It was ideal for checking remotes and it doubled the usefulness of runs.
    Probably it was too good, it was hard to consider any other blue console.
    <ktm:card title="Aeneas Informant"/> <em>[16%]</em> will have to fill its void. Sort of...
</p>
<p>
    I liked the design of <ktm:card title="Kati Jones"/> <em>[14%]</em>. Elegant, presented meaningful choices and was
    accessible to all. We will miss you, Kati!
</p>
<p>
    NBN players will have to pass up <ktm:card title="Sweeps Week"/> <em>[20%]</em>. Played right, it was Hedge Fund for only 1
    credit. Recovering from low credit count was priceless.
    <ktm:card title="Biased Reporting"/> <em>[4%]</em> seems a bit similar but it has many limitations.
</p>
<p>
    I don't worry about losing <ktm:card title="Restructure"/> <em>[18%]</em>. If you are not afraid of terminal
    operations, <ktm:card title="IPO"/> <em>[37%]</em> is for you.
</p>
<p>
    While <ktm:card title="Account Siphon"/> <em>[41%]</em> and
    <ktm:card title="Haas-Bioroid: Engineering the Future"/> are no more,
    Jinteki is keeping <ktm:card title="Celebrity Gift"/> <em>[17%]</em>, mind you. Also
    <ktm:card title="Liberated Account"/> <em>[25%]</em> is staying.
</p>
<hr/>
<!--Multi-access-->
<h5>
    Multi-access
    <a name="multi-access" class="anchor">&nbsp;</a>
</h5>
<div class="row blog-image">
    <div class="col-xs-12 col-md-4">
        <ktm:img title="Medium" size="small"/><br/>
        <ktm:card title="Medium"/> <em>[39%]</em>
    </div>
    <div class="col-xs-12 col-md-4">
        <ktm:img title="R&amp;D Interface" size="small"/><br/>
        <ktm:card title="R&amp;D Interface"/> <em>[13%]</em>
    </div>
    <div class="col-xs-12 col-md-4">
        <ktm:img title="Keyhole" size="small"/><br/>
        <ktm:card title="Keyhole"/> <em>[11%]</em>
    </div>
</div>
<p>
    <ktm:card title="Medium"/> <em>[39%]</em> was a powerhouse. The usual <em>Anarch</em> strategy was to destroy
    ICE on R&amp;D and then hammer it with Medium (often multiple ones).
    This forced the corporation to dig and pay for more ICE or to clear
    viruses. None of which was pleasant. This card was often seen in <em>Criminal</em> decks as well.
    (<em>Anarchs</em> are also losing <ktm:card title="Nerve Agent"/> <em>[3%]</em>).
</p>
<p>
    <ktm:card title="R&amp;D Interface"/> <em>[13%]</em> is leaving us.
    Luckily <ktm:card title="Indexing"/> <em>[6%]</em> is saved from rotation and can be used instead.
    Check out <ktm:card title="Equivocation"/> <em>[13%]</em>, <ktm:card title="The Maker's Eye"/> <em>[13%]</em> and
    <ktm:card title="Deep Data Mining"/> <em>[6%]</em> as well.
</p>
<p>
    I'm listing <ktm:card title="Keyhole"/> <em>[11%]</em> under multi-access as it was great for burning through R&amp;D.
    Especially with <ktm:card title="Eater"/> <em>[9%]</em> and with <ktm:card title="Account Siphon"/> <em>[41%]</em>
    on the sides. Those days are over.
</p>
<p>
    As for HQ, we have various multi-access options still available. But what will <em>non-Shaper</em> runners do about R&amp;D?
    <ktm:card title="The Turning Wheel"/> <em>[7%]</em> is an universal solution, especially if you run a lot.
    <em>Criminals</em> can utilize <ktm:card title="Spy Camera"/> <em>[1%]</em>.
    <em>Tag-me Anarchs</em> can give <ktm:card title="Counter Surveillance"/> <em>[6%]</em> a try.
    Or you just save up influence for <ktm:card title="The Maker's Eye"/> <em>[13%]</em> or <ktm:card title="Indexing"/> <em>[6%]</em>.
</p>
<hr/>
<!--New MWL-->
<h4>
    New MWL?
    <a name="new-mwl" class="anchor">&nbsp;</a>
</h4>
<p>
    A new Most Wanted List is due. This October the
    <a href="https://images-cdn.fantasyflightgames.com/filer_public/fa/84/fa84c620-cd7e-4c6c-96bd-c703419fca5e/adn_mwl_v12_web.pdf">current MWL 1.2</a>
    becomes half year old. Also a lot of cards from it
    will be illegal and some entries will make less sense in the new environment.
    FFG <a href="https://twitter.com/FFGOP/status/905509496444870656">tweeted</a> that there will be a new MWL before
    Worlds. Maybe we won't need an MWL at all?
    Eh, almost as if...
</p>
<ul>
    <li>
        Level 1
        <ul>
            <li>
                <em>runner</em>
                <ul>
                    <li>
                        <strong><ktm:card title="Parasite"/></strong> <em>[22%]</em>: rotates
                    </li>
                    <li>
                        <strong><ktm:card title="Yog.0"/></strong> <em>[16%]</em>: rotates
                    </li>
                    <li>
                        <strong><ktm:card title="Wyldside"/></strong> <em>[5%]</em>: rotates
                    </li>
                    <li>
                        <strong><ktm:card title="Temüjin Contract"/></strong> <em>[41%]</em>: Criminals are hit big
                        time by losing <ktm:card title="Account Siphon"/> <em>[41%]</em> and
                        <ktm:card title="Desperado"/> <em>[26%]</em>. This card is going to be their main remaining
                        economy. It's still the best runner econ card besides
                        <ktm:card title="Bloo Moose"/> <em>[53%]</em>, so the extra influence is OK here. Even so,
                        players are willing to include 2-3 copies off-faction.
                    </li>
                    <li>
                        <strong><ktm:card title="Clone Chip"/></strong> <em>[22%]</em>: Anarch won't be spamming
                        <ktm:card title="Parasite"/> <em>[22%]</em> anymore. Nor will Noise recur viruses. Maybe
                        program recursion still needs this nerf.
                    </li>
                    <li>
                        <strong><ktm:card title="Cerberus &quot;Lady&quot; H1"/></strong> <em>[7%]</em>: It still
                        makes sense, this is a superb barrier breaker and ideal for Shapers. Anarch should have
                        the best fracters, so the tax here is just.
                    </li>
                    <li>
                        <strong><ktm:card title="D4v1d"/></strong> <em>[2%]</em>: It's already 4 printed influence,
                        maybe you can let Anarchs off the hook after they lost
                        <ktm:card title="Parasite"/> <em>[22%]</em>. Although I would not remove both this and
                        <strong><ktm:card title="Clone Chip"/></strong> <em>[22%]</em> from the MWL at the same time.
                    </li>
                </ul>
            </li>
            <li>
                <em>corporation</em>
                <ul>
                    <li>
                        <strong><ktm:card title="Breaking News"/></strong> <em>[16%]</em>: rotates
                    </li>
                    <li>
                        <strong><ktm:card title="SanSan City Grid"/></strong> <em>[11%]</em>: rotates
                    </li>
                    <li>
                        <strong><ktm:card title="NAPD Contract"/></strong> <em>[10%]</em>: rotates
                    </li>
                    <li>
                        <strong><ktm:card title="Architect"/></strong> <em>[27%]</em>: It's fair.
                    </li>
                    <li>
                        <strong><ktm:card title="Bio-Ethics Association"/></strong> <em>[5%]</em>: Prison decks need some
                        discouragement.
                    </li>
                    <li>
                        <strong><ktm:card title="Mumba Temple"/></strong> <em>[3%]</em>: Still too much value in asset spam.
                    </li>
                    <li>
                        <strong><ktm:card title="Mumbad City Hall"/></strong> <em>[0%]</em>: There are some powerful alliace cards
                        out there, I'm OK with this.
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        Level 3
        <ul>
            <li>
                <em>runner</em>
                <ul>
                    <li>
                        <strong><ktm:card title="Blackmail"/></strong> <em>[3%]</em>: rotates
                    </li>
                    <li>
                        <strong><ktm:card title="DDoS"/></strong> <em>[3%]</em>:
                        <a href="https://netrunnerdb.com/en/decklist/45034/wyndeln-3rd-place-german-nationals-">Dyper</a>
                        is dead as
                        <ktm:card title="False Echo"/> <em>[3%]</em> and
                        <ktm:card title="Keyhole"/> <em>[11%]</em> rotate.
                        <ktm:card title="Account Siphon"/> <em>[41%]</em> is not a problem anymore. There is still
                        <ktm:card title="En Passant"/> <em>[1%]</em>, but I don't feel DDoS is problematic anymore.
                        It can be downgraded to MWL level 1 or even removed from the list.
                    </li>
                    <li>
                        <strong><ktm:card title="Faust"/></strong> <em>[5%]</em>: Since
                        <ktm:card title="Wyldside"/> <em>[5%]</em> rotates, this is going to be less of a problem.
                        My brain says level 3 is too harsh now, but my heart says it should stay where it is.
                    </li>
                    <li>
                        <strong><ktm:card title="Rumor Mill"/></strong> <em>[9%]</em>:
                        <ktm:card title="Jackson Howard"/> <em>[95%]</em>  and
                        <ktm:card title="Caprice Nisei"/> <em>[19%]</em> rotate, so this is less of an issue.
                        Possible high-impact targets include
                        <ktm:card title="Estelle Moon"/> <em>[29%]</em>,
                        <ktm:card title="Jeeves Model Bioroids"/> <em>[25%]</em>,
                        <ktm:card title="Museum of History"/> <em>[2%]</em>,
                        <ktm:card title="Ash 2X3ZB9CY"/> <em>[3%]</em> and
                        <ktm:card title="Bryan Stinson"/> <em>[3%]</em>.
                        It's less harmful, but still an annoying effect.
                    </li>
                    <li>
                        <strong><ktm:card title="Şifr"/></strong> <em>[9%]</em>:
                        <ktm:card title="Parasite"/> <em>[22%]</em> is no more, but this makes any big,
                        expensive ICE a joke. I'm fine with this here.
                    </li>
                </ul>
            </li>
            <li>
                <em>corporation</em>
                <ul>
                    <li>
                        <strong><ktm:card title="Sensie Actors Union"/></strong> <em>[1%]</em>:
                        The biggest combo decks are dead,
                        NBN fast-advance is in rigor mortis. Digging for a specific card won't win you the game
                        anymore (hopefully). I believe this can be level 1 in the future.
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<p>
    Possible additions for the next version:
</p>
<ul>
    <li>
        <strong><ktm:card title="Friends in High Places"/></strong> <em>[50%]</em>: Level 3 please. Now. You just can't
        have this after they killed Whizzard.
    </li>
    <li>
        <strong><ktm:card title="Estelle Moon"/></strong> <em>[29%]</em>: I understand that drawing a lot risks agenda-flooding,
        but she is still powerful. I don't understand how this card got printed.
    </li>
    <li>
        <strong><ktm:card title="Aaron Marrón"/></strong> <em>[34%]</em>: Ok, we have
        <ktm:card title="Breaking News"/> <em>[16%]</em> bullshit out of the way, but he packs a lot of value.
    </li>
    <li>
        <strong><ktm:card title="Bloo Moose"/></strong> <em>[66%]</em>: Universal, easy economy embraced by all
        factions with only a few downsides. Should be taxed. Unfortunately a card has to be at least half
        year old to be on the MWL.
    </li>
    <li>
        <strong><ktm:card title="Same Old Thing"/></strong> <em>[44%]</em>: Event recursion is strong. Especially that
        it is influence-free for everyone. It also encourages abusing off-faction events. Countering currents is
        also easier for the runners, thanks to this card.
    </li>
</ul>
<hr/>
<!--Alternate winning-->
<h4>
    Alternate winning conditions
    <a name="alternate-winning" class="anchor">&nbsp;</a>
</h4>
<p>
    It seems FFG is pushing the old-school Netrunner experience. Promoting positive-player-experience&trade; and
    making the game more accessible to newbies. It seems that a lot of combo decks died out.<br/>
    <strong>You won't be seeing these anymore:</strong>
</p>
<ul>
    <li>
        <strong>24/7 kill</strong>: <ktm:card title="Breaking News"/> <em>[16%]</em> rotates
    </li>
    <li>
        <strong>CI7</strong>: <ktm:card title="Accelerated Diagnostics"/> <em>[6%]</em> rotates
    </li>
    <li>
        <strong>NBN fast-advance</strong>: <ktm:card title="Astroscript Pilot Program"/> <em>[9%]</em>,
        <ktm:card title="Breaking News"/> <em>[16%]</em> and
        <ktm:card title="SanSan City Grid"/> <em>[11%]</em> rotate
        (we are left with <ktm:card title="Psychographics"/> <em>[2%]</em>)
    </li>
    <li>
        <strong>Dyper</strong>: <ktm:card title="False Echo"/> <em>[3%]</em> and
        <ktm:card title="Keyhole"/> <em>[11%]</em> rotate
    </li>
    <li>
        <strong>DLR mill</strong>: <ktm:card title="Data Leak Reversal"/> <em>[5%]</em> rotates
    </li>
    <li>
        <strong>Econ denial spam</strong>: <ktm:card title="Account Siphon"/> <em>[41%]</em> and
        <ktm:card title="Vamp"/> <em>[5%]</em> rotate
    </li>
    <li>
        <strong>ICE destruction with Medium digs</strong>: <ktm:card title="Medium"/> <em>[39%]</em>,
        <ktm:card title="Parasite"/> <em>[22%]</em> and <ktm:card title="Déjà Vu"/> <em>[37%]</em> rotate
    </li>
    <li>
        <strong>Tag-and-bag</strong>: <ktm:card title="Scorched Earth"/> <em>[5%]</em> and
        <ktm:card title="Midseason Replacements"/> <em>[4%]</em> rotate. You would need
        <ktm:card title="BOOM!"/> <em>[19%]</em> and
        <ktm:card title="Hard-Hitting News"/> <em>[17%]</em> which is hard to pull off considering the excellent
        runner economy.
    </li>
</ul>
<hr/>
<!--Meta predictions-->
<h4>
    Meta predictions
    <a name="meta" class="anchor">&nbsp;</a>
</h4>
<p>
    I have no idea. But let me make a few wild guesses:
</p>
<ul>
    <li>
        <strong>Anarch</strong>: <ktm:card title="Medium"/> <em>[39%]</em>, <ktm:card title="Parasite"/> <em>[22%]</em>
        and <ktm:card title="Whizzard: Master Gamer"/> <em>[20%]</em> are gone. I'm guessing we will see
        tag-me decks with <ktm:card title="Counter Surveillance"/> <em>[6%]</em>. Maybe milling with
        <ktm:card title="Fear the Masses"/> <em>[0%]</em> or <ktm:card title="Salvaged Vanadis Armory"/> <em>[3%]</em>.
        <br/>
        <em>
            Edit: I was wrong. It's <ktm:card title="Salvaged Vanadis Armory"/> <em>[3%]</em>
            <a href="https://netrunnerdb.com/en/decklist/45507/take-the-corp-s-deck-and-throw-it-into-the-trash">"self-harm" decks</a>.
            I hope that card gets nerfed soon.
        </em>
    </li>
    <li>
        <strong>Criminal</strong>: They are totally wrecked by losing <ktm:card title="Account Siphon"/> <em>[41%]</em>,
        <ktm:card title="Desperado"/> <em>[26%]</em> and their most popular ID
        <ktm:card title="Andromeda: Dispossessed Ristie"/> <em>[21%]</em>. This faction has to reinvent itself.
        (Is decking the corp with Fisk valid?)
    </li>
    <li>
        <strong>Shaper</strong>: I'm sure they can live without <ktm:card title="R&amp;D Interface"/> <em>[13%]</em>,
        <ktm:card title="Kate &quot;Mac&quot; McCaffrey: Digital Tinker"/> <em>[8%]</em> and
        Dyper. They are the clear winners of the rotation as the other runners were hit hard.
    </li>
    <li>
        <strong>Haas-bioroid</strong>: <ktm:card title="Haas-Bioroid: Engineering the Future"/> rotates while CI is shut
        down by the absence of <ktm:card title="Accelerated Diagnostics"/> <em>[6%]</em>. I'm really curious if you
        can make a Moonies deck with Seidr. We will see.
    </li>
    <li>
        <strong>Jinteki</strong>: Throw out the garbage of the old core set and keep the good cards from rotating by
        putting them into the Revised Core Set. This is what happened with Jinteki.
        <ktm:card title="Caprice Nisei"/> <em>[19%]</em> and <ktm:card title="Fetal AI"/> <em>[10%]</em> are
        collateral damage, the chairmen will manage anyway. Especially that there's no
        <ktm:card title="Account Siphon"/> <em>[41%]</em>. Get ready for the Jinteki renaissance.
    </li>
    <li>
        <strong>NBN</strong>: Can you even play NBN without
        <ktm:card title="Breaking News"/> <em>[16%]</em> and
        <ktm:card title="SanSan City Grid"/> <em>[11%]</em>? You have to do something with tags.
        How about <ktm:card title="Hard-Hitting News"/> <em>[17%]</em> with
        <ktm:card title="Zealous Judge"/> <em>[0%]</em>? Heh, no takers?
    </li>
    <li>
        <strong>Weyland-Consortium</strong>: Expect
        <ktm:card title="Titan Transnational: Investing In Your Future"/> <em>[3%]</em> because we kept
        <ktm:card title="Project Atlas"/> <em>[12%]</em>.
        <ktm:card title="Skorpios Defense Systems: Persuasive Power"/> <em>[6%]</em> should be decent.
    </li>
</ul>
<hr/>
<!--TL;DR-->
<h4>
    TL;DR
    <a name="tl-dr" class="anchor">&nbsp;</a>
</h4>
<p>
    <strong>You have to build decks without these cards:</strong><br/>
    <em>
        These are the most used cards (above 10%) on recent tournaments.
        There are other rotating items as well!
    </em>
</p>
<table class="table table-bordered table-small">
    <tbody>
        <tr>
            <td class="text-right">
                <ktm:card title="Account Siphon"/> <em>[41%]</em>
                <span class="icon-criminal"></span>
            </td>
            <td>
                <span class="icon-nbn"></span> <em>[95%]</em>
                <ktm:card title="Jackson Howard"/>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Medium"/> <em>[39%]</em>
                <span class="icon-anarch"></span>
            </td>
            <td>
                <span class="icon-haas-bioroid"></span> <em>[27%]</em>
                <ktm:card title="Haas-Bioroid: Engineering the Future"/>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Déjà Vu"/> <em>[37%]</em>
                <span class="icon-anarch"></span>
            </td>
            <td>
                <span class="icon-haas-bioroid"></span> <em>[23%]</em>
                <ktm:card title="Accelerated Beta Test"/>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Plascrete Carapace"/> <em>[33%]</em>
                <span class="icon-neutral"></span>
            </td>
            <td>
                <span class="icon-haas-bioroid"></span> <em>[21%]</em>
                <ktm:card title="Eli 1.0"/>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Desperado"/> <em>[26%]</em>
                <span class="icon-criminal"></span>
            </td>
            <td>
                <span class="icon-neutral"></span> <em>[21%]</em>
                <ktm:card title="Quandary"/>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Parasite"/> <em>[22%]</em>
                <span class="icon-anarch"></span>
            </td>
            <td>
                <span class="icon-nbn"></span> <em>[20%]</em>
                <ktm:card title="Sweeps Week"/>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Andromeda: Dispossessed Ristie"/> <em>[21%]</em>
                <span class="icon-criminal"></span>
            </td>
            <td>
                <span class="icon-jinteki"></span> <em>[19%]</em>
                <ktm:card title="Caprice Nisei"/>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Whizzard: Master Gamer"/> <em>[20%]</em>
                <span class="icon-anarch"></span>
            </td>
            <td>
                <span class="icon-neutral"></span> <em>[18%]</em>
                <ktm:card title="Restructure"/>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="John Masanori"/> <em>[20%]</em>
                <span class="icon-neutral"></span>
            </td>
            <td>
                <span class="icon-nbn"></span> <em>[16%]</em>
                <ktm:card title="Breaking News"/>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="New Angeles City Hall"/> <em>[17%]</em>
                <span class="icon-neutral"></span>
            </td>
            <td>
                <span class="icon-nbn"></span> <em>[11%]</em>
                <ktm:card title="SanSan City Grid"/>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Yog.0"/> <em>[16%]</em>
                <span class="icon-anarch"></span>
            </td>
            <td>
                <span class="icon-neutral"></span> <em>[11%]</em>
                <ktm:card title="Subliminal Messaging"/>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Kati Jones"/> <em>[14%]</em>
                <span class="icon-neutral"></span>
            </td>
            <td>
                <span class="icon-jinteki"></span> <em>[10%]</em>
                <ktm:card title="Fetal AI"/>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="R&amp;D Interface"/> <em>[13%]</em>
                <span class="icon-shaper"></span>
            </td>
            <td>
                <span class="icon-neutral"></span> <em>[10%]</em>
                <ktm:card title="NAPD Contract"/>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Keyhole"/> <em>[11%]</em>
                <span class="icon-anarch"></span>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <ktm:card title="Hostage"/> <em>[10%]</em>
                <span class="icon-criminal"></span>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>
<hr/>
<h4>Support me</h4>
<p>
    Did you like this article? Are you using
    <img src="https://alwaysberunning.net/favicon-96x96.png" class="img-inline"/><a href="https://alwaysberunning.net">AlwaysBeRunning.net</a> or
    <img src="http://www.knowthemeta.com/favicon-96x96.png" class="img-inline"/><a href="http://www.knowthemeta">KnowTheMeta</a>?
</p>
<p>
    If so, please check out the ways you can support me and my sites:<br/>
    <br/>
<div class="text-center">
    <a href="https://alwaysberunning.net/support-me" class="btn btn-warning">Support Me</a>
</div>
</p>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={             'modules':[{               'name':'visualization',               'version':'1',               'packages':['corechart']             }]           }"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    google.setOnLoadCallback(loadIDsOverTime);

    var factionData = { anarch: {}, shaper: {}, criminal: {}, 'haas-bioroid': {}, 'jinteki': {}, 'nbn': {}, 'weyland-consortium': {} };
    var IDs = { anarch: [], shaper: [], criminal: [], 'haas-bioroid':[], 'jinteki':[], 'nbn':[], 'weyland-consortium':[] };
    var cardpacks = [], dataTable, idsOverTimeChart, selectedFaction = 'anarch', selectedData = 'all',
            chartEl = 'chart-ids', stopFromPackIndex=31;
    var chartOptions = {
        'isStacked': true,
        'height': 300,
        'curveType': 'function',
        'vAxis': { format: 'percent', textPosition: 'out', viewWindowMode: 'pretty', viewWindow: { min: 0, max: 0.7 } },
        'chartArea': {  width: document.getElementById(chartEl).offsetWidth - 230, height: "70%", left: 100, top: 0 },
        'hAxis': { showTextEvery: 1, slantedText: 'true' },
        'legend': { position: 'right'},
        'lineWidth': 3
    };

    function loadIDsOverTime() {
        loadPacks(function() {
            loadIDs(IDs, function() {
                drawIDsOverTime(IDs.anarch, factionData.anarch, cardpacks, 'top');

                // redraw if needed
                $(window).resize(function(){
                    chartOptions.chartArea.width = document.getElementById(chartEl).offsetWidth - 230;
                    idsOverTimeChart.draw(dataTable, chartOptions);
                });
            });
        });
    }

    function clickFilter(faction, datatype) {
        $('#faction-'+selectedFaction).removeClass('active');
        selectedFaction = faction;
        $('#faction-'+selectedFaction).addClass('active');
        $('#data-'+selectedData).removeClass('active');
        selectedData = datatype;
        $('#data-'+selectedData).addClass('active');
        drawIDsOverTime(IDs[selectedFaction], factionData[selectedFaction], cardpacks, selectedData);
    }

    /*]]>*/
</script>
