<div class="bg-info info-box">You can find the second article about the corp cards here:<br />
    <a href="http://www.knowthemeta.com/Blog/sansan-corp">Reminiscing the Sansan Cycle [CORP]</a></div>
<h4>The Valley</h4>
<div class="blog-image">
    <ktm:img title="Clot" size="medium"/>
</div>
<p>
    NBN fast advance is a force to be reckoned with these days.
    This archetype brought so much frustration and sparked many helpless cries from the runners.
    Something had to be done to stop the
    <ktm:card title="AstroScript Pilot Program"/> trains in their tracks.
    Which brings us to the silver bullet named <ktm:card title="Clot"/>.
    This card is mostly found in Shaper and Anarch decks utilizing instantaneous install ability of
    <ktm:card title="Clone Chip"/>,
    <ktm:card title="Self-modifying Code"/>
    and <ktm:card title="Street Peddler"/>.
    It’s pretty much an auto-include in most of these decks. Unfortunately corps pack their own silver bullet
    against it, <ktm:card title="Cyberdex Virus Suite"/>.
    These things balance themselves out nicely, but without
    <ktm:card title="Clot"/>
    the fight against fast advance would be lost.
</p>
<div class="blog-image">
    <ktm:img title="Symmetrical Visage" size="medium"/>
</div>
<p>
    The mini <ktm:card title="Professional Contacts"/>,
    luckily a Neutral resource without any faction
    cost. For 2 credits, it brings so much value. It’s mostly the tool of Shapers and Criminals while Anarchs
    tend to use <ktm:card title="Wyldside"/>,
    <ktm:card title="Off-Campus Apartment"/> and
    <ktm:card title="Drug Dealer"/> for drawing.
</p>
<div class="blog-image">
    <ktm:img title="Adjusted Chronotype" size="medium"/>
</div>
<p>
    The <ktm:card title="Adjusted Chronotype"/> and
    <ktm:card title="Wyldside"/> combo is
    the draw engine of
    numerous Anarch decks. Players even started calling an archetype “Pancake Noise” for utilizing it.
    It might take a time and resources to get the combination on the table, but the joy of two free cards
    every turn puts a smile on many faces. Don’t forget to include
    <ktm:card title="Faust"/> in the picture for more giggles
    and fun.
</p>
<hr />
<h4>Breaker Bay:</h4>
<div class="blog-image">
    <ktm:img title="Career Fair" size="medium"/>
</div>
<p>
    It’s like <ktm:card title="Modded"/>
    for resources with a low faction cost. Anarchs and some Criminals
    run it, lowering the price of <ktm:card title="Daily Casts"/>,
    <ktm:card title="Liberated Account"/>,
    <ktm:card title="Earthrise Hotel"/> and the
    just mentioned dream team of
    <ktm:card title="Adjusted Chronotype"/> and
    <ktm:card title="Wyldside"/>.
</p>
<hr />
<h4>Chrome City:</h4>
<div class="blog-image">
    <ktm:img title="Net-Ready Eyes" size="medium"/>
</div>
<p>
    Though it’s a Shaper hardware, it mostly complements the fixed-strength Anarch breakers
    <ktm:card title="Mimic"/> and
    <ktm:card title="Yog.0"/>.
    <ktm:card title="Lotus Field"/> used to be a way to
    give Anarchs and Criminals a hard time. Net-Ready Eyes is a solution for that, but nowadays
    <ktm:card title="Faust"/> is the king of Anarch breakers.
    Though it is still found in “L4J Whizzard“ decks.
</p>
<hr />
<h4>The Underway:</h4>
<div class="blog-image">
    <ktm:img title="Faust" size="medium"/>
</div>
<p>
    Wow. This card gave Anarchs such an incredible boost, they still dominate the current
    metagame. It’s breaker which can be used even when you are broke on credits. It’s an AI breaker which
    can handle all ICE subtypes. Breaking costs cards from hand, but this program singlehandedly eliminates most
    safe places on the table. <ktm:card title="Turing"/>
    is a nice counter against decks using
    <ktm:card title="Faust"/>. This fact helped
    HB decks to establish their foothold in tournaments further on.
</p>
<div class="blog-image">
    <ktm:img title="Street Peddler" size="medium"/>
</div>
<p>
    Another Anarch powerhouse. It is so good that vinegarymink even wrote
    <a href="http://stimhack.com/an-entire-article-about-street-peddler/" target="_blank">An Entire Article About Street Peddler</a>.
    Instantaneous install of programs, resources and hardware which keeps the corp guessing in fear. Does she
    have <ktm:card title="Clot"/>,
    <ktm:card title="Clone Chip"/>,
    <ktm:card title="Paparazzi"/> or some breaker?
    They will find out eventually.
</p>
<hr />
<h4>Old Hollywood:</h4>
<div class="blog-image">
    <ktm:img title="Film Critic" size="medium"/>
</div>
<p>
    It is cheap in credits, cheap in faction cost and packs a punch against
    <ktm:card title="NAPD Contract"/>
    and <ktm:card title="The Future Perfect"/>.
    <ktm:card title="Film Critic"/> also protects you against
    <ktm:card title="Midseason Replacements"/> and
    <ktm:card title="Punitive Counterstrike"/>.
    It can strangle <ktm:card title="Haarpsichord Studios: Entertainment Unleashed"/>
    and its “when the runner accesses…” agendas.
    Runners using Kate usually pack one, but it is sporadically found in other decks as well.
</p>
<div class="blog-image">
    <ktm:img title="Drug Dealer" size="medium"/>
</div>
<p>
    Finally, the most used Criminal card of the cycle. The cruel twist of fate is that
    <ktm:card title="Drug Dealer"/> is usually found in
    the “DLR Valencia” archetype, made famous by the 2015 Worlds Champion
    Dan D’argenio. It plays together well with the
    <ktm:card title="Off-Campus Apartment"/>, fitting in
    with the other connections.
    <ktm:card title="Drug Dealer"/> gives a nice boost
    early game and really shines with
    <ktm:card title="Faust"/>. It also offers some damage
    protection, ideally raising the cards in hand to 6 during the corporation’s turn.
</p>
<div class="blog-image">
    <ktm:img title="Paparazzi" size="medium"/>
</div>
<p>
    In the midst of killer corps, this is the savior of tag-me runners.
    <ktm:card title="Paparazzi"/> offers
    synergy with <ktm:card title="Data Leak Reversal"/>
    (DLR), which is nice, since DLR is the tag-me archetype these days.
    It still needs <ktm:card title="Wireless Net Pavilion"/>
    to be useful.
</p>
<hr />
<h4>The Universe of Tomorrow:</h4>
<div class="blog-image">
    <ktm:img title="Wireless Net Pavilion" size="medium"/>
</div>
<p>
    This card enables DLR decks to be top-tier.
    <ktm:card title="Wireless Net Pavilion"/> and
    <ktm:card title="Fall Guy"/>
    make trashing resources so expensive in clicks and credits that most corporations will not bother. Especially if
    they are kept poor by <ktm:card title="Account Siphon"/>.
</p>
<hr />
<h4>Identities</h4>
<div class="row blog-image">
    <div class="col-md-4 col-xs-12">
        <ktm:img title="Hayley Kaplan: Universal Scholar" size="medium"/>
    </div>
    <div class="col-md-4 col-xs-12">
        <ktm:img title="Armand &quot;Geist&quot; Walker: Tech Lord" size="medium"/>
    </div>
    <div class="col-md-4 col-xs-12">
        <ktm:img title="Laramy Fisk: Savvy Investor" size="medium"/>
    </div>
</div>
<p>
    Unfortunately the SanSan cycle did not offer any top-tier runner identities. Some players
    experiment with
    <ktm:card title="Hayley Kaplan: Universal Scholar"/>
    achieving mixed results. The two Criminal identities,
    <ktm:card title="Armand &quot;Geist&quot; Walker: Tech Lord"/>
    and <ktm:card title="Laramy Fisk: Savvy Investor"/>
    are still not successful in
    competitive play. Hopefully in the future they will receive some cards that fit them well.
</p>
<hr />
<h4>Balance of factions (top 30% decks on tournaments)</h4>
<div class="blog-image">
    <img src="/static/img/blog/runner-factions-over-time.png" alt="Netrunner runner factions over time" class="blog-big-picture"/>
</div>
<p>
    The indisputable winners of the SanSan cycle are Anarchs. Shapers are having their ups and
    downs but they show a steady participation in the top decks of tournaments. The Criminals are on a decline which
    makes me sad. Initially Anarchs are weakened by
    <ktm:card title="Turing"/>.
    Later you can clearly see the tremendous impact of
    <ktm:card title="Faust"/> and
    <ktm:card title="Street Peddler"/> in the chart.
    The hype settles a bit as Shaper gets
    <ktm:card title="Film Critic"/>.,
    still Anarch has a good lead on the other factions. It’s worth noting that
    <ktm:card title="Kate &quot;Mac&quot; McCaffrey: Digital Tinker"/>
    remains the most successful runner.
</p>
<hr />
<h4>The source of data</h4>
<p>
    Why did I mention these specific cards? Where did I get that graph? From this site,
    <a href="http://www.knowthemeta.com">Know the Meta</a>, of course. Be sure to check out all the statistics that
    can be found here!
</p>
<div class="bg-info info-box">
    You can find the second article about the corp cards here:<br />
    <a href="http://www.knowthemeta.com/Blog/sansan-corp">Reminiscing the Sansan Cycle [CORP]</a>
</div>