<div class="bg-info info-box">You can find the first article about the runner cards here:<br />
    <a href="http://www.knowthemeta.com/Blog/sansan-runner">Reminiscing the Sansan Cycle [RUNNER]</a></div>
<h4>The Valley</h4>
<div class="blog-image">
    <ktm:img title="Cortex Lock" size="medium"/>
</div>
<p>
    Those pesky facecheckers will pay! And by pesky facechecker I mean Anarchs. It's usually them free-spirited
    aggressors who like to go headfirst onto an unrezzed ICE without any breakers. It has strength 4, which is nice
    because <ktm:card title="Mimic"/> is not enough to
    neutralize the subroutine. Unfortunately this card is pretty useless in late game, also
    <ktm:card title="Faust"/> can mitigate its threat.
</p>
<hr/>
<h4>Breaker Bay</h4>
<div class="blog-image">
    <ktm:img title="Turing" size="medium"/>
</div>
<p>This is your anti-Anarch ICE since these days they are all about
    <ktm:card title="Faust"/>.
    <ktm:card title="Turing"/> will protect your scoring
    remote like no other. When positioned on centrals, it can also stop an
    <ktm:card title="Eater"/> trying to squeeze in an
    <ktm:card title="Account Siphon"/> or a
    <ktm:card title="Keyhole"/> run. Since Anarchs are
    the current dominant runner faction, I would suggest putting 3 in any HB deck. Don't forget
    that the runner can click through. Considering the current meta, this is the best ICE of the cycle.
</p>
<div class="blog-image">
    <ktm:img title="Crick" size="medium"/>
</div>
<p>Running on the archives has never been so painful.
    <ktm:card title="Jinteki: Replicating Perfection"/> was
    loving this. Use it to reinstall an economy asset
    (<ktm:card title="Sundew"/>,
    <ktm:card title="Mental Health Clinic"/>), a taxing
    upgrade (<ktm:card title="Ash 2X3ZB9CY"/>,
    <ktm:card title="Caprice Nisei"/>), ICE or even an
    agenda. It's cheap but does not end the run.
</p>
<div class="blog-image">
    <ktm:img title="Gutenberg" size="medium"/>
</div>
<p>Insanely low-price tagging ICE. The runner will probably take the tag, there is no point in trying to break a strength 6
    sentry or beat a trace 7. This is quite taxing if your opponent cares about tags. If not, one of you will be in
    trouble soon.
</p>
<div class="blog-image">
    <ktm:img title="Breaker Bay Grid" size="medium"/>
</div>
<p>Combine it with the HB bots
    (<ktm:card title="Adonis Campaign"/>,
    <ktm:card title="Eve Campaign"/>) and you have saved
    a lot of credits. You can even put it into your scoring server next to
    <ktm:card title="Ash 2X3ZB9CY"/> or
    <ktm:card title="Caprice Nisei"/>. Remember, only 1
    region per server, does not work with i.e.
    <ktm:card title="SanSan City Grid"/>.
</p>
<hr />
<h4>Chrome City</h4>
<div class="blog-image">
    <ktm:img title="Oaktown Renovation" size="medium"/>
</div>
<p>Probably the best face-up Weyland agenda there is. It's like clicking for money but in the meantime you are also
    advancing an agenda. You have to protect it well, since it is obvious to the runner that this card worth points. Big ICE and
    <ktm:card title="Ash 2X3ZB9CY"/> should come in handy.</p>
<hr />
<h4>The Underway</h4>
<div class="blog-image">
    <ktm:img title="Spiderweb" size="medium"/>
</div>
<p>They Weyland Consortium was always good with barriers. It taxes well, costs 3 credits to break with a
    <ktm:card title="Corroder"/> or 2 counters with
    <ktm:card title="Cerberus &quot;Lady&quot; H1"/>. Sadly, it is
    vunerable to <ktm:card title="Parasite"/>.
</p>
<div class="blog-image">
    <ktm:img title="Marcus Batty" size="medium"/>
</div>
<p>It creates an unbreakable subroutine which you can only escape by a successful psi game. Damaging and program
    trashing subroutines are the best choice, but an "End the run" will also suffice in some cases.
    <ktm:card title="NEXT Gold"/> can be a powerful
    candidate. Add some recursion (<ktm:card title="Crick"/>,
    <ktm:card title="Interns"/>) for extra fun.
</p>
<hr />
<h4>Old Hollywood</h4>
<div class="blog-image">
    <ktm:img title="Explode-a-Palooza" size="medium"/>
</div>
<p>This is an alternative to <ktm:card title="NAPD Contract"/>.
    Though <ktm:card title="NAPD Contract"/>'s ability can
    actually stop the runner from stealing the agenda,
    <ktm:card title="Explode-a-Palooza"/>
    provides almost the same economic advantage. Plus it might enable the kill for a butcher deck when both sides are broke.
    <ktm:card title="Haarpsichord Studios: Entertainment Unleashed"/> can benefit
    from it even more if multiple agenda's "when accessed" ability fire.
</p>
<hr />
<h4>The Universe of Tomorrow</h4>
<div class="blog-image">
    <ktm:img title="Team Sponsorship" size="medium"/>
</div>
<p>You can put this in any horizontal deck, it is just 1 influence.
    <ktm:card title="Haas-Bioroid: Engineering the Future"/>
    and <ktm:card title="Near-Earth Hub: Broadcast Center"/>
    loves this by default. You can also fit it in into a Jinteki deck using 1-pointer agendas. Use
    <ktm:card title="Turtlebacks"/> for extra profit.
    Reinstalling expensive-to-trash cards like
    <ktm:card title="SanSan City Grid"/> or
    <ktm:card title="Daily Business Show"/> really wrecks
    the runner economy. Ignoring install cost means you can save some credits if you are using multiple small ICE on
    centrals. This a real pain fo the runner, nice effect, cheap to rez, costing 4 to trash. It is the best asset of the
    cycle that you can fit into various decks.
</p>
<div class="blog-image">
    <ktm:img title="The Future is Now" size="medium"/>
</div>
<p>The competition among 3/1 agendas are really tight. The ability to search for <strong>anything</strong> and not
    showing it to the runner is strong and flexible. This can nurture kill decks, fast advance decks and also some wicked
    combo shenanigans (<ktm:card title="Power Shutdown"/> +
    <ktm:card title="Accelerated Diagnostics"/>, I'm looking
    at you). How about pairing it up with
    <ktm:card title="Team Sponsorship"/> to install the
    card you just searched for?
</p>
<div class="blog-image">
    <ktm:img title="Product Placement" size="medium"/>
</div>
<p>BFFs with <ktm:card title="Spark Agency: Worldswide Reach"/>. Install it
    on a server and the runner will have to trash it, delivering a 4(5) credit advantage. It is also awesome as a random
    trap triggering on a central access. The only downside is deckspace.
</p>
<hr />
<h4>Identities</h4>
<div class="row blog-image">
    <div class="col-md-4 col-xs-12">
        <ktm:img title="Haarpsichord Studios: Entertainment Unleashed" size="medium"/>
    </div>
    <div class="col-md-4 col-xs-12">
        <ktm:img title="Jinteki Biotech: Life Imagined" size="medium"/>
    </div>
    <div class="col-md-4 col-xs-12">
        <ktm:img title="Cybernetics Division: Humanity Upgraded" size="medium"/>
    </div>
</div>
<p>I am happy that <ktm:card title="Haarpsichord Studios: Entertainment Unleashed"/>
    from the cycle is truly a tier 1 identity enabling a lot of competitive decks. "Convenience Shop" is a successful
    archetype combining the annoying "when accessed" NBN agendas with
    <ktm:card title="24/7 News Cycle"/> and Weyland meat
    damage. The identity lets you care less about ICE and open up some interesting end game possibilities.
</p>
<p>
    <ktm:card title="Jinteki Biotech: Life Imagined"/> seems to be very
    flexible. You can play it as a rush deck or going for flatline, even a mixture of both. Unfortunately, Jinteki has
    seen some better days and the current metagame does not favour it.
    <ktm:card title="Cybernetics Division: Humanity Upgraded"/> strives to
    bring the brain damage side of HB to life without much result. It can provide some surprises, but usually fails to
    deliver at tournaments.
</p>
<hr />
<h4>Balance of factions (top 30% decks on tournaments)</h4>
<div class="blog-image">
    <img src="/static/img/blog/corp-factions-over-time.png" alt="Netrunner Corp Factions Over Time" class="blog-big-picture"/>
</div>
<hr />
<p>Oh NBN. We thought you could be restrained by
    <ktm:card title="Clot"/>. Players soon found out
    that with <ktm:card title="Cyberdex Virus Suite"/> and
    <ktm:card title="Shipment from SanSan"/> it can be
    mitigated. Butchershop decks also flourished, strengthening the NBN faction even more. The only competitor of NBN
    was HB thanks to <ktm:card title="Turing"/> which
    successfully opposed the popular Anarch decks.
    <ktm:card title="Team Sponsorship"/> (also awesome in
    NBN) and <ktm:card title="Breaker Bay Grid"/> helped
    HB a little more. In the meantime the success of
    <ktm:card title="Jinteki: Replicating Perfection"/> diminished
    and Weyland struggled hard on the borderline of failure. It is easy to see that NBN needs some restraining while
    Jinteki and Weyland desperately require some new good cards to regain competitiveness.
</p>
<hr/>
<h4>The source of data</h4>
<p>Why did I mention these specific cards? Where did I get that graph? From this site,
    <a href="http://www.knowthemeta.com">Know the Meta</a>, of course. Be sure to check out all the statistics that
    can be found here!</p>
<div class="bg-info info-box">You can find the first article about the runner cards here:<br />
    <a href="http://www.knowthemeta.com/Blog/sansan-runner">Reminiscing the Sansan Cycle [RUNNER]</a></div>
