<div class="bg-info info-box">You can find the second article about the corp cards here:<br />
    <a href="http://www.knowthemeta.com/Blog/sansan-corp">Reminiscing the Sansan Cycle [CORP]</a></div>
<h4>The Valley</h4>
<div class="blog-image"><a href="http://netrunnerdb.com/en/card/08001" target="_blank" rel="nofollow">
    <img src="/static/img/blog/netrunner-clot.png" alt="Netrunner Clot" class="card-medium"/></a></div>
<p>NBN fast advance is a force to be reckoned with these days.
    This archetype brought so much frustration and sparked many helpless cries from the runners.
    Something had to be done to stop the
    <a href="http://netrunnerdb.com/en/card/01081" target="_blank" rel="nofollow">Astroscript</a> trains in their tracks.
    Which brings us to the silver bullet named <a href="http://netrunnerdb.com/en/card/08001" target="_blank" rel="nofollow">Clot</a>.
    This card is mostly found in Shaper and Anarch decks utilizing instantaneous install ability of
    <a href="http://netrunnerdb.com/en/card/03038" target="_blank" rel="nofollow">Clone Chip</a>,
    <a href="http://netrunnerdb.com/en/card/03046" target="_blank" rel="nofollow">Self-modifying Code</a>
    and <a href="http://netrunnerdb.com/en/card/08062" target="_blank" rel="nofollow">Street Peddler</a>.
    It’s pretty much an auto-include in most of these decks. Unfortunately corps pack their own silver bullet
    against it, <a href="http://netrunnerdb.com/en/card/07027" target="_blank" rel="nofollow">Cyberdex Virus Suite</a>.
    These things balance themselves out nicely, but without
    <a href="http://netrunnerdb.com/en/card/08001" target="_blank" rel="nofollow">Clot</a>
    the fight against fast advance would be lost.</p>
<div class="blog-image"><a href="http://netrunnerdb.com/en/card/08009" target="_blank" rel="nofollow">
    <img src="/static/img/blog/netrunner-symmetrical-visage.png" alt="Netrunner Symmetrical Visage" class="card-medium"/></a></div>
<p>The mini <a href="http://netrunnerdb.com/en/card/03049" target="_blank" rel="nofollow">Professional Contacts</a>,
    luckily a Neutral resource without any faction
    cost. For 2 credits, it brings so much value. It’s mostly the tool of Shapers and Criminals while Anarchs
    tend to use <a href="http://netrunnerdb.com/en/card/01016" target="_blank" rel="nofollow">Wyldside</a>,
    <a href="http://netrunnerdb.com/en/card/08022" target="_blank" rel="nofollow">Off-Campus Apartment</a> and
    <a href="http://netrunnerdb.com/en/card/08083" target="_blank" rel="nofollow">Drug Dealer</a> for drawing.</p>
<div class="blog-image"><a href="http://netrunnerdb.com/en/card/08003" target="_blank" rel="nofollow">
    <img src="/static/img/blog/netrunner-adjusted-chronotype.png" alt="Netrunner Adjusted Chronotype" class="card-medium"/></a></div>
<p>The <a href="http://netrunnerdb.com/en/card/08003" target="_blank" rel="nofollow">Adjusted Chronotype</a> and
    <a href="http://netrunnerdb.com/en/card/01016" target="_blank" rel="nofollow">Wyldside</a> combo is
    the draw engine of
    numerous Anarch decks. Players even started calling an archetype “Pancake Noise” for utilizing it.
    It might take a time and resources to get the combination on the table, but the joy of two free cards
    every turn puts a smile on many faces. Don’t forget to include
    <a href="http://netrunnerdb.com/en/card/08061" target="_blank" rel="nofollow">Faust</a> in the picture for more giggles
    and fun.</p>
<hr />
<h4>Breaker Bay:</h4>
<div class="blog-image"><a href="http://netrunnerdb.com/en/card/08023" target="_blank" rel="nofollow">
    <img src="/static/img/blog/netrunner-career-fair.png" alt="Netrunner Career Fair" class="card-medium"/></a></div>
<p>It’s like <a href="http://netrunnerdb.com/en/card/01035" target="_blank" rel="nofollow">Modded</a>
    for resources with a low faction cost. Anarchs and some Criminals
    run it, lowering the price of <a href="http://netrunnerdb.com/en/card/03053" target="_blank" rel="nofollow">Daily Casts</a>,
    <a href="http://netrunnerdb.com/en/card/02022" target="_blank" rel="nofollow">Liberated Account</a>,
    <a href="http://netrunnerdb.com/en/card/06120" target="_blank" rel="nofollow">Earthrise Hotel</a> and the
    just mentioned dream team of
    <a href="http://netrunnerdb.com/en/card/08003" target="_blank" rel="nofollow">Adjusted Chronotype</a> and
    <a href="http://netrunnerdb.com/en/card/01016" target="_blank" rel="nofollow">Wyldside</a>.</p>
<hr />
<h4>Chrome City:</h4>
<div class="blog-image"><a href="http://netrunnerdb.com/en/card/08047" target="_blank" rel="nofollow">
    <img src="/static/img/blog/netrunner-net-ready-eyes.png" alt="Netrunner Net-ready Eyes" class="card-medium"/></a></div>
<p>Though it’s a Shaper hardware, it mostly complements the fixed-strength Anarch breakers
    <a href="http://netrunnerdb.com/en/card/01011" target="_blank" rel="nofollow">Mimic</a> and
    <a href="http://netrunnerdb.com/en/card/01014" target="_blank" rel="nofollow">Yog.0</a>.
    <a href="http://netrunnerdb.com/en/card/06003" target="_blank" rel="nofollow">Lotus Field</a> used to be a way to
    give Anarchs and Criminals a hard time. Net-Ready Eyes is a solution for that, but nowadays
    <a href="http://netrunnerdb.com/en/card/08061" target="_blank" rel="nofollow">Faust</a> is the king of Anarch breakers.
    Though it is still found in “L4J Whizzard“ decks.</p>
<hr />
<h4>The Underway:</h4>
<div class="blog-image"><a href="http://netrunnerdb.com/en/card/08061" target="_blank" rel="nofollow">
    <img src="/static/img/blog/netrunner-faust.png" alt="Netrunner Faust" class="card-medium"/></a></div>
<p>Wow. This card gave Anarchs such an incredible boost, they still dominate the current
    metagame. It’s breaker which can be used even when you are broke on credits. It’s an AI breaker which
    can handle all ICE subtypes. Breaking costs cards from hand, but this program singlehandedly eliminates most
    safe places on the table. <a href="http://netrunnerdb.com/en/card/08033" target="_blank" rel="nofollow">Turing</a>
    is a nice counter against decks using
    <a href="http://netrunnerdb.com/en/card/08061" target="_blank" rel="nofollow">Faust</a>. This fact helped
    HB decks to establish their foothold in tournaments further on.</p>
<div class="blog-image"><a href="http://netrunnerdb.com/en/card/08062" target="_blank" rel="nofollow">
    <img src="/static/img/blog/netrunner-street-peddler.png" alt="Netrunner Street Peddler" class="card-medium"/></a></div>
<p>Another Anarch powerhouse. It is so good that vinegarymink even wrote
    <a href="http://stimhack.com/an-entire-article-about-street-peddler/" target="_blank">An Entire Article About Street Peddler</a>.
    Instantaneous install of programs, resources and hardware which keeps the corp guessing in fear. Does she
    have <a href="http://netrunnerdb.com/en/card/08001" target="_blank" rel="nofollow">Clot</a>,
    <a href="http://netrunnerdb.com/en/card/03038" target="_blank" rel="nofollow">Clone Chip</a>,
    <a href="http://netrunnerdb.com/en/card/08087" target="_blank" rel="nofollow">Paparazzi</a> or some breaker?
    They will find out eventually.</p>
<hr />
<h4>Old Hollywood:</h4>
<div class="blog-image"><a href="http://netrunnerdb.com/en/card/08086" target="_blank" rel="nofollow">
    <img src="/static/img/blog/netrunner-film-critic.png" alt="Netrunner Film Critic" class="card-medium"/></a></div>
<p>It is cheap in credits, cheap in faction cost and packs a punch against
    <a href="http://netrunnerdb.com/en/card/04119" target="_blank" rel="nofollow">NAPD Contract</a>
    and <a href="http://netrunnerdb.com/en/card/05007" target="_blank" rel="nofollow">The Future Perfect</a>.
    <a href="http://netrunnerdb.com/en/card/08086" target="_blank" rel="nofollow">Film Critic</a> also protects you against
    <a href="http://netrunnerdb.com/en/card/02116" target="_blank" rel="nofollow">Midseasons Replacements</a> and
    <a href="http://netrunnerdb.com/en/card/04079" target="_blank" rel="nofollow">Punitive Counterstrike</a>.
    It can strangle <a href="http://netrunnerdb.com/en/card/08092" target="_blank" rel="nofollow">Haarpsichord Studios</a>
    and its “when the runner accesses…” agendas.
    Runners using Kate usually pack one, but it is sporadically found in other decks as well.</p>
<div class="blog-image"><a href="http://netrunnerdb.com/en/card/08083" target="_blank" rel="nofollow">
    <img src="/static/img/blog/netrunner-drug-dealer.png" alt="Netrunner Drug Dealer" class="card-medium"/></a></div>
<p>Finally, the most used Criminal card of the cycle. The cruel twist of fate is that
    <a href="http://netrunnerdb.com/en/card/08083" target="_blank" rel="nofollow">Drug Dealer</a> is usually found in
    the “DLR Valencia” archetype, made famous by the 2015 Worlds Champion
    Dan D’argenio. It plays together well with the
    <a href="http://netrunnerdb.com/en/card/08022" target="_blank" rel="nofollow">Off-Campus Apartment</a>, fitting in
    with the other connections.
    <a href="http://netrunnerdb.com/en/card/08083" target="_blank" rel="nofollow">Drug Dealer</a> gives a nice boost
    early game and really shines with
    <a href="http://netrunnerdb.com/en/card/08061" target="_blank" rel="nofollow">Faust</a>. It also offers some damage
    protection, ideally raising the cards in hand to 6 during the corporation’s turn.</p>
<div class="blog-image"><a href="http://netrunnerdb.com/en/card/08087" target="_blank" rel="nofollow">
    <img src="/static/img/blog/netrunner-paparazzi.png" alt="Netrunner Paparazzi" class="card-medium"/></a></div>
<p>In the midst of killer corps, this is the savior of tag-me runners.
    <a href="http://netrunnerdb.com/en/card/08087" target="_blank" rel="nofollow">Paparazzi</a> offers
    synergy with <a href="http://netrunnerdb.com/en/card/02103" target="_blank" rel="nofollow">Data Leak Reversal</a>
    (DLR), which is nice, since DLR is the tag-me archetype these days.
    It still needs <a href="http://netrunnerdb.com/en/card/08108" target="_blank" rel="nofollow">Wireless Net Pavilion</a>
    to be useful.</p>
<hr />
<h4>The Universe of Tomorrow:</h4>
<div class="blog-image"><a href="http://netrunnerdb.com/en/card/08108" target="_blank" rel="nofollow">
    <img src="/static/img/blog/netrunner-wireless-net-pavilion.png" alt="Netrunner Wireless Net Pavilion" class="card-medium"/></a></div>
<p>This card enables DLR decks to be top-tier.
    <a href="http://netrunnerdb.com/en/card/08108" target="_blank" rel="nofollow">Wireless Net Pavilion</a> and
    <a href="http://netrunnerdb.com/en/card/04106" target="_blank" rel="nofollow">Fall Guy</a>
    make trashing resources so expensive in clicks and credits that most corporations will not bother. Especially if
    they are kept poor by <a href="http://netrunnerdb.com/en/card/01018" target="_blank" rel="nofollow">Account Siphon</a>.</p>
<hr />
<h4>Identities</h4>
<div class="row blog-image">
    <div class="col-md-4 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/08025" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-hayley-kaplan.png" alt="Netrunner Hayley Kaplan" class="card-medium"/></a>
    </div>
    <div class="col-md-4 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/08063" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-armand-geist-walker.png" alt="Netrunner Armand Geist Walker" class="card-medium"/></a>
    </div>
    <div class="col-md-4 col-xs-12">
        <a href="http://netrunnerdb.com/en/card/08104" target="_blank" rel="nofollow">
            <img src="/static/img/blog/netrunner-laramy-fisk.png" alt="Netrunner Laramy Fisk" class="card-medium"/></a>
    </div>
</div>
<p>Unfortunately the SanSan cycle did not offer any top-tier runner identities. Some players
    experiment with
    <a href="http://netrunnerdb.com/en/card/08025" target="_blank" rel="nofollow">Hayley Kaplan: Universal Scholar</a>
    achieving mixed results. The two Criminal identities,
    <a href="http://netrunnerdb.com/en/card/08063" target="_blank" rel="nofollow">Armand “Geist” Walker: Tech Lord</a>
    and <a href="http://netrunnerdb.com/en/card/08104" target="_blank" rel="nofollow">Laramy Fisk: Savvy Investor,</a>
    are still not successful in
    competitive play. Hopefully in the future they will receive some cards that fit them well.</p>
<hr />
<h4>Balance of factions (top 30% decks on tournaments)</h4>
<div class="blog-image"><img src="/static/img/blog/runner-factions-over-time.png" alt="Netrunner runner factions over time" class="blog-big-picture"/></div>
<p>The indisputable winners of the SanSan cycle are Anarchs. Shapers are having their ups and
    downs but they show a steady participation in the top decks of tournaments. The Criminals are on a decline which
    makes me sad. Initially Anarchs are weakened by
    <a href="http://netrunnerdb.com/en/card/08033" target="_blank" rel="nofollow">Turing</a>.
    Later you can clearly see the tremendous impact of
    <a href="http://netrunnerdb.com/en/card/08061" target="_blank" rel="nofollow">Faust</a> and
    <a href="http://netrunnerdb.com/en/card/08062" target="_blank" rel="nofollow">Street Peddler</a> in the chart.
    The hype settles a bit as Shaper gets
    <a href="http://netrunnerdb.com/en/card/08086" target="_blank" rel="nofollow">Film Critic</a>.,
    still Anarch has a good lead on the other factions. It’s worth noting that
    <a href="http://netrunnerdb.com/en/card/01033" target="_blank" rel="nofollow">Kate “Mac” McCaffrey: Digital Tinker</a>
    remains the most successful runner.</p>
<hr />
<h4>The source of data</h4>
<p>Why did I mention these specific cards? Where did I get that graph? From this site,
    <a href="http://www.knowthemeta.com">Know the Meta</a>, of course. Be sure to check out all the statistics that
    can be found here!</p>
<div class="bg-info info-box">You can find the second article about the corp cards here:<br />
    <a href="http://www.knowthemeta.com/Blog/sansan-corp">Reminiscing the Sansan Cycle [CORP]</a></div>