<hr/>
<h4>He who dominates</h4>
<div class="row blog-image">
    <div class="col-xs-6 col-md-3 text-center">
        <ktm:img title="Whizzard: Master Gamer" size="small"/>
        <div class="text-danger">all: XXX% - top: XXX%</div>
    </div>
    <div class="col-xs-6 col-md-9 blog-image">
        <a href="/Cards/Whizzard:%20Master%20Gamer/">
            <img src="/static/img/blog/ci-whizzard.png" alt="Netrunner Whizzard" class="blog-big-picture"/>
        </a>
    </div>
</div>
<p>
    According to my statistics, <ktm:card title="Whizzard: Master Gamer"/> has been the <strong>most popular</strong>
    runner identity since <em>Martial Law</em>. He also holds the title of
    <strong>most impressive</strong> (number of decks in top / all decks) ID as well
    since then. That is four packs in a row. If you look at the numbers and the chart, he has doing great since the
    first MWL came out at the very end of 2015. That is more than a year.
</p>
<br/>
<h4>The Anarch faction</h4>

<br/>
<hr/>
<h4>Support me</h4>
<p>
    Did you like this article? Are you using
    <img src="https://alwaysberunning.net/favicon-96x96.png" class="img-inline"/><a href="https://alwaysberunning.net">AlwaysBeRunning.net</a> or
    <img src="http://www.knowthemeta.com/favicon-96x96.png" class="img-inline"/><a href="http://www.knowthemeta">KnowTheMeta</a>?
</p>
<p>
    If so, please check out the ways you can support me and my sites:<br/>
    <br/>
    <div class="text-center">
        <a href="https://alwaysberunning.net/support-me" class="btn btn-warning">Support Me</a>
    </div>
</p>