<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <h3 class="page-header">Much admin... wow</h3>

        <!--Messages-->
        <div class="alert alert-success" role="alert" th:text="${successMessage}" th:if="${successMessage != null}"></div>
        <div class="alert alert-warning" role="alert" th:text="${warningMessage}" th:if="${warningMessage != null}"></div>
        <div class="alert alert-danger" role="alert" th:text="${errorMessage}" th:if="${errorMessage != null}"></div>


        <!--Data verification -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Verify</div>
                    <div class="panel-body">
                        <button onclick="fillVerificationTable()" class="btn btn-default">Verify</button>
                        <table class="table table-striped">
                            <thead>
                                <th>deck</th>
                                <th>problem type</th>
                                <th>description</th>
                                <th></th>
                            </thead>
                            <tbody id="verification"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--Stimhack-->
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Stimhack</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" method="post" action="/muchadmin/Stimhack/AddTournament">
                            <div class="row form-group">
                                <label class="col-md-3 control-label">Add single Stimhack tournament:</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text" name="url" placeholder="URL"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-default">Import</button>
                                </div>
                            </div>
                            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                        </form>
                        <form class="form-horizontal top-buffer" role="form" method="post" action="/muchadmin/Stimhack/AddDataPack">
                            <div class="row form-group">
                                <label class="col-md-3 control-label">Scan Stimhack for datapack:</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text" name="datapack" placeholder="data pack name"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-default">Import</button>
                                </div>
                            </div>
                            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">Stimhack</div>
                    <div class="panel-body">
                        <p>Last update date: <span th:text="${lastStimhackTournament}"></span></p>
                        <p>Tournaments: <span th:text="${countStimhackTournaments}"></span></p>
                        <p>Decks: <span th:text="${countStimhackDecks}"></span></p>
                        <p>Standings: <span th:text="${countStimhackStandings}"></span></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Acoo-->
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Acoo</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" method="post" action="/muchadmin/Acoo/AddDeck">
                            <div class="row form-group">
                                <label class="col-md-3 control-label">Add single Acoo deck:</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text" name="deckid" placeholder="deck ID"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-default">Import</button>
                                </div>
                            </div>
                            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                        </form>

                        <form class="form-horizontal top-buffer" role="form" method="post" action="/muchadmin/Acoo/AddTournament">
                            <div class="row form-group">
                                <label class="col-md-3 control-label">Add single Acoo tournament:</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text" name="tournamentid" placeholder="tournament ID"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-default">Import</button>
                                </div>
                            </div>
                            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                        </form>

                        <form class="form-horizontal top-buffer" role="form" method="post" action="/muchadmin/Acoo/AddTournaments">
                            <div class="row form-group">
                                <label class="col-md-3 control-label">Add Acoo tournaments:</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text" name="url" placeholder="URL"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9 checkbox">
                                    <label><input type="checkbox" name="paging" checked="checked"/>Crawl using pagination</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-default">Import</button>
                                </div>
                            </div>
                            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">Acoo</div>
                    <div class="panel-body">
                        <p>Last update date: <span th:text="${lastAcooTournament}"></span></p>
                        <p>Tournaments: <span th:text="${countAcooTournaments}"></span></p>
                        <p>Decks: <span th:text="${countAcooDecks}"></span></p>
                        <p>Standings: <span th:text="${countAcooStandings}"></span></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Netrunner DB-->
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Netrunner DB</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" method="post" action="/muchadmin/NetrunnerDB/LoadDB">
                            <div class="row">
                                <label class="col-md-3 control-label">Load card, pack info</label>
                                <div class="col-md-9">
                                    <button type="submit" class="btn btn-default">Load</button>
                                </div>
                            </div>
                            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                        </form>
                        <form class="form-horizontal top-buffer" role="form" method="post" action="/muchadmin/NetrunnerDB/LoadDeck">
                            <div class="row form-group">
                                <label class="col-md-3 control-label">Add deck:</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text" name="deckid" placeholder="Deck ID"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-default">Import</button>
                                </div>
                            </div>
                            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">NetrunnerDB</div>
                    <div class="panel-body">
                        <p>Cards: <span th:text="${countCards}"></span></p>
                        <p>Packs: <span th:text="${countCardPacks}"></span></p>
                        <p>Decks: <span th:text="${countNetrunnerDBDecks}"></span></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Database purge-->
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-danger">
                    <div class="panel-heading">Database delete</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" method="post" action="/muchadmin/Delete/Deck">
                            <div class="row form-group">
                                <label class="col-md-3 control-label">Delete deck:</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text" name="url" placeholder="Deck URL"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-default">Delete</button>
                                </div>
                            </div>
                            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                        </form>
                        <form class="form-horizontal top-buffer" role="form" method="post" action="/muchadmin/Delete/Tournament">
                            <div class="row form-group">
                                <label class="col-md-3 control-label">Delete tournament:</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text" name="url" placeholder="Tournament URL"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-default">Delete</button>
                                </div>
                            </div>
                            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                        </form>
                        <form class="form-horizontal top-buffer" role="form" method="post" action="/muchadmin/PurgeAll" onSubmit="if(!confirm('ARE YOU SURE?')){return false;}">
                            <div class="row">
                                <label class="col-md-3 control-label">Purge all data (with statistics)</label>
                                <div class="col-md-9">
                                    <button type="submit" class="btn btn-default">Purge</button>
                                </div>
                            </div>
                            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                        </form>
                        <form class="form-horizontal top-buffer" role="form" method="post" action="/muchadmin/PurgeStat">
                            <div class="row">
                                <label class="col-md-3 control-label">Purge statistical data</label>
                                <div class="col-md-9">
                                    <button type="submit" class="btn btn-default">Purge</button>
                                </div>
                            </div>
                            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                        </form>
                        <form class="form-horizontal top-buffer" role="form" method="post" action="/muchadmin/PurgeStat/Last 3 aggregated">
                            <div class="row">
                                <label class="col-md-6 control-label">Purge statistical data on Last 3</label>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-default">Purge</button>
                                </div>
                            </div>
                        </form>
                        <form th:each="cardpool : ${cardpools}" class="form-horizontal top-buffer" role="form" method="post" th:action="@{/muchadmin/PurgeStat/__${cardpool}__}">
                            <div class="row">
                                <label class="col-md-6 control-label">Purge statistical data on <span th:text="${cardpool}"></span></label>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-default">Purge</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">Database</div>
                    <div class="panel-body">
                        <p>Tournaments: <span th:text="${countTournaments}"></span></p>
                        <p>Decks: <span th:text="${countDecks}"></span></p>
                        <p>Standings: <span th:text="${countStandings}"></span></p>
                        <p>Deck-card relations: <span th:text="${countDeckHasCards}"></span></p>
                        <p>Admin data: <span th:text="${countAdminData}"></span></p>
                        <p>Decks without rel: <span th:text="${countDecksWithoutRel}"></span></p>
                        <!--<p>Doubled standings: <span th:text="${countDoubledStandings}"></span></p>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Deny URLs</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" method="post" action="/muchadmin/Update/DenyUrls">
                            <div class="row form-group">
                                <label class="col-md-3 control-label">Deny URLs:</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="10" name="urls" th:text="${denyurls}"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-default">Update</button>
                                </div>
                            </div>
                            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                        </form>
                        <form class="form-horizontal" role="form" method="post" action="/muchadmin/Execute/DenyUrls">
                            <div class="row form-group">
                                <label class="col-md-3 control-label">Delete denied decks:</label>
                                <div class="col-md-9">
                                    <button type="submit" class="btn btn-default">Delete</button>
                                </div>
                            </div>
                            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">Statistics</div>
                    <div class="panel-body">
                        <p>
                            DPStatistics: <span th:text="${countDPStatistics}"></span><br />
                            CountDeckStands: <span th:text="${countCountDeckStands}"></span>
                        </p>
                        <p>
                            IdentityMDS: <span th:text="${countIdentityMDS}"></span><br />
                            MDSEntry: <span th:text="${countMDSEntry}"></span>
                        </p>
                        <p>
                            CardPoolStats: <span th:text="${countCardPoolStats}"></span><br />
                            CardPool: <span th:text="${countCardPool}"></span>
                        </p>
                        <p>
                            DeckInfos: <span th:text="${countDeckInfos}"></span><br />
                            DeckInfo: <span th:text="${countDeckInfo}"></span>
                        </p>
                        <p>
                            DPIdentities: <span th:text="${countDPIdentities}"></span><br />
                            DPIdentity: <span th:text="${countDPIdentity}"></span>
                        </p>
                        <p>
                            CardUsageStat: <span th:text="${countCardUsageStat}"></span><br />
                            CardUsage: <span th:text="${countCardUsage}"></span>
                        </p>
                        <p>
                            IdentityAverage: <span th:text="${countIdentityAverage}"></span><br />
                            ICEAverage: <span th:text="${countICEAverage}"></span><br />
                            CardAverage: <span th:text="${countCardAverage}"></span>
                        </p>
                        <p>
                            CardStat: <span th:text="${countCardStat}"></span><br />
                            CardCombo: <span th:text="${countCardCombo}"></span><br />
                            DPDecks: <span th:text="${countDPDecks}"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        Experimental
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-info">
                    <div class="panel-heading">Experimental</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" method="post" action="/muchadmin/Experimental">
                            <div class="row form-group">
                                <label class="col-md-3 control-label">Detect post-MWL:</label>
                                <div class="col-md-9">
                                    <button type="submit" class="btn btn-default">Detect</button>
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal" role="form" method="post" action="/muchadmin/Experimental2">
                            <div class="row form-group">
                                <label class="col-md-3 control-label">Reord post-MWL:</label>
                                <div class="col-md-9">
                                    <button type="submit" class="btn btn-default">Reorg</button>
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal" role="form" method="post" action="/muchadmin/WinMore">
                            <div class="row form-group">
                                <label class="col-md-3 control-label">Detect Win-More:</label>
                                <div class="col-md-9">
                                    <button type="submit" class="btn btn-default">Detect</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <div th:replace="fragments/head :: scripts"></div>
    <script th:inline="javascript">
        /*<![CDATA[*/

        function fillVerificationTable() {
            $('#verification').addClass('spinner');
            var jsonData = $.ajax({
                url: "/muchadmin/Verify",
                dataType: "json",
                async: false,
                success: function(data) {
                    $('#verification').empty();
                    $.each(data, function(index, element) {
                        if (element.title === "") {
                            element.title = "unknown";
                        }
                        $('#verification').append($('<tr>').append($('<td>').append($('<a>', {
                            text: element.title,
                            href: element.url,
                            target: '_blank'
                        })), $('<td>', {
                            text: element.problemType
                        }), $('<td>', {
                            text: element.reason
                        }), $('<td>').append($('<a>', {
                            text: 'ban',
                            onclick: 'banDeck(\''+element.url+'\')',
                            class: 'fake-link'
                        }))));
                    });
                    $('#verification').removeClass('spinner');
                }
            });
        }

        function banDeck(url) {
            console.log("Banning URL" + url);
            var jsonData = $.ajax({
                url: "/muchadmin/BanDeck?url=" + encodeURIComponent(url),
                dataType: "json",
                async: false
            });
        }
        /*]]>*/
    </script>
</body>
</html>