<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <div class="alert alert-warning">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            Packs suggested here are based on statistics. Please seek advice from an experienced Netrunner player also before buying.
        </div>
        <h3 class="page-header">Buyers guide</h3>
        <div class="row top-buffer">
            <div class="col-md-6 col-xs-12">
                <div id="general" class="hidden">
                    <h4>Choose a side</h4>
                    <div class="text-center">
                        <br/><br/>
                        <a href="/Buyers-Guide/side/corp" class="btn btn-primary btn-lg">Corporation</a>
                        <a href="/Buyers-Guide/side/runner" class="btn btn-danger btn-lg">Runner</a>
                    </div>
                </div>
                <div id="ids" class="hidden">
                    <h4>Choose an identity</h4>
                    <div id="id-list" class="spinner">
                    </div>
                </div>
                <div id="identity" class="hidden">
                    <h4>Chosen identity</h4>
                    <div class="text-center">
                        <br/>
                        <img th:src="@{__${imgsrc}__}" class="card-big"/><br />
                        <a th:href="@{/Cards/__${id}__/}">statistics of ID</a> -
                        <a th:href="@{/MDSIdentity/Last%203%20aggregated/__${id}__}">deck drilldown of ID</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <h4>Popular packs</h4>
                <ul id="cards" class="spinner"></ul>
            </div>
        </div>


        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <div th:replace="fragments/head :: scripts"></div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var dataGeneral=[];

        if ([[${id}]] !== null) {
            $('#identity').removeClass('hidden');
            dataGeneral.push({pack: [[${pack}]], score: 100, cards: [{title: [[${id}]], faction: [[${faction}]], score: 100}]});    // adding ID as card
            populateBuyersPacks(dataGeneral, "/JSON/Identity/Last%203%20aggregated/" + [[${id}]], 'id', function () {
                displayBuyersCards(dataGeneral)
            })
        } else if ([[${side}]] == 'corp') {
            $('#ids').removeClass('hidden');
            populateBuyersPacks(dataGeneral, "/JSON/Tournament/corp/Last%203%20aggregated", 'side', function () {
                displayBuyersCards(dataGeneral)
            })
        } else if ([[${side}]] == 'runner') {
            $('#ids').removeClass('hidden');
            populateBuyersPacks(dataGeneral, "/JSON/Tournament/runner/Last%203%20aggregated", 'side', function () {
                displayBuyersCards(dataGeneral)
            })
        } else {
            $('#general').removeClass('hidden');
            populateBuyersPacks(dataGeneral, "/JSON/Tournament/runner/Last%203%20aggregated", 'general', function () {
                populateBuyersPacks(dataGeneral, "/JSON/Tournament/corp/Last%203%20aggregated", 'general', function () {
                    displayBuyersCards(dataGeneral)
                })
            });
        }

        /*]]>*/
    </script>
    <div th:replace="fragments/analytics :: ga"></div>
</body>
</html>