<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <h3 class="page-header">Statistics on cardpools</h3>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>cardpool</td>
                            <td>tournaments</td>
                            <td>decks</td>
                            <td>rankings</td>
                        </tr>
                    </thead>
                    <tbody id="cptable"></tbody>
                </table>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-6">
                <button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#infopanel">Help</button>
                <div class="panel panel-default collapse top-buffer" id="infopanel">
                    <div class="panel-heading">Deck similarity</div>
                    <div class="panel-body">
                        <p>This section gives you information on which cardpools we have information on.</p>
                        <ul>
                            <li><strong>Tournaments:</strong> the number of tournaments we have information on.</li>
                            <li><strong>Decks:</strong> the number of decks we have information on.</li>
                            <li><strong>Rankings:</strong> the number of tournaments rankings we have information on.
                            This consists of the identity information about a certain rank (i.e third place
                                played Andromeda at the tournament).</li>
                        </ul>
                        <p>We gather information from <a href="http://acoo.net" target="_blank">Acoo</a> and
                        <a href="http://stimhack.com" target="_blank">Stimhack</a> in an automated way.</p>
                        </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <div th:replace="fragments/head :: scripts"></div>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var jsonData = $.ajax({
            url: "/JSON/Cardpool",
            dataType: "json",
            async: false,
            success: function(data) {
                $.each(data, function(index, element) {
                    $("#cptable").append($('<tr>').append($('<td>').append($('<a>', {
                        text: element.title,
                        href: "/DPStats/" + encodeURIComponent(element.title)
                    })), $('<td>', {
                        text: element.tournamentnum
                    }), $('<td>', {
                        text: element.decknum
                    }), $('<td>', {
                        text: element.standingsnum
                    })));
                });
            }
        });

        /*]]>*/
    </script>
</body>
</html>