<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <h3 class="page-header">Statistics on cardpools</h3>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>cardpool up to</th>
                            <th class="text-center">tournaments</th>
                            <th class="text-center">decks</th>
                            <th class="text-center">rankings</th>
                        </tr>
                    </thead>
                    <tbody id="cptable"></tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Runner factions over time (top decks)</h4>
                <div id="chart_div1" class="pie-chart"></div>
            </div>
            <div class="col-md-6">
                <h4>Corp factions over time (top decks)</h4>
                <div id="chart_div2" class="pie-chart"></div>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-6">
                <div th:replace="fragments/help :: cardpool"></div>
            </div>
        </div>
        <hr />
        <div class="row top-buffer">
            <div class="col-md-12">
                <p>Last update: <span th:text="${lastUpdate}"></span></p>
                <p>Parsed information - tournaments: <span th:text="${tournamentCount}"></span> -
                 decks: <span th:text="${deckCount}"></span> - rankings: <span th:text="${rankingCount}"></span></p>
                <p>We gather information from <a href="http://acoo.net" target="_blank">Acoo</a> and
                    <a href="http://stimhack.com" target="_blank">Stimhack</a> in an automated way.
                    <a href="http://netrunnerdb.com" target="_blank">NetrunnerDB</a> also has a cool API.</p>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <div th:replace="fragments/head :: scripts"></div>

    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        $('#cptable').addClass('spinner');
        $('#chart_div1').addClass('spinner');
        $('#chart_div2').addClass('spinner');

        google.setOnLoadCallback(drawData);

        function drawData() {
            filltable();
            drawChart("/DataTable/Cardpool/runner","chart_div1");
            drawChart("/DataTable/Cardpool/corp","chart_div2");
        }

        function drawChart(urlvalue, elementid) {

            var linecolors = new Array;

            var jsonData = $.ajax({
                url: urlvalue,
                dataType: "json",
                async: false,
                success: function(data) {
                    $.each(data.cols, function (index, element) {
                        linecolors.push({color : element.id});
                    });
                }
            }).responseText;

            linecolors.splice(0, 1); // removing first entry

            var data = new google.visualization.DataTable(jsonData);

            var options = {
                'width':555,
                'height': 350,
                'curveType': 'function',
                'vAxis': {format:'#,#%'},
//                'chartArea': {width:'90%'},
                'legend': {position: 'right', maxLines: 6},
                'series': linecolors,
                'lineWidth': 3
            };

            var chart = new google.visualization.LineChart(document.getElementById(elementid));
            chart.draw(data, options);
            $('#'+elementid).removeClass('spinner');
        }

        function filltable() {

            var jsonData = $.ajax({
                url: "/JSON/Cardpool",
                dataType: "json",
                async: false,
                success: function (data) {
                    $.each(data, function (index, element) {
                        $("#cptable").append($('<tr>').append($('<td>').append($('<a>', {
                            text: element.title,
                            href: "/DPStats/" + encodeURIComponent(element.title) + "/"
                        })), $('<td>', {
                            text: element.tournamentnum,
                            class: 'text-right'
                        }), $('<td>', {
                            text: element.decknum,
                            class: 'text-right'
                        }), $('<td>', {
                            text: element.standingsnum,
                            class: 'text-right'
                        })));
                    });
                    $('#cptable').removeClass('spinner');
                }
            });
        }
        /*]]>*/
    </script>
    <div th:replace="fragments/analytics :: ga"></div>
</body>
</html>