<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <h3 class="page-header">
            <span th:class="${faction}"></span>
            <span th:text="${title}"></span>
            <em>(<span th:text="${dp}"></span>)</em>
        </h3>
        <div class="row">
            <div class="alert alert-warning text-center hidden" role="alert" id="lowstat">WARNING: probably not enough data for statistical analysis</div>
            <div class="alert alert-danger text-center hidden" role="alert" id="nostat">No tournament data on card</div>
        </div>
        <div class="row">
            <!--Card picture-->
            <div class="col-md-4 col-xs-12 text-center">
                <img th:src="@{__${imgsrc}__}" class="card-big"/><br />
                <a id="ndblink"></a> -
                <a id="ancurlink"></a>
            </div>

            <!--Usage over time-->
            <div class="col-md-8 col-xs-12 text-center">
                <h4>
                    <span th:text="${title}"></span> usage in decks
                    <ktm:tooltip place="bottom" text="at least one of this card in deck"/>
                </h4>
                <div id="chart"></div>
            </div>
        </div>
        <hr/>
        <div class="row top-buffer-big">
            <!--Top cards / identities-->
            <div class="col-md-6 col-xs-12">
                <h4>
                    <span th:text="${toptitle}"></span>
                    <ktm:tooltip place="right" text="top 8, usage based on all decks from last 3 tournament cardpools using this card"/>
                </h4>
                <div id="idchart"></div>
                <table class="table table-hover" id="cardtable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>card title</th>
                            <th>pack</th>
                            <th colspan="2" class="text-center">decks</th>
                        </tr>
                    </thead>
                    <tbody id="cards"></tbody>
                </table>
            </div>

            <!--Possible combos-->
            <div class="col-md-6 col-xs-12">
                <h4>
                    Possible synergy with
                    <ktm:tooltip place="right" text="the card is usually found with these other cards in decks"/>
                </h4>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>card title</th>
                            <th>pack</th>
                        </tr>
                    </thead>
                    <tbody id="combos"></tbody>
                </table>
            </div>
        </div>
        <hr/>

        <!--Deck list-->
        <div class="row top-buffer-big">
            <div class="col-xs-12 col-md-9">
                <h4>Decks using this card</h4>
                <ul id="decks"></ul>
            </div>
            <div class="col-xs-12 col-md-3 text-center">
                <div th:replace="fragments/googlead :: small"></div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <div th:replace="fragments/head :: scripts"></div>
    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $('#chart').addClass('spinner');
        $('#combos').addClass('spinner');
        $('#decks').addClass('spinner');
        $('#cards').addClass('spinner');
        if ([[${identity}]]) {
            $('#idchart').addClass('hidden');
        } else {
            $('#idchart').addClass('spinner');
        }
        google.setOnLoadCallback(drawData);
        var jsonData;
        var cardChart = [['identity', 'decks']];
        var pieChart;
        var cardChartData;
        var chartOptions;

        function drawData() {
            drawLineChart("/JSON/Cards/" + [[${title}]] + "/ot.json", "chart");
            loadData();
        }

        $(window).resize(function(){
            drawLineChart("/JSON/Cards/" + [[${title}]] + "/ot.json", "chart");
            piechart.draw(cardChartData, chartOptions);
        });

        function loadData() {
            jsonData = $.ajax({
                url: "/JSON/Cards/" + [[${title}]] + "/card.json",
                dataType: "json",
                async: false,
                success: function(data) {
                    // top identities / cards
                    var countper = 0;
                    var slicecolors = [];
                    $.each(data.top, function (index, element) {
                        if (index < 8) {
                            $("#cards").append($("<tr>")
                                    .append($("<td>").append($("<span>", {
                                        class: 'icon-' + element.faction
                                    })), $("<td>").append($("<a>", {
                                        text: element.cardtitle,
                                        href: '/Cards/' + element.cardtitle + '/'
                                    })), $("<td>").append($("<em>", {
                                        text: '(' + element.cardpacktitle + ')'
                                    })), $("<td>", {
                                        text: element.indecks,
                                        class: 'text-right'
                                    }), $("<td>", {
                                        text: '(' + Math.round(element.deckfraction * 100) + '%)'
                                    })
                            ));
                        }
                        if (![[${identity}]]) {
                            cardChart.push([]);
                            cardChart[cardChart.length-1].push(element.cardtitle);
                            cardChart[cardChart.length-1].push(element.indecks);
                            slicecolors.push({color : factionCodeToColor(element.faction)});
                        }
                        countper += element.deckfraction;
                    });
                    $('#cards').removeClass('spinner');
                    if (![[${identity}]]) {
                        cardChartData = google.visualization.arrayToDataTable(cardChart);
                        chartOptions = {
                            'height': 300,
                            'pieSliceText': 'percentage',
                            'chartArea': { top: 10, width:'100%', height:'90%' },
                            'slices': slicecolors,
                            'sliceVisibilityThreshold': 0.02
                        };
                        piechart = new google.visualization.PieChart(document.getElementById('idchart'));
                        piechart.draw(cardChartData, chartOptions);
                        $('#idchart').removeClass('spinner');
                    }

                    // combos
                    $.each(data.combos, function (index, element) {
                        $("#combos").append($("<tr>").append($("<td>").append($("<span>", {
                            class: 'icon-' + element.faction
                        })), $("<td>").append($("<a>", {
                            text: element.title,
                            href: '/Cards/' + element.title + '/'
                        })), $("<td>", {
                            text: '(' + element.pack + ')',
                            class: 'italic'
                        })));
                    });
                    $('#combos').removeClass('spinner');

                    // links
                    $('#ndblink').replaceWith($("<a>", {
                        text: 'view on NetrunnerDB',
                        href: 'http://netrunnerdb.com/en/card/' + data.code,
                        rel: 'nofollow',
                        target: 'blank'
                    }));
                    $('#ancurlink').replaceWith($("<a>", {
                        text: 'view on ANCUR',
                        href: 'http://ancur.wikia.com/wiki/' + data.title.replace(" ", "_"),
                        rel: 'nofollow',
                        target: 'blank'
                    }));

                    // deck links
                    i = 0;
                    $.each(data.decks, function (index, element) {
                        if (![[${identity}]]) {
                            $('#decks').append($("<li>", {
                                text: element.dptitle + ' (' + element.count + ' decks)'
                            }).append($("<ul>", {
                                id: 'decks_' + i
                            })));
                        } else {
                            $('#decks').append($("<li>", {
                                text: element.dptitle + ' (' + element.count + ' decks) - '
                            }).append($("<a>", {
                                text: '[Deck Drilldown]',
                                href: '/MDSIdentity/' + element.dptitle + '/' + [[${title}]]
                            })).append($("<ul>", {
                                id: 'decks_' + i
                            })));
                        }
                        $.each(element.deckLinks, function (index2, element2) {
                            if (element2 === "...") {
                                $('#decks_' + i).append($("<p>", {
                                    text: "..."
                                }));
                            } else {
                                $('#decks_' + i).append($("<li>").append(element2));
                            }
                        });
                        i++;
                    });
                    $('#decks').removeClass('spinner');

                    // warning, error
                    if (countper === 0) {
                        $("#nostat").removeClass("hidden");
                    } else {
                        if (countper < 0.05) {
                            $("#lowstat").removeClass("hidden");
                        }
                    }

                }
            }).responseText;
        }

        function drawLineChart(urlvalue, elementid) {


            var jsonData = $.ajax({
                url: urlvalue,
                dataType: "json",
                async: false
            }).responseText;

            var data = new google.visualization.DataTable(jsonData);

            var options = {
                'height': 350,
                'curveType': 'none',
                'vAxis': { format:'#,#%', minValue: 0 },
                'hAxis': { showTextEvery: 1, slantedText: 'true' },
                'chartArea': { top: 10, bottom: 10, height: '70%'  },
                'legend': { position: 'right', maxLines: 2 },
                'lineWidth': 3
            };

            var chart = new google.visualization.LineChart(document.getElementById(elementid));
            chart.draw(data, options);
            $('#'+elementid).removeClass('spinner');
        }

        /*]]>*/
    </script>
    <div th:replace="fragments/analytics :: ga"></div>
</body>
</html>