<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <h3 class="page-header">Cards</h3>
        <div class="row">
            <!--Expansion list-->
            <div class="col-md-4 col-xs-12">
                <h4 class="text-center">
                    Expansions
                    <ktm:tooltip place="top" text="Click expansion name for card list."/>
                </h4>
                <table class="table table-condensed table-nonfluid">
                    <tbody id="packs"></tbody>
                </table>
            </div>

            <!--Card list-->
            <div class="col-md-8 col-xs-12">
                <a name="results" class="anchor">&nbsp;</a>
                <!--Runner cards-->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="shrink"></th>
                            <th class="expand">
                                runner card title
                                <ktm:tooltip place="top" text="Click on card name to drill down to its statistics."/>
                            </th>
                            <th class="text-center shrink" colspan="2">
                                used in top decks
                                <ktm:tooltip place="top" text="at least one card in top 30% ranking tournament decks"/>
                            </th>
                            <th class="text-center shrink" colspan="2">
                                used in decks
                                <ktm:tooltip place="top" text="at least one card in tournament decks"/>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="runner-cards">
                        <tr>
                            <td colspan="6" class="italic text-center">
                                Click an expansion to get its card list.
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!--Corp cards-->
                <table class="table table-hover top-buffer-big">
                    <thead>
                    <tr>
                        <th class="shrink"></th>
                        <th class="expand">
                            corp card title
                            <ktm:tooltip place="top" text="Click on card name to drill down to its statistics."/>
                        </th>
                        <th class="text-center shrink" colspan="2">
                            used in top decks
                            <ktm:tooltip place="top" text="at least one card in top 30% ranking tournament decks"/>
                        </th>
                        <th class="text-center shrink" colspan="2">
                            used in decks
                            <ktm:tooltip place="top" text="at least one card in tournament decks"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="corp-cards">
                        <tr>
                            <td colspan="6" class="italic text-center">
                                Click an expansion to get its card list.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <div th:replace="fragments/head :: scripts"></div>
    <script th:inline="javascript">
        /*<![CDATA[*/
            $('#packs').addClass('spinner');
            loadPacks();

            function loadTables(title) {
                var encodedtitle = encodeURIComponent(title);
                $('#runner-cards').empty().addClass('spinner');
                $('#corp-cards').empty().addClass('spinner');
                loadCardPackTable('/JSON/Cards/Cardpack/runner/' + encodedtitle, '#runner-cards');
                loadCardPackTable('/JSON/Cards/Cardpack/corp/' + encodedtitle, '#corp-cards');
            }

            function loadPacks() {
                $.ajax({
                    url: "/JSON/Cardpacks",
                    dataType: "json",
                    async: true,
                    timeout: 60000,
                    success: function (data) {
                        $.each(data, function (index, element) {
                            var iconclass = 'icon-' + element.title.split(" ").join("-");
                            if (element.datapacks.length == 0) {
                                $("#packs").append($("<tr>").append($("<td>").append($("<span>", {
                                    class: iconclass
                                })),$("<td>", {
                                    colspan: 2
                                }).append($("<a>", {
                                    text: element.title,
                                    onClick: "loadTables('" + element.title.replace(/'/g, '\\\'') + "')",
                                    class: 'fake-link',
                                    href: '#results'
                                }))));
                            } else {
                                $("#packs").append($("<tr>").append($("<td>").append($("<span>", {
                                    class: iconclass
                                })),$("<td>", {
                                    text: element.title + ' cycle',
                                    colspan: 2
                                })));
                                $.each(element.datapacks, function (index2, element2) {
                                    $("#packs").append($("<tr>").append($("<td>"), $("<td>").append($("<span>", {
                                        class: iconclass
                                    })), $("<td>").append($("<a>", {
                                        text: element2,
                                        onClick: "loadTables('" + element2.replace(/'/g, '\\\'') + "')",
                                        class: 'fake-link',
                                        href: '#results'
                                    }))));
                                });
                            }
                        });
                        $('#packs').removeClass('spinner');
                    }
                });
            }
        /*]]>*/
    </script>
    <div th:replace="fragments/analytics :: ga"></div>
</body>
</html>