<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <h3 class="page-header">Statistics on tournament cardpools</h3>

        <!--Factions over time-->
        <div class="row top-buffer">
            <div class="col-md-6">
                <h4>Runner factions over time (top 30% decks)</h4>
                <div id="chart_div1" class="pie-chart"></div>
            </div>
            <div class="col-md-6">
                <h4>Corp factions over time (top 30% decks)</h4>
                <div id="chart_div2" class="pie-chart"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4>Available drilldown</h4>
                <div class="list-group" id="drilldown"></div>
                <small>Click on the data pack / expansion name for more information.</small>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-md-6">
                <div th:replace="fragments/help :: cardpool"></div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <div th:replace="fragments/head :: scripts"></div>

    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        $('#drilldown').addClass('spinner');
        $('#chart_div1').addClass('spinner');
        $('#chart_div2').addClass('spinner');

        google.setOnLoadCallback(drawData);

        function drawData() {
            fillDrilldown();
            drawChart("/DataTable/Cardpool/runner","chart_div1");
            drawChart("/DataTable/Cardpool/corp","chart_div2");
        }

        function drawChart(urlvalue, elementid) {

            var linecolors = new Array;

            var jsonData = $.ajax({
                url: urlvalue,
                dataType: "json",
                async: false,
                success: function(data) {
                    $.each(data.cols, function (index, element) {
                        linecolors.push({color : element.id});
                    });
                }
            }).responseText;

            linecolors.splice(0, 1); // removing first entry

            var data = new google.visualization.DataTable(jsonData);

            var options = {
                'height': 350,
                'curveType': 'function',
                'vAxis': {format:'#,#%'},
                'chartArea': { top: 10, bottom: 10, height: '70%' },
                'legend': {position: 'right', maxLines: 6},
                'series': linecolors,
                'lineWidth': 3
            };

            var chart = new google.visualization.LineChart(document.getElementById(elementid));
            chart.draw(data, options);
            $('#'+elementid).removeClass('spinner');
        }

        function fillDrilldown() {

            var jsonData = $.ajax({
                url: "/JSON/Cardpool",
                dataType: "json",
                async: false,
                success: function (data) {
                    $.each(data, function (index, element) {
                        $("#drilldown").append($('<a>', {
                            text: element.title,
                            href: "/DPStats/" + encodeURIComponent(element.title) + "/",
                            class: 'list-group-item'
                        }));
                    });
                    $('#drilldown').removeClass('spinner');
                }
            });
        }
        /*]]>*/
    </script>
    <div th:replace="fragments/analytics :: ga"></div>
</body>
</html>