<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <h3 class="page-header">
            <span th:class="${faction}"></span>
            <span th:text="${title}"></span>
            <em>(<span th:text="${dp}"></span>)</em>
        </h3>
        <div class="row">
            <div class="alert alert-warning text-center hidden" role="alert" id="lowstat">
                WARNING: probably not enough data for statistical analysis
            </div>
            <div class="alert alert-danger text-center hidden" role="alert" id="nostat">No tournament data on card</div>
        </div>
        <div class="row">
            <!--Card picture-->
            <div class="col-md-4 col-xs-12 text-center">
                <img th:src="@{__${imgsrc}__}" class="card-big"/><br />
                <a id="ndblink"></a> -
                <a id="ancurlink"></a>
            </div>

            <!--Usage over time-->
            <div class="col-md-8 col-xs-12 text-center">
                <h4>
                    <span th:text="${title}"></span> usage in decks
                    <ktm:tooltip place="bottom" text="at least one of this card in deck"/>
                </h4>
                <div id="overtime-chart" class="spinner"></div>
            </div>
        </div>
        <hr/>
        <div class="row top-buffer-big">
            <!--Top cards / identities-->
            <div class="col-md-6 col-xs-12">
                <h4>
                    <span th:text="${toptitle}"></span>
                    <ktm:tooltip place="right"
                                 text="usage based on decks from last 3 tournament cardpools using this card"/>
                </h4>
                <div id="idchart"></div>
                <table class="table table-condensed table-hover" id="cardtable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>card title</th>
                            <th>pack</th>
                            <th colspan="2" class="text-center">decks</th>
                        </tr>
                    </thead>
                    <tbody id="cards" class="spinner"></tbody>
                </table>
            </div>

            <!--Possible combos-->
            <div class="col-md-6 col-xs-12">
                <h4>
                    Possible synergy with
                    <ktm:tooltip place="right" text="the card is usually found with these other cards in decks"/>
                </h4>
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>card title</th>
                            <th>pack</th>
                        </tr>
                    </thead>
                    <tbody id="combos" class="spinner"></tbody>
                </table>
            </div>
        </div>
        <hr/>

        <!--Deck list-->
        <div class="row top-buffer-big">
            <div class="col-xs-12 col-md-9">
                <h4>Decks using this card</h4>
                <ul id="decks" class="spinner"></ul>
            </div>
            <div class="col-xs-12 col-md-3 text-center">
                <div th:replace="fragments/googlead :: small"></div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <div th:replace="fragments/head :: scripts"></div>
    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart', 'bar']
            }]
          }"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        if ([[${identity}]]) {
            $('#idchart').addClass('hidden');
        }
        var jsonData;
        var cardChartData = [['identity', 'decks', 'fraction']];
        var cardChart;
        var cardDataTable;
        var cardChartOptions;
        var overTimeChartData = [['pack', 'all', 'top 30%']];
        var overTimeChart;
        var overTimeDataTable;
        var overTimeChartOptions;

        google.setOnLoadCallback(drawData);
        function drawData() {
            loadData();
        }

        // if resized
        $(window).resize(function(){
            cardChart.draw(cardDataTable, cardChartOptions);
            overTimeChart.draw(overTimeDataTable, overTimeChartOptions);
        });

        function processTopCards(data) {
            $.each(data.top, function (index, element) {
                // top card / identity table
                if (index < 8) {
                    $("#cards").append($("<tr>")
                            .append($("<td>").append($("<span>", {
                                class: 'icon-' + element.faction
                            })), $("<td>").append($("<a>", {
                                text: element.cardtitle,
                                href: '/Cards/' + element.cardtitle + '/'
                            })), $("<td>").append($("<em>", {
                                text: '(' + element.cardpacktitle + ')'
                            })), $("<td>", {
                                text: element.indecks,
                                class: 'text-right'
                            }), $("<td>", {
                                text: '(' + Math.round(element.deckfraction * 100) + '%)'
                            })
                    ));
                    // top identity data for pie chart
                    if (![[${identity}]]) {
                        cardChartData.push([]);
                        cardChartData[cardChartData.length - 1].push(shortTitle(element.cardtitle));
                        cardChartData[cardChartData.length - 1].push(element.indecks);
                        cardChartData[cardChartData.length - 1].push(element.deckfraction);
                    }
                }
            });

            // ... for more than 8 card / identity rows
            if (([[${identity}]]) || (data.top.length > 8)) {
                $("#cards").append($("<tr>").append($("<td>"), $("<td>", {
                    text: '...',
                    colspan: 4
                })));
            }
            $('#cards').removeClass('spinner');

            // draw identity pie chart
            if (![[${identity}]]) {
                cardDataTable = google.visualization.arrayToDataTable(cardChartData);
                cardChartOptions = {
                    'height': 300,
                    'chartArea': {top: 10, width: '100%', height: '90%'},
                    'bars': 'horizontal',
                    'series': {
                        1: { axis: 'fraction' },
                        0: { axis: 'decks' }
                    },
                    'axes': {
                        x: {
                            fraction: {label: 'fraction of decks'}, // Bottom x-axis.
                            decks: {side: 'top', label: 'number of decks'} // Top x-axis.
                        },
                        y: {
                            0: {label: ''}
                        }
                    },
                    'vAxis.format': 'none'
                };
                cardChart = new google.charts.Bar(document.getElementById('idchart'));
                cardChart.draw(cardDataTable, google.charts.Bar.convertOptions(cardChartOptions));
                $('#idchart').removeClass('spinner');
            }
        }

        function processOverTime(data) {
            $.each(data.overTime, function (index, element) {
                overTimeChartData.push([]);
                overTimeChartData[overTimeChartData.length - 1].push(element.cardpacktitle);
                overTimeChartData[overTimeChartData.length - 1].push(
                        {v: element.deckfraction, f: Math.round(element.deckfraction * 1000) / 10 + '%'});
                overTimeChartData[overTimeChartData.length - 1].push(
                        {v: element.topdeckfraction, f: Math.round(element.topdeckfraction * 1000) / 10 + '%'});
            });
            overTimeDataTable = google.visualization.arrayToDataTable(overTimeChartData);
            overTimeChartOptions = {
                'height': 350,
                'curveType': 'none',
                'vAxis': { format:'#,#%', minValue: 0 },
                'hAxis': { showTextEvery: 1, slantedText: 'true' },
                'chartArea': { top: 10, bottom: 10, height: '70%'  },
                'legend': { position: 'right', maxLines: 2 },
                'lineWidth': 3
            };
            overTimeChart = new google.visualization.LineChart(document.getElementById('overtime-chart'));
            overTimeChart.draw(overTimeDataTable, overTimeChartOptions);
            $('#overtime-chart').removeClass('spinner');

            // warning, error
            data.overTime.slice(Math.max(data.overTime.length - 3, 1));
            var avg = 0;
            $.each(data.overTime, function (index, element) {
                avg += element.deckfraction;
            });
            avg = avg / data.overTime.length;

            if (avg === 0) {
                $("#nostat").removeClass("hidden");
                $("#overtime-chart").addClass('hidden');
                $("#idchart").addClass('hidden');
            } else {
                if (avg < 0.05) {
                    $("#lowstat").removeClass("hidden");
                }
            }
        }

        function processCombos(data) {
            $.each(data.combos, function (index, element) {
                $("#combos").append($("<tr>").append($("<td>").append($("<span>", {
                    class: 'icon-' + element.faction
                })), $("<td>").append($("<a>", {
                    text: element.title,
                    href: '/Cards/' + element.title + '/'
                })), $("<td>", {
                    text: '(' + element.pack + ')',
                    class: 'italic'
                })));
            });
            $('#combos').removeClass('spinner');
        }

        function processCardLinks(data) {
            $('#ndblink').replaceWith($("<a>", {
                text: 'view on NetrunnerDB',
                href: 'http://netrunnerdb.com/en/card/' + data.code,
                rel: 'nofollow',
                target: 'blank'
            }));
            $('#ancurlink').replaceWith($("<a>", {
                text: 'view on ANCUR',
                href: 'http://ancur.wikia.com/wiki/' + data.title.replace(" ", "_"),
                rel: 'nofollow',
                target: 'blank'
            }));
        }

        function processDeckLinks(data) {
            i = 0;
            $.each(data.decks, function (index, element) {
                // cardpool entry
                if (![[${identity}]]) {
                    $('#decks').append($("<li>", {
                        text: element.dptitle + ' (' + element.count + ' decks)'
                    }).append($("<ul>", {
                        id: 'decks_' + i
                    })));
                } else {
                    $('#decks').append($("<li>", {
                        text: element.dptitle + ' (' + element.count + ' decks) - '
                    }).append($("<a>", {
                        text: '[Deck Drilldown]',
                        href: '/MDSIdentity/' + element.dptitle + '/' + [[${title}]]
                    })).append($("<ul>", {
                        id: 'decks_' + i
                    })));
                }

                // deck sub-entry
                $.each(element.deckLinks, function (index2, element2) {
                    if (element2 === "...") {
                        $('#decks_' + i).append($("<p>", {
                            text: "..."
                        }));
                    } else {
                        $('#decks_' + i).append($("<li>").append(element2));
                    }
                });
                i++;
            });
            $('#decks').removeClass('spinner');
        }

        function loadData() {
            jsonData = $.ajax({
                url: "/JSON/Cards/" + [[${title}]] + "/card.json",
                dataType: "json",
                async: true,
                timeout: 60000,
                success: function(data) {
                    // over time chart
                    processOverTime(data);

                    // top identities / cards
                    processTopCards(data);

                    // combos
                    processCombos(data);

                    // links
                    processCardLinks(data);

                    // deck links
                    processDeckLinks(data);
                }
            }).responseText;
        }

        /*]]>*/
    </script>
    <div th:replace="fragments/analytics :: ga"></div>
</body>
</html>