<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <h3 th:text="${DPname}"></h3>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#top">Factions / identities, top</a></li>
            <li><a data-toggle="tab" href="#all">Factions / identities, all</a></li>
            <li><a data-toggle="tab" href="#compare">Compare top - all</a></li>
            <li><a data-toggle="tab" href="#decks">Decks</a></li>
        </ul>

        <div class="tab-content">

            <!-- Top tab -->
            <div id="top" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Top runner factions</h4>
                        <div id="chart_div1" class="pie-chart"></div>
                    </div>
                    <div class="col-md-6">
                        <h4>Top corp factions</h4>
                        <div id="chart_div2" class="pie-chart"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Top runner identities</h4>
                        <div id="chart_div3" class="pie-chart"></div>
                    </div>
                    <div class="col-md-6">
                        <h4>Top corp identities</h4>
                        <div id="chart_div4" class="pie-chart"></div>
                    </div>
                </div>
            </div>

            <!-- all tab -->
            <div id="all" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-6">
                        <h4>All runner factions</h4>
                        <div id="chart_div5" class="pie-chart"></div>
                    </div>
                    <div class="col-md-6">
                        <h4>All corp factions</h4>
                        <div id="chart_div6" class="pie-chart"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>All runner identities</h4>
                        <div id="chart_div7" class="pie-chart"></div>
                    </div>
                    <div class="col-md-6">
                        <h4>All corp identities</h4>
                        <div id="chart_div8" class="pie-chart"></div>
                    </div>
                </div>
            </div>

            <!-- compare tab -->
            <div id="compare" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Compare runner factions</h4>
                        <div id="chart_div9" class="pie-chart"></div>
                    </div>
                    <div class="col-md-6">
                        <h4>Compare corp factions</h4>
                        <div id="chart_div10" class="pie-chart"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Compare runner identities</h4>
                        <div id="chart_div11" class="pie-chart"></div>
                    </div>
                    <div class="col-md-6">
                        <h4>Compare corp identities</h4>
                        <div id="chart_div12" class="pie-chart"></div>
                    </div>
                </div>
            </div>

            <!-- decks tab -->
            <div id="decks" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Runner decks</h4>
                        <div id="text_div1"></div>
                    </div>
                    <div class="col-md-6">
                        <h4>Corp decks</h4>
                        <div id="text_div2"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-md-6">
                <button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#infopanel">Help</button>
                <div class="panel panel-default collapse top-buffer" id="infopanel">
                    <div class="panel-heading">Datapack / expansion information</div>
                    <div class="panel-body">
                        <p>This section gives you information on the factions and identities being played.
                        The information is filtered for tournaments with deck pool up to a particular data pack / expansion.</p>
                        <p>Top decks are considered to be the decks played by the top 30% ranking players on each tournament.
                        In the decks sections you can check out similarities of decks for each identity.</p>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <div th:replace="fragments/head :: scripts"></div>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        $('#chart_div1').addClass('spinner');
        $('#chart_div2').addClass('spinner');
        $('#chart_div3').addClass('spinner');
        $('#chart_div4').addClass('spinner');
        $('#chart_div5').addClass('spinner');
        $('#chart_div6').addClass('spinner');
        $('#chart_div7').addClass('spinner');
        $('#chart_div8').addClass('spinner');
        $('#chart_div9').addClass('spinner');
        $('#chart_div10').addClass('spinner');
        $('#chart_div11').addClass('spinner');
        $('#chart_div12').addClass('spinner');
        $('#text_div1').addClass('spinner');
        $('#text_div2').addClass('spinner');

        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawCharts);

        function drawCharts() {
            var dpname = encodeURIComponent([[${DPname}]]);
            var basepiecharts = "/DataTable/DPStats/";
            var basebarcharts = "/DataTable/DPStats/Compare/";
            var baselist = "/JSON/DPStats/Identities/";
            var basecompare = "/MDSIdentity/" + dpname + "/";
            drawPieChart(basepiecharts + "Top/runner/faction/" + dpname, 'chart_div1');
            drawPieChart(basepiecharts + "Top/corp/faction/" + dpname, 'chart_div2');
            drawPieChart(basepiecharts + "Top/runner/identity/" + dpname, 'chart_div3');
            drawPieChart(basepiecharts + "Top/corp/identity/" + dpname, 'chart_div4');
            drawPieChart(basepiecharts + "All/runner/faction/" + dpname, 'chart_div5');
            drawPieChart(basepiecharts + "All/corp/faction/" + dpname, 'chart_div6');
            drawPieChart(basepiecharts + "All/runner/identity/" + dpname, 'chart_div7');
            drawPieChart(basepiecharts + "All/corp/identity/" + dpname, 'chart_div8');
            drawBarChart(basebarcharts + "runner/faction/" + dpname, 'chart_div9');
            drawBarChart(basebarcharts + "corp/faction/" + dpname, 'chart_div10');
            drawBarChart(basebarcharts + "runner/identity/" + dpname, 'chart_div11');
            drawBarChart(basebarcharts + "corp/identity/" + dpname, 'chart_div12');
            listIdentities(baselist + "runner/" + dpname, "#text_div1", basecompare);
            listIdentities(baselist + "corp/"+ dpname, "#text_div2", basecompare);
        }

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawPieChart(urlvalue, elementid) {

            var slices = new Array;

            var jsonData = $.ajax({
                url: urlvalue,
                dataType: "json",
                async: false,
                success: function(data) {
                    $.each(data.rows, function (index, element) {
                        slices.push({color : element.c[2].v});
                    });
                    $('#'+elementid).removeClass('spinner');
                }
            }).responseText;

            // Create our data table out of JSON data loaded from server.
            var data = new google.visualization.DataTable(jsonData);

            // Set chart options
            var options = {
                'width':500,
                'height':300,
                'slices': slices
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById(elementid));
            chart.draw(data, options);
        }

        function drawBarChart(urlvalue, elementid) {

//            var slices = new Array;

            var jsonData = $.ajax({
                url: urlvalue,
                dataType: "json",
                async: false,
                success: function(data) {
//                    $.each(data.rows, function (index, element) {
//                        slices.push({color : element.c[2].v});
//                    });
                    $('#'+elementid).removeClass('spinner');
                }
            }).responseText;

            // Create our data table out of JSON data loaded from server.
            var data = new google.visualization.DataTable(jsonData);
            var haxis;
            if ($.parseJSON(jsonData).rows.length > 6) {
                haxis = 'none';
            } else {
                haxis = 'out';
            }

            // Set chart options
            var options = {
                'width':500,
                'height':300,
                'vAxis': {format:'#,#%'},
                'hAxis': { textPosition: haxis }
//                'slices': slices
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.ColumnChart(document.getElementById(elementid));
            chart.draw(data, options);
        }

        function listIdentities(urlvalue, elementid, linkurl) {
            var jsonData = $.ajax({
                url: urlvalue,
                dataType: "json",
                async: false,
                success: function(data) {
                    $.each(data, function(index, element) {
                        $(elementid).append($('<div>')).append($('<a>', {
                            text: element.title + " (" + element.decknum +" decks)",
                            href: linkurl + element.title
                        }));
                    });
                    $(elementid).removeClass('spinner');
                }
            });
        }
        /*]]>*/
    </script>
</body>
</html>