<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <h3>
            <div class="pull-right">
                <a th:href="'/DPStats/'+${DPnameBefore}" class="btn btn-xs btn-primary" th:if="${DPnameBefore!=null}">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <span th:text="${DPnameBefore}"></span>
                </a>
                <a th:href="'/DPStats/'+${DPnameAfter}" class="btn btn-xs btn-primary" th:if="${DPnameAfter!=null}">
                    <span th:text="${DPnameAfter}"></span>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
                <a href="/DPStats/Last%203%20aggregated/" class="btn btn-xs btn-info"
                   th:if="${DPnameAfter==null and DPindex &gt; -1}">
                    Last 3 aggregated
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
            </div>
            <span th:text="${DPname}"></span>
        </h3>
        <ul class="nav nav-tabs" id="tabs">
            <li class="active"><a data-toggle="tab" href="#spotlight">Spotlight</a></li>
            <li><a data-toggle="tab" href="#win">Win-rates</a></li>
            <li><a data-toggle="tab" href="#top">Factions / identities, top</a></li>
            <li><a data-toggle="tab" href="#all">Factions / identities, all</a></li>
            <li><a data-toggle="tab" href="#compare">Compare top - all</a></li>
            <li><a data-toggle="tab" href="#decks">Deck Drilldown</a></li>
            <li><a data-toggle="tab" href="#ice">ICE / breakers</a></li>
            <li><a data-toggle="tab" href="#cards">Most used cards</a></li>
        </ul>

        <div class="tab-content">

            <!-- Spotlight -->
            <div id="spotlight" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <h4>Most popular IDs</h4>
                        <div class="row">
                            <div id="spot_popular_runner" class="col-xs-6 spotlight-card spinner"></div>
                            <div id="spot_popular_corp" class="col-xs-6 spotlight-card spinner"></div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4 col-xs-12">
                        <h4>
                            Most impressive IDs
                            <ktm:tooltip place="right" text="IDs with biggest top/all ratio (and at least 5% usage)"/>
                        </h4>
                        <div class="row">
                            <div id="spot_impressive_runner" class="col-xs-6 spotlight-card spinner"></div>
                            <div id="spot_impressive_corp" class="col-xs-6 spotlight-card spinner"></div>
                        </div>
                    </div>
                </div>
                <div class="row top-buffer" id="spot-deck-row">
                    <div class="col-md-6 col-xs-12">
                        <h4>
                            Most used runner cards of pack
                            <ktm:tooltip place="right" text="with at least 5% overall usage in last three cardpools"/>
                        </h4>
                        <div id="spot_used_runner">
                            <div class="alert alert-danger text-center top-buffer-big hidden" role="alert" id="low-deck-runner">
                                Not enough deck data
                            </div>
                            <div class="alert alert-warning text-center top-buffer-big hidden" role="alert" id="no-deck-runner">
                                No notable cards
                            </div>
                            <div class="row">
                                <div class="col-xs-4 spotlight-card" id="spot_used_runner_1"></div>
                                <div class="col-xs-4 spotlight-card spinner" id="spot_used_runner_2"></div>
                                <div class="col-xs-4 spotlight-card" id="spot_used_runner_3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h4>
                            Most used corp cards of pack
                            <ktm:tooltip place="right" text="with at least 5% overall usage in last three cardpools"/>
                        </h4>
                        <div id="spot_used_corp">
                            <div class="alert alert-danger text-center top-buffer-big hidden" role="alert" id="low-deck-corp">
                                Not enough deck data
                            </div>
                            <div class="alert alert-warning text-center top-buffer-big hidden" role="alert" id="no-deck-corp">
                                No notable cards
                            </div>
                            <div class="row">
                                <div class="col-xs-4 spotlight-card" id="spot_used_corp_1"></div>
                                <div class="col-xs-4 spotlight-card spinner" id="spot_used_corp_2"></div>
                                <div class="col-xs-4 spotlight-card" id="spot_used_corp_3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row top-buffer" id="spot-hightlight-row">
                    <div class="col-md-6 col-xs-12">
                        <h4>
                            Runner deck highlights
                            <ktm:tooltip place="right" text="popular and strong deck archetypes"/>
                        </h4>
                        <div class="alert alert-warning text-center top-buffer-big hidden" role="alert" id="no-deckhightlight-runner">
                            No notable decks
                        </div>
                        <div id="runner-deck-highlights-spinner" class="spinner"></div>
                        <table id="runner-deck-highlights" class="table table-condensed notop"></table>
                        <div class="text-center">
                            <a class="btn btn-xs btn-primary" id="button-runner-deck-highlights"
                               onclick="displayMore(deckHighLights['runner'], 'runner-deck-highlights', highlightStartindex['runner'])">more</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h4>
                            Corp deck highlights
                            <ktm:tooltip place="right" text="popular and strong deck archetypes"/>
                        </h4>
                        <div class="alert alert-warning text-center top-buffer-big hidden" role="alert" id="no-deckhightlight-corp">
                            No notable decks
                        </div>
                        <div id="corp-deck-highlights-spinner" class="spinner"></div>
                        <table id="corp-deck-highlights" class="table table-condensed notop"></table>
                        <div class="text-center">
                            <a class="btn btn-xs btn-primary" id="button-corp-deck-highlights"
                               onclick="displayMore(deckHighLights['corp'], 'corp-deck-highlights', highlightStartindex['corp'])">more</a>
                        </div>
                    </div>
                </div>
            </div>

             <!--win rates -->
            <div id="win" class="tab-pane fade in">
                <div class="alert alert-danger text-center top-buffer-big hidden" role="alert" id="low-matches">
                    Not enough match data
                </div>
                <div class="row" id="win-overall-row">
                    <div class="col-md-6 col-md-offset-3 col-xs-12">
                        <h4 class="text-center" style="padding-bottom: 0.5em">
                            Side win rates
                            <ktm:tooltip place="right" text="Data is coming from tournament results uploaded
                             to AlwaysBeRunning.net by NRTM."/>
                        </h4>
                        <div id="win-side" class="spinner"></div>
                    </div>
                </div>
                <div class="row top-buffer" id="win-id-row">
                    <div class="col-md-6 col-xs-12">
                        <h4>
                            Runner win rates
                            <ktm:tooltip place="right" text="with at least 50 recorded matches"/>
                        </h4>
                        <div id="win-runner" class="spinner"></div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h4>
                            Corp win rates
                            <ktm:tooltip place="right" text="with at least 50 recorded matches"/>
                        </h4>
                        <div id="win-corp" class="spinner"></div>
                    </div>
                </div>
            </div>

            <!-- Top tab -->
            <div id="top" class="tab-pane fade in">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <h4>Top 30% runner factions</h4>
                        <div id="chart_div1" class="chart-responsive spinner"></div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h4>Top 30% corp factions</h4>
                        <div id="chart_div2" class="chart-responsive spinner"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <h4>Top 30% runner identities</h4>
                        <div id="chart_div3" class="chart-responsive spinner"></div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h4>Top 30% corp identities</h4>
                        <div id="chart_div4" class="chart-responsive spinner"></div>
                    </div>
                </div>
            </div>

            <!-- all tab -->
            <div id="all" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <h4>All runner factions</h4>
                        <div id="chart_div5" class="chart-responsive spinner"></div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h4>All corp factions</h4>
                        <div id="chart_div6" class="chart-responsive spinner"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <h4>All runner identities</h4>
                        <div id="chart_div7" class="chart-responsive spinner"></div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h4>All corp identities</h4>
                        <div id="chart_div8" class="chart-responsive spinner"></div>
                    </div>
                </div>
            </div>

            <!-- compare tab -->
            <div id="compare" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <h4>Compare runner factions</h4>
                        <div id="chart_div9" class="chart-responsive spinner"></div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h4>Compare corp factions</h4>
                        <div id="chart_div10" class="chart-responsive spinner"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <h4>Compare runner identities</h4>
                        <div id="chart_div11" class="chart-responsive spinner"></div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h4>Compare corp identities</h4>
                        <div id="chart_div12" class="chart-responsive spinner"></div>
                    </div>
                </div>
            </div>

            <!-- decks tab -->
            <div id="decks" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <h4>
                            Runner decks
                            <ktm:tooltip place="right" text="Click on identity name for more information on decks playing that identity."/>
                        </h4>
                        <div id="text_div1" class="list-group spinner"></div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h4>
                            Corp decks
                            <ktm:tooltip place="right" text="Click on identity name for more information on decks playing that identity."/>
                        </h4>
                        <div id="text_div2" class="list-group spinner"></div>
                    </div>
                </div>
            </div>

            <!-- ICE / breakers -->
            <div id="ice" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <h4>
                            ICE breakers (min 5% in decks)
                        </h4>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>card title</th>
                                    <th>pack</th>
                                    <th class="text-center stat-col">
                                        in decks&nbsp;<ktm:tooltip place="bottom" text="percentage of all decks are using the card"/>
                                    </th>
                                    <th class="text-center stat-col">
                                        average used&nbsp;<ktm:tooltip place="bottom" text="average number of the card being used, counting on all decks"/>
                                    </th>
                                    <th class="text-center stat-col">
                                        average used if in deck&nbsp;<ktm:tooltip place="bottom" text="average number of the cards being used,
                                    counting only decks having at least one of the card in question"/>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="breakertable" class="spinner"></tbody>
                        </table>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h4>
                        ICE (min 5% in decks)
                        </h4>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>card title</th>
                                    <th>pack</th>
                                    <th class="text-center stat-col">
                                        in decks&nbsp;<ktm:tooltip place="bottom" text="percentage of all decks are using the card"/>
                                    </th>
                                    <th class="text-center stat-col">
                                        average used&nbsp;<ktm:tooltip place="bottom" text="average number of the card being used, counting on all decks"/>
                                    </th>
                                    <th class="text-center stat-col">
                                        average used if in deck&nbsp;<ktm:tooltip place="bottom" text="average number of the cards being used,
                                    counting only decks having at least one of the card in question"/>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="icetable" class="spinner"></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- most used cards tab -->
            <div id="cards" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <h4>
                            30 most used runner cards in decks with this cardpool
                            <ktm:tooltip place="bottom" text="Most used cards from from tournaments with this cardpool.
                            All tournament legal cards qualify, also from previous expansions."/>
                        </h4>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>card title</th>
                                <th>pack</th>
                                <th class="text-center" colspan="2">used in top decks</th>
                            </tr>
                            </thead>
                            <tbody id="runnertable2" class="spinner"></tbody>
                        </table>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h4>
                            30 most used corp cards in decks with this cardpool
                            <ktm:tooltip place="bottom" text="Most used cards from from tournaments with this cardpool.
                            All tournament legal cards qualify, also from previous expansions."/>
                        </h4>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>card title</th>
                                <th>pack</th>
                                <th class="text-center" colspan="2">used in top decks</th>
                            </tr>
                            </thead>
                            <tbody id="corptable2" class="spinner"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <div th:replace="fragments/googlead :: small"></div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <div th:replace="fragments/head :: scripts"></div>
    <div th:replace="fragments/analytics :: ga"></div>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload=
{'modules':[{'name':'visualization','version':'1.1','packages':
['corechart']}]}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        // Javascript to enable link to tab
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show');
        }

        // Change hash for page-reload
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash;
            window.scrollTo(0,0);
            // google analytics event
            var tabName = $("ul#tabs li.active a").attr('href').split('#')[1];
            ga('send', 'event', 'tabs', tabName);
        });

        // Cluster class for deck archetype clustering
        class Cluster {
            constructor(elements) {
                this.elements = elements;
                this.findCenter();
                this.calculateStrength();
            }
            findCenter() {
                this.center = {x: 0, y: 0};
                for (var i = 0; i < this.elements.length; i++) {
                    this.center.x += this.elements[i].x;
                    this.center.y += this.elements[i].y;
                }
                this.center.x = this.center.x / this.elements.length;
                this.center.y = this.center.y / this.elements.length;
            }
            calculateStrength() {
                this.strength = 0;
                var biggestStrength = 0;
                for (var i = 0; i < this.elements.length; i++) {
                    var rank = this.matcher(this.elements[i].digest, /#(\d+)/);
                    var playerNum = this.matcher(this.elements[i].digest, /#\d+ \/ (\d+)/);
                    var strength = playerNum / Math.pow(rank, 2);
                    if (strength > biggestStrength) {
                        biggestStrength = strength;
                        this.strengthIndex = i;
                    }
                    this.strength += strength;
                }
            }
            matcher(str, regex) {
                var match = str.match(regex);
                if (match !== null) {
                    match = parseInt(match[1]);
                    if (!isNaN(match)) {
                        return match;
                    }
                }
                return 1000;
            }
            merge(cluster) {
                for (var i = 0; i < cluster.elements.length; i++) {
                    this.elements.push(cluster.elements[i]);
                }
                this.findCenter();
                this.calculateStrength();
            }
        }

        // find smallest distance between deck archetype clusters
        function findSmallestDistance(clusters) {
            var smallestDistance = 10000, a = 0, b = 1;
            if (clusters.length > 1) {
                for (var i = 0; i < clusters.length - 1; i++) {
                    for (var u = i + 1; u < clusters.length; u++) {
                        var distance = Math.sqrt(Math.pow(clusters[i].center.x - clusters[u].center.x, 2) + Math.pow(clusters[i].center.y - clusters[u].center.y, 2));
                        if (distance < smallestDistance) {
                            smallestDistance = distance;
                            a = i;
                            b = u;
                        }
                    }
                }
                //console.log("Smallest distance: " + smallestDistance + " - " + clusters[a].elements[0].digest + " - " + clusters[b].elements[0].digest);
            }
            return { distance: smallestDistance, index1: a, index2: b};
        }

        // show decklist highligths
        function printDecks(decklist, minstrength, maxitems = 10, locator, startindex) {
            var counter = 0;
            for (var i = startindex[0]; i < decklist.length; i++) {
                if ((decklist[i].strength < minstrength || maxitems-- < 1) && counter > 2) {
                    return 0;
                }
                $('#'+locator).append($('<tr>', { id: locator+'decklist'+i }))
                $('#'+locator+'decklist'+i).append($('<td>').append($('<img>', {
                    src: '/static/img/ids/'+decklist[i].identity+'.png',
                    style: 'height: 40px'
                })));
                $('#'+locator+'decklist'+i).append($('<td>').append($('<a>', {
                    text: decklist[i].title,
                    href: decklist[i].url
                }), $('<span>', {
                    text: ' by ',
                    style: 'font-size: 80%'
                }), $('<strong>', {
                    text: decklist[i].player,
                    style: 'font-size: 80%'
                }), $('<br>'), $('<em>', { text: decklist[i].influence, style: 'font-size: 80%' })));
                startindex[0]++;
                counter++;
            }
            if (startindex[0] == decklist.length) {
                $('#button-'+locator).hide();
            }
        }

        // display more decklist highlights
        function displayMore(decklist, listLocator, startindex) {
            printDecks(decklist, 0, 3, listLocator, startindex);           
        }

        // turn archetype clusters into decklists
        function getDecks(clusters, deckArray, identity) {
            for (var i = 0; i < clusters.length; i++) {
                if (clusters[i].strength > 5) {
                    // compile influence costing cards
                    var infCounts = clusters[i].elements[clusters[i].strengthIndex].htmlDigest
                            .match(/(\d)x <[a-zA-Z0-9ü=\";\/\.\-\' !\&\(\)]+>[A-zA-Z0-9ü\'\" :\-\.!\&\(\)]+<\/a>.*<span class=\"influence inf-[a-z-]+\">•/g)
                            .map(function(x) { return x.substr(0, x.indexOf('x')); });
                    var infNums = clusters[i].elements[clusters[i].strengthIndex].htmlDigest
                            .match(/<span class=\"influence inf-[a-z-]+\">([• ]+)/g)
                            .map(function(x) { return x.split("•").length-1; });
                    var infCards = clusters[i].elements[clusters[i].strengthIndex].htmlDigest
                            .match(/([A-zA-Z0-9ü\'\" :\-\.!\&\(\)]+)<\/a>.*<span class=\"influence inf[a-z-]+\">•/g)
                            .map(function(x) { return x.substr(0, x.indexOf('<')); });
                    var influence = [];
                    for (var u = 0; u < infCounts.length; u++) {
                        influence.push({count: infCounts[u], inf: infNums[u], card: infCards[u]});
                    }
                    influence.sort(function(a,b) {return b.inf - a.inf});
                    var player = clusters[i].elements[clusters[i].strengthIndex].shortHtmlDigest
                                .match(/<\/strong> by ([a-zA-Z0-9 \*\.\-\/\(\):_,é]+)<br/);
                    if (player == null) {
                        player = '';
                    } else {
                        player = player[1];
                    }

                    // adding deck to list
                    deckArray.push({
                        title: clusters[i].elements[clusters[i].strengthIndex].deckTitle,
                        url: clusters[i].elements[clusters[i].strengthIndex].deckURL,
                        strength: clusters[i].strength,
                        identity: identity,
                        player: player,
                        influence: influence.map(function(x) { return x.count + "x " + x.card}).join(", ")
                    })
                }
            }
        }

        function simplifyText(text) {
            return text.toLowerCase().replace(/ /g, "-").replace(/[^0-9a-z-]/gi, '');
        }

        // init chart data variables
        var runnerTopFactionData = [['faction', 'standings']], runnerTopFactionColors = [],
            runnerAllFactionData = [['faction', 'standings']], runnerAllFactionColors = [],
            runnerTopIdentityData = [['identity', 'standings']], runnerTopIdentityColors = [],
            runnerAllIdentityData = [['identity', 'standings']], runnerAllIdentityColors = [],
            runnerCompareFactionData = [['faction', 'all', 'top 30%']],
            runnerCompareIdentityData = [['faction', 'all', 'top 30%']],
            corpTopFactionData = [['faction', 'standings']], corpTopFactionColors = [],
            corpAllFactionData = [['faction', 'standings']], corpAllFactionColors = [],
            corpTopIdentityData = [['identity', 'standings']], corpTopIdentityColors = [],
            corpAllIdentityData = [['identity', 'standings']], corpAllIdentityColors = [],
            corpCompareFactionData = [['faction', 'all', 'top 30%']],
            corpCompareIdentityData = [['faction', 'all', 'top 30%']],
            runnerWinrateData = [['identity', 'win rate', { role: 'style' }, 'timed win rate', { role: 'style' }, { role: 'interval' }, { role: 'interval' }]],
            runnerWinrateColors = [],
            corpWinrateData = [['identity', 'win rate', { role: 'style' }, 'timed win rate', { role: 'style' }, { role: 'interval' }, { role: 'interval' }]],
            corpWinrateColors = [],
            winrateData = [['outcome', 'fraction'],
                ['corporation win', 0], ['corporation timed win', 0], ['draw', 0], ['runner timed win', 0], ['runner win', 0]],
            matchCount = 0,
            deckHighLights = { runner:[], corp: [] },
            deckCallCounter = { runner: 0, corp: 0 },
            highlightStartindex = { runner: [0], corp: [0] };
            dpname = encodeURIComponent([[${DPname}]]);

        // hide deck card data in spotlight
        if ([[${DPname}]] === "Last 3 aggregated" || [[${DPname}]].includes("MWL")) {
            $('#spot-deck-row').addClass('hidden');
            //$('#spot-hightlight-row').addClass('hidden');
        }

        // enable side win rates from Uprising
        if ([[${DPindex}]] == -1 || [[${#lists.size(cardpools)}]] - [[${DPindex}]] < 47) {
            $('#win-overall-row').addClass('hidden');
        }

        // redraw charts on window resize
        $(window).resize(function(){
            drawTournamentCharts();
        });

        // init google chart
        google.load('visualization', '1.0', {'packages':['corechart']});
        google.setOnLoadCallback(populateTournamentCharts(dpname));

        function showSpotLight(data, allStandings, topStandings, allDecks, side) {
            // most popular IDs
            data.sort(tournamentShorters.byAllStanding);
            addCardStat('#spot_popular_'+side, data[0], allStandings, topStandings);

            // most impressive IDs
            data.sort(tournamentShorters.byTopAllFractionStanding);
            for (var i = 0, len = data.length; i < len; i++) {
                if (data[i].allStandingCount / allStandings > 0.05) { // at least 4% all presence
                    addCardStat('#spot_impressive_'+side, data[i], allStandings, topStandings);
                    break;
                }
            }

            // most used cards, hide in case of last-3 and "MWL" metas
            if ([[${DPname}]] !== "Last 3 aggregated" && ![[${DPname}]].includes("MWL") && allDecks > 15) {
                $.ajax({
                    url: "/JSON/Cards/" + side + "/" + dpname,
                    dataType: "json",
                    async: true,
                    success: function (cardData) {
                        for (var i = 0; i < 3; i++) {
                            if (cardData[i].deckfraction > 0.05) {
                                $('#spot_used_'+side+'_'+(i+1)).append($('<a>', {
                                    href: '/Cards/' + cardData[i].cardtitle + '/'
                                }).append($('<img>', {
                                    src: imageURL(cardData[i].cardtitle)
                                }), $('<div>', {
                                    class: 'spotlight-title',
                                    text: cardData[i].cardtitle
                                })), $('<div>', {
                                    text: 'all: ' + percentageToString(cardData[i].deckfraction) +
                                    ' - top: ' + percentageToString(cardData[i].topdeckfraction)
                                }));
                            } else {
                                if (i == 0) {
                                    $('#no-deck-'+side).removeClass('hidden');
                                }
                                break;
                            }
                        }
                        $('#spot_used_'+side+'_2').removeClass('spinner');
                    }
                });
            } else {
                $('#spot_used_'+side+'_2').removeClass('spinner');
                $('#low-deck-'+side).removeClass('hidden');
            }

            // decklist highlights
            data.sort(tournamentShorters.byAllDeck);
            for (var i = 0; i < data.length; i++) {
                if (data[i].allDeckCount >= 8) {
                    //console.log("Processing ID: " + data[i].title);
                    deckCallCounter[side]++;
                    $.ajax({
                        url: "/JSON/Identity/" + [[${DPname}]] + "/" + data[i].title,
                        dataType: "json",
                        async: true,
                        success: function(dataID) {
                            //console.log("ID data loaded: " + dataID.identity);

                            var clusters = [], aggData;
                            for (var i = 0; i < dataID.decks.length; i++) {
                                clusters.push(new Cluster([dataID.decks[i]]));
                            }

                            aggData = findSmallestDistance(clusters);
                            while (clusters.length > 2 && aggData.distance < 20) {
                                clusters[aggData.index1].merge(clusters[aggData.index2]);
                                clusters.splice(aggData.index2, 1);
                                aggData = findSmallestDistance(clusters);
                                //console.log("Agglomerating, smallest distance: " + aggData.distance);
                            }
                            //console.log("Clustering finished for " + dataID.identity);
                            //console.log(clusters);
                            getDecks(clusters, deckHighLights[side], simplifyText(dataID.identity));
                            if (--deckCallCounter[side] == 0) {
                                deckHighLights[side].sort(function(a,b) {return b.strength - a.strength});
                                $('#'+side+'-deck-highlights-spinner').removeClass('spinner');
                                printDecks(deckHighLights[side], 20, 10, side+'-deck-highlights', highlightStartindex[side]);
                            }

                        }
                    });
                }
            }
            if (deckCallCounter[side] == 0 && deckHighLights[side].length == 0) {
                $('#no-deckhightlight-'+side).removeClass('hidden');
                $('#'+side+'-deck-highlights-spinner').removeClass('spinner');
                $('#button-'+side+'-deck-highlights').addClass('hidden');
            }
        }

        /*]]>*/
    </script>
</body>
</html>