<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <h3 th:text="${DPname}"></h3>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#top">Factions / identities, top</a></li>
            <li><a data-toggle="tab" href="#all">Factions / identities, all</a></li>
            <li><a data-toggle="tab" href="#compare">Compare top - all</a></li>
            <li><a data-toggle="tab" href="#decks">Decks</a></li>
            <li><a data-toggle="tab" href="#cards">Most used cards</a></li>
        </ul>

        <div class="tab-content">

            <!-- Top tab -->
            <div id="top" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Top 30% runner factions</h4>
                        <div id="chart_div1" class="pie-chart"></div>
                    </div>
                    <div class="col-md-6">
                        <h4>Top 30% corp factions</h4>
                        <div id="chart_div2" class="pie-chart"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Top 30% runner identities</h4>
                        <div id="chart_div3" class="pie-chart"></div>
                    </div>
                    <div class="col-md-6">
                        <h4>Top 30% corp identities</h4>
                        <div id="chart_div4" class="pie-chart"></div>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-md-6">
                        <div th:replace="fragments/help :: dptop"></div>
                    </div>
                </div>
            </div>

            <!-- all tab -->
            <div id="all" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-6">
                        <h4>All runner factions</h4>
                        <div id="chart_div5" class="pie-chart"></div>
                    </div>
                    <div class="col-md-6">
                        <h4>All corp factions</h4>
                        <div id="chart_div6" class="pie-chart"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>All runner identities</h4>
                        <div id="chart_div7" class="pie-chart"></div>
                    </div>
                    <div class="col-md-6">
                        <h4>All corp identities</h4>
                        <div id="chart_div8" class="pie-chart"></div>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-md-6">
                        <div th:replace="fragments/help :: dpall"></div>
                    </div>
                </div>
            </div>

            <!-- compare tab -->
            <div id="compare" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Compare runner factions</h4>
                        <div id="chart_div9" class="pie-chart"></div>
                    </div>
                    <div class="col-md-6">
                        <h4>Compare corp factions</h4>
                        <div id="chart_div10" class="pie-chart"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Compare runner identities</h4>
                        <div id="chart_div11" class="pie-chart"></div>
                    </div>
                    <div class="col-md-6">
                        <h4>Compare corp identities</h4>
                        <div id="chart_div12" class="pie-chart"></div>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-md-6">
                        <div th:replace="fragments/help :: dpcompare"></div>
                    </div>
                </div>
            </div>

            <!-- decks tab -->
            <div id="decks" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Runner decks</h4>
                        <div id="text_div1" class="list-group"></div>
                    </div>
                    <div class="col-md-6">
                        <h4>Corp decks</h4>
                        <div id="text_div2" class="list-group"></div>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-md-6">
                        <div th:replace="fragments/help :: dpdecks"></div>
                    </div>
                </div>
            </div>

            <!-- most used cards tab -->
            <div id="cards" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Most used runner cards from pack</h4>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>card title</th>
                                <th class="text-center" colspan="2">used in top decks</th>
                                <th class="text-center" colspan="2">used in decks</th>
                            </tr>
                            </thead>
                            <tbody id="runnertable"></tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h4>Most used corp cards from pack</h4>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>card title</th>
                                <th class="text-center" colspan="2">used in top decks</th>
                                <th class="text-center" colspan="2">used in decks</th>
                            </tr>
                            </thead>
                            <tbody id="corptable"></tbody>
                        </table>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-6">
                        <h4>20 most used runner cards in decks with this cardpool</h4>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>card title</th>
                                <th>pack</th>
                                <th class="text-center" colspan="2">used in top decks</th>
                            </tr>
                            </thead>
                            <tbody id="runnertable2"></tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h4>20 most used corp cards in decks with this cardpool</h4>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>card title</th>
                                <th>pack</th>
                                <th class="text-center" colspan="2">used in top decks</th>
                            </tr>
                            </thead>
                            <tbody id="corptable2"></tbody>
                        </table>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-md-6">
                        <div th:replace="fragments/help :: dpcards"></div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <div th:replace="fragments/head :: scripts"></div>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        // Javascript to enable link to tab
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
        }

        // Change hash for page-reload
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash;
            window.scrollTo(0,0);
        });

        $('#chart_div1').addClass('spinner');
        $('#chart_div2').addClass('spinner');
        $('#chart_div3').addClass('spinner');
        $('#chart_div4').addClass('spinner');
        $('#chart_div5').addClass('spinner');
        $('#chart_div6').addClass('spinner');
        $('#chart_div7').addClass('spinner');
        $('#chart_div8').addClass('spinner');
        $('#chart_div9').addClass('spinner');
        $('#chart_div10').addClass('spinner');
        $('#chart_div11').addClass('spinner');
        $('#chart_div12').addClass('spinner');
        $('#text_div1').addClass('spinner');
        $('#text_div2').addClass('spinner');
        $('#runnertable').addClass('spinner');
        $('#corptable').addClass('spinner');
        $('#runnertable2').addClass('spinner');
        $('#corptable2').addClass('spinner');

        google.load('visualization', '1.0', {'packages':['corechart']});

        google.setOnLoadCallback(drawCharts);

        function drawCharts() {
            var dpname = encodeURIComponent([[${DPname}]]);
            var basepiecharts = "/DataTable/DPStats/";
            var basebarcharts = "/DataTable/DPStats/Compare/";
            var baselist = "/JSON/DPStats/Identities/";
            var basecompare = "/MDSIdentity/" + dpname + "/";
            var basecardtable = "/JSON/Cards/";
            drawPieChart(basepiecharts + "Top/runner/faction/" + dpname, 'chart_div1');
            drawPieChart(basepiecharts + "Top/corp/faction/" + dpname, 'chart_div2');
            drawPieChart(basepiecharts + "Top/runner/identity/" + dpname, 'chart_div3');
            drawPieChart(basepiecharts + "Top/corp/identity/" + dpname, 'chart_div4');
            drawPieChart(basepiecharts + "All/runner/faction/" + dpname, 'chart_div5');
            drawPieChart(basepiecharts + "All/corp/faction/" + dpname, 'chart_div6');
            drawPieChart(basepiecharts + "All/runner/identity/" + dpname, 'chart_div7');
            drawPieChart(basepiecharts + "All/corp/identity/" + dpname, 'chart_div8');
            drawBarChart(basebarcharts + "runner/faction/" + dpname, 'chart_div9');
            drawBarChart(basebarcharts + "corp/faction/" + dpname, 'chart_div10');
            drawBarChart(basebarcharts + "runner/identity/" + dpname, 'chart_div11');
            drawBarChart(basebarcharts + "corp/identity/" + dpname, 'chart_div12');
            listIdentities(baselist + "runner/" + dpname, "#text_div1", basecompare);
            listIdentities(baselist + "corp/"+ dpname, "#text_div2", basecompare);
            loadCardPackTable(basecardtable + "Cardpack/runner/" + dpname, "#runnertable");
            loadCardPackTable(basecardtable + "Cardpack/corp/" + dpname, "#corptable");
            loadCardPoolTable(basecardtable + "Cardpool/runner/" + dpname, "#runnertable2");
            loadCardPoolTable(basecardtable + "Cardpool/corp/" + dpname, "#corptable2");
            window.scrollTo(0,0);
        }

        function drawPieChart(urlvalue, elementid) {

            var slices = new Array;

            var jsonData = $.ajax({
                url: urlvalue,
                dataType: "json",
                async: false,
                success: function(data) {
                    $.each(data.rows, function (index, element) {
                        slices.push({color : element.c[2].v});
                    });
                    $('#'+elementid).removeClass('spinner');
                }
            }).responseText;

            var data = new google.visualization.DataTable(jsonData);

            var options = {
                'width':555,
                'height':300,
                'pieSliceText': 'percentage',
                'chartArea': { top: 10, width:'100%', height:'90%' },
                'slices': slices
            };

            var chart = new google.visualization.PieChart(document.getElementById(elementid));
            chart.draw(data, options);
        }

        function drawBarChart(urlvalue, elementid) {

            var jsonData = $.ajax({
                url: urlvalue,
                dataType: "json",
                async: false
            }).responseText;

            var data = new google.visualization.DataTable(jsonData);
            var haxis;
            if ($.parseJSON(jsonData).rows.length > 6) {
                haxis = 'none';
            } else {
                haxis = 'out';
            }

            var options = {
                'width':555,
                'height':300,
                'vAxis': {format:'#,#%'},
                'hAxis': { textPosition: haxis }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById(elementid));
            chart.draw(data, options);
            $('#'+elementid).removeClass('spinner');
        }

        function listIdentities(urlvalue, elementid, linkurl) {
            var jsonData = $.ajax({
                url: urlvalue,
                dataType: "json",
                async: false,
                success: function(data) {
                    $.each(data, function(index, element) {
                        $(elementid).append($('<a>', {
                            class: 'list-group-item',
                            text: element.title,
                            href: linkurl + element.title
                        }).append($('<span>', {
                            class: 'badge',
                            text: element.decknum
                        })));
                    });
                    $(elementid).removeClass('spinner');
                }
            });
        }

        function loadCardPackTable(urlvalue, elementid) {
            var jsonData = $.ajax({
                url: urlvalue,
                dataType: "json",
                async: false,
                success: function(data) {
                    $.each(data, function(index, element) {
                        $(elementid).append($('<tr>').append($('<td>', {
                            text: element.cardtitle
                        }), $('<td>', {
                            text: element.intopdecks,
                            class: 'text-right'
                        }), $('<td>', {
                            text: '(' + Math.round(element.topdeckfraction * 100) + '%)',
                            class: 'text-left'
                        }), $('<td>', {
                            text: element.indecks,
                            class: 'text-right'
                        }), $('<td>', {
                            text: '(' + Math.round(element.deckfraction * 100) + '%)',
                            class: 'text-left'
                        })));
                    });
                    $(elementid).removeClass('spinner');
                }
            });
        }

        function loadCardPoolTable(urlvalue, elementid) {
            var jsonData = $.ajax({
                url: urlvalue,
                dataType: "json",
                async: false,
                success: function(data) {
                    $.each(data, function(index, element) {
                        $(elementid).append($('<tr>').append($('<td>', {
                            text: element.cardtitle
                        }), $('<td>').append($('<em>', {
                            text: element.cardpacktitle
                        })), $('<td>', {
                            text: element.intopdecks,
                            class: 'text-right'
                        }), $('<td>', {
                            text: '(' + Math.round(element.topdeckfraction * 100) + '%)',
                            class: 'text-left'
                        })));
                    });
                    $(elementid).removeClass('spinner');
                }
            });
        }
        /*]]>*/
    </script>
</body>
</html>