<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <a name="top" class="anchor">&nbsp;</a>
        <h3 class="page-header">
            <div th:replace="fragments/socialicons :: icons"></div>
            Statistics on tournament cardpools
        </h3>
        <div class="row top-buffer">
            <div class="col-md-8 col-xs-12">
                <div class="col-xs-12">
                    <h4>
                        Runner factions over time
                        <div class="btn-group btn-group-xs" role="group" aria-label="runner data">
                            <button id="runnertop" type="button" class="btn btn-default active">Top 30%</button>
                            <button id="runnerall" type="button" class="btn btn-default">All</button>
                            <button id="runnerboth" type="button" class="btn btn-default">Both</button>
                        </div>
                        <ktm:tooltip place="right" text="The charts show the popularity of factions over time.
                        Time is represented by tournament legal cardpool."/>
                    </h4>
                    <div id="chart_div1" class="chart-responsive spinner"></div>
                </div>
                <div class="col-xs-12">
                    <h4>
                        Corp factions over time
                        <div class="btn-group btn-group-xs" role="group" aria-label="runner data">
                            <button id="corptop" type="button" class="btn btn-default active">Top 30%</button>
                            <button id="corpall" type="button" class="btn btn-default">All</button>
                            <button id="corpboth" type="button" class="btn btn-default">Both</button>
                        </div>
                        <ktm:tooltip place="right" text="The charts show the popularity of factions over time.
                        Time is represented by tournament legal cardpool."/>
                    </h4>
                    <div id="chart_div2" class="chart-responsive spinner"></div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <!--Tournament Drilldown-->
                <div class="col-xs-12">
                    <h4>
                        Tournament Drilldown
                        <ktm:tooltip place="top" text="Click on an expansion name for more information on tournaments with that cardpool."/>
                    </h4>
                    <div class="list-group" id="drilldowns">
                        <a href="/DPStats/Last%203%20aggregated" class="list-group-item list-group-item-info"><em>last 3 aggregated</em></a>
                        <a th:each="cardpool : ${cardpools}" th:text="${cardpool}" th:href="@{/DPStats/__${cardpool}__/}" class="list-group-item"></a>

                    </div>
                    <div class="text-center">
                        <a class="btn-default btn" id="more-button" onclick="clickmore();">more...</a>
                    </div>
                    <div class="list-group" id="drilldowns-more">
                        <div id="more-cardpool" class="hidden">
                            <a th:each="cardpool : ${cardpoolsmore}" th:text="${cardpool}" th:href="@{/DPStats/__${cardpool}__/}" class="list-group-item"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="panel panel-default top-buffer" id="infopanel">
                        <div class="panel-heading">Welcome</div>
                        <div class="panel-body text-justify">
                            <p>
                                Welcome to <strong>Know the Meta</strong>. This site provides statistical information
                                on the cardgame <strong>Android: Netrunner</strong>.
                            </p>
                            <p>
                                <strong>Know the Meta</strong> has data on what kind of factions, identities, decks
                                and cards are being played at tournaments.
                            </p>
                            <p>
                                Keep posting your tournament decklists to <strong>Acoo.net</strong> or <strong>Stimhack</strong>,
                                so <strong>Know the Meta</strong> can provide the information you seek.
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <a href="http://www.acoo.net/" target="_blank" rel="nofollow">
                                            <img th:src="@{/static/img/acoo-logo.png}"/>
                                        </a>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <a href="http://stimhack.com/tournament-decklists/" target="_blank" rel="nofollow">
                                            <img th:src="@{/static/img/stimhack-logo.png}"/>
                                        </a>
                                     </div>
                                </div>
                            </p>
                        </div>
                    </div>
                    <p class="text-center">
                        <small>last update: <span th:text="${lastUpdate}"></span></small>
                    </p>
                </div>
            </div>
        </div>
        <h3 class="page-header">Latest blog entries <a href="/RSS/blog"><i class="fa fa-rss-square"></i></a></h3>
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="row" id="blogs">
                    <div class="col-xs-12" th:each="blog : ${blogs}">
                        <div class="row">
                            <div class="col-md-3 teaser-col">
                                <a th:href="@{/Blog/__${blog.url}__}"><img th:src="${blog.imageUri}" th:alt="${blog.title}"/></a>
                            </div>
                            <div class="col-md-9 teaser-col">
                                <h5>
                                    <a th:href="@{/Blog/__${blog.url}__}" th:text="${blog.title}"></a><br/>
                                    <small><span th:text="${blog.formattedDate}"></span> - <span th:text="${blog.pack}"></span></small>
                                </h5>
                                <div th:utext="${blog.teaser}" class="text-justify"></div>
                                <a th:href="@{/Blog/__${blog.url}__}">Read more</a>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">

            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <div th:replace="fragments/head :: scripts"></div>

    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        window.scrollTo(0,0);

        $('.btn-group-xs button').attr('disabled','disabled');

        google.setOnLoadCallback(loadFactionData);
        
        var runnerData = [['DP', 'shaper top', 'shaper all', 'anarch top', 'anarch all', 'criminal top', 'criminal all',
                'adam top', 'adam all', 'apex top', 'apex all', 'sunny-lebeau top', 'sunny-lebeau all']],
            corpData = [['DP', 'jinteki top', 'jinteki all', 'nbn top', 'nbn all', 'haas-bioroid top', 'haas-bioroid all',
                'weyland-consortium top', 'weyland-consortium all']],
            runnerOption = 'top', corpOption = 'top', showmore = false;

        $(window).resize(function(){
            drawFactionChart(runnerData, runnerFactions, "chart_div1", runnerOption, showmore);
            drawFactionChart(corpData, corpFactions, "chart_div2", corpOption, showmore);
        });

        // button triggers
        $('#runnertop').click(function() {
            runnerOption = 'top';
            drawFactionChart(runnerData, runnerFactions, "chart_div1", runnerOption, showmore);
        });
        $('#runnerall').click(function() {
            $('#runnertop').removeClass('active');
            runnerOption = 'all';
            drawFactionChart(runnerData, runnerFactions, "chart_div1", runnerOption, showmore);
        });
        $('#runnerboth').click(function() {
            $('#runnertop').removeClass('active');
            runnerOption = 'both';
            drawFactionChart(runnerData, runnerFactions, "chart_div1", runnerOption, showmore);
        });
        $('#corptop').click(function() {
            corpOption = 'top';
            drawFactionChart(corpData, corpFactions, "chart_div2", corpOption, showmore);
        });
        $('#corpall').click(function() {
            $('#corptop').removeClass('active');
            corpOption = 'all';
            drawFactionChart(corpData, corpFactions, "chart_div2", corpOption, showmore);
        });
        $('#corpboth').click(function() {
            $('#corptop').removeClass('active');
            corpOption = 'both';
            drawFactionChart(corpData, corpFactions, "chart_div2", corpOption, showmore);
        });

        function clickmore () {
            document.getElementById("more-cardpool").className = "";
            document.getElementById("more-button").className = "hidden";
            showmore = true;
            drawFactionChart(runnerData, runnerFactions, "chart_div1", runnerOption, showmore);
            drawFactionChart(corpData, corpFactions, "chart_div2", corpOption, showmore);
        }

        /*]]>*/
    </script>
    <div th:replace="fragments/analytics :: ga"></div>
</body>
</html>