<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <h3 class="page-header">Information</h3>
        <div class="row">
            <div class="col-md-6">
                <h4>Available data</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>cardpool up to</th>
                            <th class="text-center">tournaments</th>
                            <th class="text-center">decks</th>
                            <th class="text-center">rankings</th>
                        </tr>
                    </thead>
                    <tbody id="cptable" class="spinner"></tbody>
                </table>
                <p>Last update: <span th:text="${lastUpdate}"></span></p>
                <p>Parsed information - tournaments: <span th:text="${tournamentCount}"></span> -
                    decks: <span th:text="${deckCount}"></span> - rankings: <span th:text="${rankingCount}"></span></p>
            </div>
            <div class="col-md-6">
                <div class="top-buffer-big hidden-md hidden-lg"></div>
                <h4>Contact</h4>
                <div class="top-buffer">
                    <p>This site is created by <strong>Necro</strong>.</p>
                    <p>You can contact me via: knowthemeta ( at ) gmail.com</p>
                    <p>All ideas, suggestions, feedback are welcome. Keep running.</p>
                    <p>Bugs and feaure requests: <a href="https://github.com/madarasz/NetrunnerMeta/issues" target="_blank"><img th:src="@{/static/img/github.png}"/></a></p>
                </div>
                <h4 class="top-buffer-big">Acknowledgements</h4>
                <div class="top-buffer">
                    <p>
                        I gather information from <a href="http://acoo.net" target="_blank">Acoo</a> and
                        <a href="http://stimhack.com" target="_blank">Stimhack</a> in an automated way with their consent.<br/>
                        I also use <a href="http://netrunnerdb.com" target="_blank">NetrunnerDB</a>'s cool API and card images.<br/>
                        Netrunner glyphs by <a href="https://github.com/MWDelaney/Netrunner-Icon-Font">MW Delaney</a>.
                    </p>
                    <p>
                        I appreciate if you support them as well.
                    </p>
                    <p>
                        I am using the MDSJ library.<br />
                        <small>Algorithmics Group. MDSJ: Java Library for Multidimensional Scaling (Version 0.2).
                            Available at <a href="http://www.inf.uni-konstanz.de/algo/software/mdsj/" target="_blank">http://www.inf.uni-konstanz.de/algo/software/mdsj/</a>. University of Konstanz, 2009.</small>
                    </p>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <div th:replace="fragments/head :: scripts"></div>
    <script th:inline="javascript">
        fillInfotable();
    </script>
    <div th:replace="fragments/analytics :: ga"></div>
</body>
</html>