<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <div class="page-header">
            <h3><a th:href="@{/DPStats/__${DPname}__#decks}"><span th:text="${DPname}"></span></a> > </h3>
            <h4><a th:href="@{/Cards/__${identity}__/}"><span th:text="${identity}"></span></a> - <span id="deck_number"></span> decks</h4>
        </div>

        <!--MDS and decklist-->
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h5 class="text-center">Deck similarity matrix</h5>
                <div id="chart_div1" class="chart-responsive spinner"></div>
                <div class="more-padding">
                    <small>
                        <div class="row">
                            <div class="col-xs-6">
                                <span class="glyphicon glyphicon-one-fine-star"></span> top deck<br />
                                <span class="glyphicon glyphicon-one-fine-dot"></span> non-top deck
                            </div>
                            <div class="col-xs-6 hidden" id="last3">
                                <span class="glyphicon glyphicon-stop last3-1"></span>
                                <a th:href="@{/MDSIdentity/__${cardpools[0]}__/__${identity}__}">
                                    <span th:text="${cardpools[0]}"></span>
                                </a>
                                <br/>
                                <span class="glyphicon glyphicon-stop last3-2"></span>
                                <a th:href="@{/MDSIdentity/__${cardpools[1]}__/__${identity}__}">
                                    <span th:text="${cardpools[1]}"></span>
                                </a>
                                <br/>
                                <span class="glyphicon glyphicon-stop last3-3"></span>
                                <a th:href="@{/MDSIdentity/__${cardpools[2]}__/__${identity}__}">
                                    <span th:text="${cardpools[2]}"></span>
                                </a>
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-xs-12">
                                    Similar decks are placed close to each other on the chart.<br />
                                    Decks with a lot of differencies are spread out far apart.<br />
                                    A dense cluster of points signify a deck archetype.
                            </div>
                        </div>
                    </small>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div id="deck_data">
                    <div class="text-center top-buffer-big">
                        <small>Click a point on the chart and select <kbd>See decklist</kbd> to get the list of cards.</small>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <!--Average card usage stats-->
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h4>Average card usage in identity</h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>card title</th>
                        <th>pack</th>
                        <th class="text-center stat-col">
                            in decks&nbsp;<ktm:tooltip place="bottom" text="percentage of all decks are using the card"/>
                        </th>
                        <th class="text-center stat-col">
                            average used&nbsp;<ktm:tooltip place="bottom" text="average number of the card being used, counting on all decks"/>
                        </th>
                        <th class="text-center stat-col">
                            average used if in deck&nbsp;<ktm:tooltip place="bottom" text="average number of the cards being used,
                                counting only decks having at least one of the card in question"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="average-table" class="spinner"></tbody>
                </table>
            </div>
            <div class="col-md-6 col-xs-12">
                <h5>&nbsp;</h5>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>card title</th>
                        <th>pack</th>
                        <th class="text-center stat-col">
                            in decks&nbsp;<ktm:tooltip place="bottom" text="percentage of all decks are using the card"/>
                        </th>
                        <th class="text-center stat-col">
                            average used&nbsp;<ktm:tooltip place="bottom" text="average number of the card being used, counting on all decks"/>
                        </th>
                        <th class="text-center stat-col">
                            average used if in deck&nbsp;<ktm:tooltip place="bottom" text="average number of the cards being used,
                                counting only decks having at least one of the card in question"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="average-table2" class="spinner"></tbody>
                </table>
                <div class="top-buffer-big text-center">
                    <div th:replace="fragments/googlead :: blog"></div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <div th:replace="fragments/head :: scripts"></div>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload=
{'modules':[{'name':'visualization','version':'1.1','packages':
['corechart']}]}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        if ([[${DPname}]] === "Last 3 aggregated") {
            $('#last3').removeClass("hidden");
        }

        google.load('visualization', '1.0', {'packages':['corechart']});

        google.setOnLoadCallback(drawCharts);

        var filter = encodeURIComponent([[${DPname}]]) + "/" + encodeURIComponent([[${identity}]]);
        var url = "/DataTable/MDSIdentity/" + filter;
        var tooltipurl = "/JSON/Deck/" + filter;

        $(window).resize(function(){
            drawChart(url, tooltipurl, 'chart_div1');
        });

        function drawCharts() {
            var averageurl1 = "/JSON/Average/" + filter + "/1";
            var averageurl2 = "/JSON/Average/" + filter + "/2";
            drawChart(url, tooltipurl, 'chart_div1');
            fillCardTable(averageurl1, '#average-table', 0);
            fillCardTable(averageurl2, '#average-table2', 0);
        }

        function drawChart(urlvalue, urltooltip, elementid) {

            var jsonDataChart = $.ajax({
                url: urlvalue,
                dataType: "json",
                async: false,
                success: function(data) {
                    $('#deck_number').replaceWith(data.rows.length);
                }
            }).responseText;

            var jsonDataToolTip = $.ajax({
                url: urltooltip,
                dataType: "json",
                async: false
            }).responseText;

            var data = new google.visualization.DataTable(jsonDataChart);

            var options = {
                'legend': 'none',
                'height': 555,
                'chartArea': { width:'100%', height:'100%' },
                'backgroundColor': { strokeWidth: 1 },
                'hAxis' : { gridlines: { count: 0 }, baselineColor: '#fff'},
                'vAxis' : { gridlines: { count: 0 }, baselineColor: '#fff'},
                'tooltip': { trigger: 'selection' }
            };

            var chart = new google.visualization.ScatterChart(document.getElementById(elementid));

            var tooltips = $.parseJSON(jsonDataToolTip);

            // set tooltip
            chart.setAction({
                id: 'sample',
                text: 'See decklist',
                action: function () {
                    selection = chart.getSelection();
                    setDeckInfo(tooltips[selection[0].row].htmlDigest);
                }
            });

            chart.draw(data, options);

            $('#chart_div1').removeClass('spinner');
        }

        function setDeckInfo(htmlvalue) {
            $('#deck_data').replaceWith("<div id=\"deck_data\">" + htmlvalue + "</div>");
        }

        /*]]>*/
    </script>
    <div th:replace="fragments/analytics :: ga"></div>
</body>
</html>