<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Know the Meta</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="../../static/apple-touch-icon.png" />
    <style>
        body {
        padding-top: 50px;
        padding-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../../static/css/main.css" />

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="../../static/jquery-1.11.3.min.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/

        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawCharts);

        function drawCharts() {
            var url = "http://localhost:8080/DataTable/MDSIdentity/" + encodeURIComponent([[${DPname}]]) +
                "/" + encodeURIComponent([[${identity}]]);
            var tooltipurl = "http://localhost:8080/JSON/Deck/" + encodeURIComponent([[${DPname}]]) +
                    "/" + encodeURIComponent([[${identity}]]);
            drawChart(url, tooltipurl, [[${identity}]], 'chart_div1');
            //setDeckInfo("http://localhost:8080/JSON/Deck?url=http%3A%2F%2Fstimhack.com%2Fanr-pro-circuit-austin-tx-20-players%2F%231");
        }

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart(urlvalue, urltooltip, title, elementid) {

            var jsonDataChart = $.ajax({
                url: urlvalue,
                dataType: "json",
                async: false
            }).responseText;

            var jsonDataToolTip = $.ajax({
                url: urltooltip,
                dataType: "json",
                async: false
            }).responseText;

            // Create our data table out of JSON data loaded from server.
            var data = new google.visualization.DataTable(jsonDataChart);

            // Set chart options
            var options = {
                'legend': {position: 'none'},
                'width':700,
                'height':600,
                'tooltip': { trigger: 'selection' }
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.ScatterChart(document.getElementById(elementid));

            var tooltips = $.parseJSON(jsonDataToolTip);
            // set tooltip
            chart.setAction({
                id: 'sample',
                text: 'See decklist',
                action: function () {
                    selection = chart.getSelection();
                    setDeckInfo(tooltips.infos[selection[0].row].htmlDigest);
                }
            });

            chart.draw(data, options);
        }

        function setDeckInfo(htmlvalue) {
                    $('#deck_data').replaceWith("<div id=\"deck_data\">" + htmlvalue + "</div>");
        }
    /*]]>*/
    </script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Know the Meta</a>
        </div>
    </div>
</nav>

<div class="container">
    <h3 class="page-header" th:text="${DPname}"></h3>
    <h4 th:text="${identity}"></h4>
    <div class="row">
        <div class="col-md-6">
            <div id="chart_div1"></div>
        </div>
        <div class="col-md-6">
            <div id="deck_data"></div>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-md-6">
            <button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#infopanel">Help</button>
            <div class="panel panel-default collapse top-buffer" id="infopanel">
                <div class="panel-heading">Deck similarity</div>
                <div class="panel-body">
                    <p>This section gives you information on similarity of decks being played with a
                    certain identity. The information is also filtered for tournaments with deck pool up to a particular
                    data pack / expansion.</p>
                    <p>Similar decks are placed close to each other on the chart, decks with a lot of differencies
                    are spread out far apart.</p>
                    <p>Click a point on the chart and select <em>See decklisk</em> to get the list of cards of the deck.</p>
                    <p><span class="glyphicon glyphicon-one-fine-star"></span> top deck<br />
                    <span class="glyphicon glyphicon-one-fine-dot"></span> non-top deck</p>
                    <p>Top decks are considered to be the decks played by the top 30% ranking players on each tournament.</p>
                    </div>
            </div>
        </div>
    </div>

    <hr />

    <footer>
        <p>&copy; Istvan Madarasz 2015</p>
    </footer>
</div>
    <script src="../../static/js/vendor/bootstrap.min.js"></script>
    <script src="../../static/js/main.js"></script>
</body>
</html>