<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <h3 class="page-header">Coming soon</h3>
        <div class="row">
            <div class="col-md-12">
                <p class="lead"><strong>Know the Meta</strong> will be online soon. Stay tuned!</p>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <div th:replace="fragments/head :: scripts"></div>
</body>
</html>